doctype html
html
  head
    meta(charset='utf-8')
    title ITD
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/in10s.css')
    link(rel='stylesheet', type='text/css', href='css/common.css')
    script.
      <script src="js/jquery-3.4.1.min.js">
    script(src='js/popper.min.js')
    script(src='js/axios.min.js')
    script(src='js/publishitr.js')

  body
    .container
      .row
        .col-md-12
          nav(aria-label='breadcrumb')
            ol.breadcrumb.pl-0
              li.breadcrumb-item
                a(href='javascript:void(0);') Home
              li.breadcrumb-item
                a(href='javascript:void(0);')
                  | Income Tax Returns (Download/Import ITR
                  | Data)
              li.breadcrumb-item.active
                span Import ITR Data
      .row
        .col-md-12.mb-2
          h3 Income Tax Returns
          .mb-5
            .row
              .col-md-12.mb-3
                p To import your ITR data and validate, please upload the respective json
            .clearfix
            .col-md-8
              .row
                .col-md-4.pl-0
                  select.mt-4.form-control(onchange='SelectCheck(this);')
                    option Select an ITR Form
                    option#admOption(value='01') ITR 1
                    option ITR 2
                    option ITR 3
                    option ITR 4
                    option ITR 5
                    option ITR 6
                    option ITR 7
                // <div class="d-none pl-0" style="display:none">
                // <div class="col-md-11 offset-md-1 mt-4 pl-3">
                // <span class="text-justify">For individuals being a resident (other than not ordinarily resident)
                // having total income upto Rs.50 lakh, having Income from Salaries,
                // one house property (single ownership), Interest income and/or
                // Family pension taxable under other sources and agricultural
                // income upto Rs.5 thousand<br>
                // (Not for an individual who is either Director in a company or has
                // invested in unlisted equity shares or has any brought forward /
                // carry forward loss under the head ‘Income from House Property’)</span>
                // </div>
                // <div class="clearfix"></div>
                // <div class="col-md-11 offset-md-1 mt-3 pl-3">
                // <button type="button" class="primaryButton defaultButton px-5 mt-4  uniservenxtcmp_button" value="" myid="pick_an_itr_form_dynamic_id_39" compname="Button" formcomponent="true" id="uniservenxtcmp_button_5" container="" dir="ltr" style="
                // display: block;
                // " usn_routingstatus="yes" selected_page="income_tax_return_1" sourcemyid="pick_an_itr_form_dynamic_id_39" targetmyid="parent">PROCEED With ITR1</button>
                // </div>
                // </div>
            .clearfix
            .row.mt-3
              .col-md-8
                .card
                  .card-body
                    div
                      h5  Import ITR JSON
                      p You can upload your downloaded ITR, only JSON file
                    #upload.mt-5
                      button.attachButton Attach File
                      input#uploadjson(type='file', accept='.json')
                    #uploadcomplete.attachBox
                      .flex-row.w-100
                        .col-md-12.pl-0
                          label#filename.fRM14 Uploading json
                        .col-md-12.pl-0.pr-5
                          .progress.w-100(style='height: 3px;')
                            .progress-bar(role='progressbar', style='width: 100%;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            .col-md-8.mt-4
              .row
                .col-md-6
                  // <button class="largeButton secondaryButton previousIcon iconBefore" (click)="navigate()"> Back </button>
                .col-md-6.text-right
                  button#proceedbtn.primaryButton.largeButton.iconsAfter.nextIcon(onclick='process(document)') Proceed 
    script(src='js/bootstrap.min.js')