doctype html
html
  head
    title= title
    link(rel='css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='css', href='/css/style.css')
  body
    block content