doctype html
html
  head
    meta(charset='utf-8')
    title ITD
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/in10s.css')
    link(rel='stylesheet', type='text/css', href='css/common.css')
    style.
  body
    .container
      .row
        .col-md-12
          nav(aria-label='breadcrumb')
            ol.breadcrumb.pl-0
              li.breadcrumb-item
                a(href='javascript:void(0);') Home
              li.breadcrumb-item
                a(href='javascript:void(0);')
                  | Income Tax Returns (Download/Import Pre-filled
                  | Data)
              li.breadcrumb-item.active
                span Import Pre-filled Data
      .row
        .col-md-12.mb-2
          // <h3>Income Tax Returns</h3>
          .mb-5
            // <div class="row">
            // <div class="col-md-12 mb-3">
            // <p>To import your pre-filled data, please upload the respective json</p>
            // </div>
            // </div>
            .clearfix
            .row.mt-3
              .col-md-8
                .card
                  .card-body
                    div
                      p Correct the errors mentioned below and re-upload the return here
                    #upload.mt-2
                      button.attachButton Attach File
                      input(type='file' , accept='.json')
                      p.mt-2 Only .json files.
                    .bootbox3.mt-3
                      .row
                        .col-md-12
                          label.ml-2 Abc-ITR1.Jason:
                          label.ml-5 23 errors found
                    .clearfix
                    .row
                      .col-md-12.mt-3
                        table.table.table1
                          thead
                            tr
                              th S.No.
                              th Error Description
                              th Suggestion
                          tbody
                            tr
                              td 1.
                              td
                                span Income claimed under the head salaries in Part B TI, but Schedule Salary
                                br
                                span is not filed
                              td
                                span Enter salary amount
                                br
                                span in Schedule Salary
                            tr
                              td 2.
                              td
                                span Income claimed under profit and gain form specified business in Part 
                                br
                                span B TI, but Schedule BP is not filed
                              td
                                span Enter profit and gains
                                br
                                span amount in Schedule BP
                            tr
                              td 3.
                              td
                                span Donee PAN is same as "assesse PAN" or "PAN at Verification" 
                              td
                                span Enter Correct Donee
                            tr
                              td 4.
                              td
                                span Deduction u/s 80G is claimed but details are not provided Schedule 80G.
                              td
                                span Provide detail in
                                br
                                span schedule 80G
                            tr
                              td 5.
                              td
                                span Income claimed under the head salaries in Part B TI, but Schedule Salary
                                br
                                span is not filed
                              td
                                span Enter salary amount
                                br
                                span in Schedule Salary
                .col-md-8.mt-4
                  .row
                    .col-md-6.pl-0
                      button.largeButton.secondaryButton.previousIcon.iconBefore  Back 
          script(src='js/jquery-3.4.1.min.js')
          script(src='js/popper.min.js')
          script(src='js/bootstrap.min.js')
