/*
* A stylesheet for ITD 2.0(Infosys) use with Bootstrap 4.x
* @author: Naga Mohana Rao Manam 
* @Email: naga.mohana@intense.in
* @Project: ITD 2.0 (Infosys)
* @Date: 04/01/2020
*/

/* -------------------------------- Font Settings Start ---------------------------- */
/* Root var */
:root { --first-color:#f6f7fb;
 --secondary-color:#0875e2;
 --primary-text: rgba(0,0,0,0.87);
 --secondary-text:rgba(0,0,0,0.6);
 --panel-color:#fff;
 --panel-indicator:rgba(0,0,0,.54);
 --field-bg:white;
 --error-bg:#cd2026;
 --disabled-input:rgba(0,0,0,0.05);
 --checkbox-bordercolor:rgba(0,0,0,0.5);
 --heading1-fontSize:2.25rem;
 --heading2-fontSize:2rem;
 --heading3-fontSize:1.875rem;
 --heading4-fontSize:1.5rem;
 --heading5-fontSize:1.25rem;
 --heading6-fontSize:1.125rem;
 --body1-fontSize:1.5rem;
 --body2-fontSize:0.875rem;
}
/* roboto-regular */
@font-face { font-family: 'Roboto-Regular'; font-style: normal; font-weight: 400; src: url('../fonts/roboto-regular.eot'); /* IE9 Compat Modes */ src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-regular.svg#Roboto') format('svg'); /* Legacy iOS */ }
/* roboto-medium */
@font-face { font-family: 'Roboto-Medium'; font-style: normal; font-weight: 500; src: url('../fonts/roboto-medium.eot'); /* IE9 Compat Modes */ src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-medium.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-medium.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-medium.svg#Roboto') format('svg'); /* Legacy iOS */ }
/* roboto-bold */
@font-face { font-family: 'Roboto-Bold'; font-style: normal; font-weight: 700; src: url('../fonts/roboto-bold.eot'); /* IE9 Compat Modes */ src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-bold.svg#Roboto') format('svg'); /* Legacy iOS */ }
/* -------------------------------- Font Settings End ---------------------------- */

* { font-family: 'Roboto-Regular'; }
body, html { height: 100%; margin: 0; }
body { background-color: #f6f7fb; color: rgba(0,0,0,0.87); font-family: 'Roboto-Regular'; font-size: 14px; }
/*--------------------Typography  CSS Start--------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-stretch: normal; font-style: normal; letter-spacing: 0px; text-align: left; color: rgba(0, 0, 0, 0.87); }
h1, .h1 { font-family: 'Roboto-Bold'; font-size: 36px; font-weight: 700; line-height: 1.39; }
h2, .h2 { font-family: 'Roboto-Bold'; font-size: 32px; font-weight: 700; line-height: 1.41; }
h3, .h3 { font-family: 'Roboto-Medium'; font-size: 30px; font-weight: 500; line-height: 1.33; }
h4, .h4 { font-family: 'Roboto-Medium'; font-size: 24px; font-weight: 500; line-height: 1.33; }
h5, .h5 { font-family: 'Roboto-Medium'; font-size: 20px; font-weight: 500; line-height: 1.5; }
h6, .h6 { font-family: 'Roboto-Medium'; font-size: 18px; font-weight: 500; line-height: 1.5; }
.subtitle1 { font-family: 'Roboto-Medium'; font-size: 16px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: 0px; text-align: left; color: rgba(0, 0, 0, 0.87); }
.subtitle2 { font-family: 'Roboto-Medium'; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: 0px; text-align: left; color: rgba(0, 0, 0, 0.87); }
.caption, .hintText { font-family: 'Roboto-Regular'; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: 0px; text-align: left; color: rgba(0, 0, 0, 0.87); }
p, .p { line-height: 1.5; margin-bottom: 0; }
/*-------------------- Typography  CSS End--------------------*/

/*-------------------- Iconography CSS Start ---------------------*/
.icon16 { width: 16px; height: 16px; }
.icon18 { width: 18px; height: 18px; }
.icon24 { width: 24px; height: 24px; }
.icon32 { width: 32px; height: 32px; }
.icon48 { width: 48px; height: 48px; }
/*-------------------- Iconography CSS End ---------------------*/

/*-------------------------- Buttons & Links CSS Start --------------------------*/
  /* BUTTON ICONS */
.downloadIcon { background: url(assets/buttonIcons/downloadIcon.svg) no-repeat; }
.editIcon { background: url(assets/buttonIcons/defaultEditIcon.svg) no-repeat; }
.previousIcon { background: url(../images/icons/previous_b.svg) no-repeat; }
.nextIcon { background: url(../images/icons/next_w.svg) no-repeat; }
.addIconPrimary { background: url(assets/buttonIcons/addIconPrimary.svg) no-repeat; }
.addIconPrimary:disabled { background: url(assets/buttonIcons/addIconDisabled.svg) no-repeat; }
.addIconSecondary { background: url(assets/buttonIcons/addIconSecondary.svg) no-repeat; }
.addIconSecondary:disabled { background: url(assets/buttonIcons/addIconDisabled.svg) no-repeat; }
removeIcon { background: url(assets/buttonIcons/removeIcon.svg) no-repeat; }
removeIcon:disabled { background: url(assets/buttonIcons/removeIconDisabled.svg) no-repeat; }
/* BUTTON SIZES (DEFAULT, SAMLL, LARGE) */
/* DEFAULT BUTTON */
.defaultButton { font-family: 'Roboto-Medium'; font-size: 0.875rem; font-size: 14px; font-weight: 500; text-align: center; line-height: 1.36; border-radius: 4px; padding: 0 20px 0; min-height: 36px; min-width: 84px; }
.defaultButton.iconBefore { padding: 0 20px 0 38px; background-position: 16px center; background-size: 18px 18px; }
.defaultButton.iconAfter { padding: 0 38px 0 20px; background-position: right 16px center; background-size: 18px 18px; }
/* SMALL BUTTON */
.smallButton { font-family: 'Roboto-Medium'; font-size: 12px; font-weight: 500; text-align: center; line-height: 1.33; border-radius: 4px; padding: 0 16px 0; min-height: 30px; }
.smallButton.iconBefore { padding: 0 16px 0 30px; background-position: 12px center; background-size: 14px 14px; }
.smallButton.iconAfter { padding: 0 20px 0 38px; background-position: right 12px center; background-size: 14px 14px; }
/* LARGE BUTTON */
.largeButton { font-family: 'Roboto-Medium'; font-size: 1rem; font-weight: 500; text-align: center; line-height: 1.31; border-radius: 4px; padding: 0 24px 0; min-height: 46px; min-width: 98px; }
.largeButton.iconBefore { padding: 0 24px 0 42px;  /* IMAGE SIZE => 22px*22px */ background-position: 20px center; background-size: 22px 22px; }
.largeButton.iconsAfter { padding: 0 42px 0 24px; background-position: right 20px center; background-size: 22px 22px; }
/* BUTTON STYLING (PRIMARY, SECONDARY AND TERTIARY) */
  /* PRIMARY BUTTON */
.primaryButton { box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); background-color: #2a3a8d; color: #ffffff; border: none; }
.primaryButton:hover:enabled { background-color: #223074; }
.primaryButton:disabled { background-color: rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.24); box-shadow: none; border: none; font-weight: 500; }
.primaryButton:focus { border-radius: 6px; border: solid 1px #0875e2; }
.primaryButton.focus-visible { outline: #0875e2 solid 1px; outline-offset: 3px; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); }
.primaryButton:focus:not(.focus-visible) { }
/* SECONDARY BUTTON */
.secondaryButton { color: #2a3a8d; border: solid 1px #2a3a8d; background-color: #transparent; }
.secondaryButton:hover:enabled { background-color: rgba(42, 58, 141, 0.08); }
.secondaryButton:disabled { border: solid 1px rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); }
.secondaryButton.focus-visible { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #2a3a8d; }
.secondaryButton:focus:not(.focus-visible) { outline: none; }
/* TERTIARY BUTTON */
.tertiaryButton { color: #2a3a8d; background-color: transparent; border: none; }
.tertiaryButton:hover:enabled { background-color: rgba(42, 58, 141, 0.08); }
.tertiaryButton:disabled { color: rgba(0, 0, 0, 0.38); }
.tertiaryButton.focus-visible { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); }
.tertiaryButton:focus:not(.focus-visible) { outline: none; }
/* VERTICAL DISTANCE FOR BUTTONS */
.endButtons { margin-top: 32px; }
/* DISTANCE BETWEEN TWO LARGE BUTTONS */
.largeButtonGap { margin-right: 16px; }
/* DISTANCE BETWEEN DEFAULT BUTTONS */
.defualtButtonGap { margin-right: 8px; }
/* DISTANCE BETWEEN SMALL BUTTONS */
.smallButtonGap { margin-right: 8px; }
/* COPY BUTTON */
.copyButton { font-family: 'Roboto-Medium'; background: url(assets/buttonIcons/copyIcon.png) no-repeat; background-position: 12px center; background-size: 14px 14px; padding: 0 16px 0 30px; font-size: 12px; border-radius: 4px; height: 30px; font-weight: 500; text-align: center; line-height: 1.33; vertical-align: middle; border: 1px solid #0875e2; border: 1px solid var(--secondary-color); background-color: transparent; color: #0875e2; color: var(--secondary-color); }
.copyButton:hover:enabled { background-color: rgba(8, 117, 226, 0.08); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
.copyButton:disabled { border: 1px solid rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); background: url(assets/buttonIcons/copyIconDisabled.png) no-repeat; background-position: 12px center; background-size: 14px 14px; }
.copyButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
/* EDIT BUTTON */
.editButton { font-family: 'Roboto-Medium'; background: url(../images/icons/edit_ic.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; padding: 0 16px 0 30px; font-size: 12px; border-radius: 4px; height: 30px; font-weight: 500; text-align: center; line-height: 1.33; vertical-align: middle; border: 1px solid #0875e2; border: 1px solid var(--secondary-color); background-color: transparent; color: var(--secondary-color); }
.editButton:hover:enabled { background-color: rgba(8, 117, 226, 0.08); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
.editButton:disabled { border: 1px solid rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); background: url(../images/icons/edit_ic_disabled.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; }
.editButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
/* ADD DETAILS BUTTON */
.addDetailsButton { font-family: 'Roboto-Medium'; background: url(../images/icons/add_ic.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; padding: 0 16px 0 30px; font-size: 12px; border-radius: 4px; height: 30px; font-weight: 500; text-align: center; line-height: 1.33; vertical-align: middle; border: 1px solid #0875e2; border: 1px solid var(--secondary-color); background-color: transparent; color: #0875e2; color: var(--secondary-color); }
.addDetailsButton:hover:enabled { background-color: rgba(8, 117, 226, 0.08); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
.addDetailsButton:disabled { border: 1px solid rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); background: url(../images/icons/add_ic_disabled.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; }
.addDetailsButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
/* DELETE BUTTON */
.deleteButton { font-family: 'Roboto-Medium'; background: url(../images/icons/delete_ic.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; padding: 0 16px 0 30px; font-size: 12px; border-radius: 4px; height: 30px; font-weight: 500; text-align: center; line-height: 1.33; border: 1px solid #cd2026; border: 1px solid var(--error-bg); background-color: transparent; color: #cd2026; color: var(--error-bg); }
.deleteButton:hover:enabled { background-color: #fef2f3; border: 1px solid #cd2026; border: 1px solid var(--error-bg); }
.deleteButton:disabled { border: 1px solid rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); background: url(../images/icons/delete_ic_disabled.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; }
.deleteButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #cd2026; border: 1px solid var(--error-bg); }
/* Remove BUTTON */
.removeButton { font-family: 'Roboto-Medium'; background: url(../images/icons/remove_ic.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; padding: 0 16px 0 30px; font-size: 12px; border-radius: 4px; height: 30px; font-weight: 500; text-align: center; line-height: 1.33; border: 1px solid #cd2026; border: 1px solid var(--error-bg); background-color: transparent; color: #cd2026; color: var(--error-bg); }
.removeButton:hover:enabled { background-color: #fef2f3; border: 1px solid #cd2026; border: 1px solid var(--error-bg); }
.removeButton:disabled { border: 1px solid rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); background: url(../images/icons/remove_ic_disabled.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; }
.removeButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #cd2026; border: 1px solid var(--error-bg); }
/* HELP BUTTON */
.helpButton { font-family: 'Roboto-Medium'; background: url(../images/icons/help_ic.svg) no-repeat; background-position: right 12px center; background-size: 14px 14px; padding: 0 35px 0 14px; font-size: 14px; border-radius: 4px; height: 36px; font-weight: 500; text-align: center; line-height: 1.33; vertical-align: middle; border: 1px solid #2a3a8d; border: 1px solid #2a3a8d; background-color: transparent; color: #2a3a8d; }
.helpButton:hover:enabled { background-color: rgba(8, 117, 226, 0.08); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
.helpButton:disabled { border: 1px solid rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); background: url(../images/icons/edit_ic_disabled.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; }
.helpButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
/*Links CSS */
a { font-family: 'Roboto-Medium'; font-size: 14px; color: #0875e2; text-decoration: none; background-color: transparent; padding: 3px 8px; }
a:hover { color: #0056b3; text-decoration: underline; }
a:focus { border-radius: 4px; border: solid 1px rgba(8, 117, 226, 0.6); }
a.disabled { pointer-events: none; cursor: default; color: rgba(0, 0, 0, 0.6); }
/*-------------------------- Buttons CSS End --------------------------*/
/*-------------------------- Input CSS Start --------------------------*/
.form-group { margin-bottom: 1.5rem; }
.form-group label { font-size: 14px; font-weight: normal; color: rgba(0, 0, 0, 0.87); margin-bottom: 0.5rem!important; }
.form-group label+span { color: #cd2026; }
.form-group .hint { font-size: 12px; font-weight: normal; line-height: 1.33; text-align: left; color: rgba(0, 0, 0, 0.6); margin-top: 8px; }
.form-group label.small, .form-group small {font-size: 80%; font-weight: 400; color:rgba(0, 0, 0, 0.6);}
.form-control { min-height: 40px; vertical-align: middle; font-size: 1rem; font-weight: normal; color: rgba(0, 0, 0, 0.87); border-radius: 4px; border: solid 1px rgba(0, 0, 0, 0.38); background-color: #ffffff; }
.short-text { width: 180px; }
.form-control:hover { border: solid 2px rgba(0, 0, 0, 0.6); }
.form-control:active, .form-control:focus { border: solid 2px #0875e2; box-shadow: none; }
.form-control::-webkit-input-placeholder {
color: #6c757d;
opacity: 1;
}
.form-control::-moz-placeholder {
color: #6c757d;
opacity: 1;
}
.form-control:-ms-input-placeholder {
color: #6c757d;
opacity: 1;
}
.form-control::-ms-input-placeholder {
color: #6c757d;
opacity: 1;
}
.form-control::placeholder {
color: #6c757d;
opacity: 1;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
 border-color: #cd2026;
 padding-right: 0;
 background-image: none;
}
.is-invalid { border: 2px solid #cd2026 !important; box-shadow: none !important; }
.form-control:disabled, .form-control[readonly] { border: solid 1px rgba(0, 0, 0, 0.18); background-color: rgba(0, 0, 0, 0.05); opacity: 1; }
textarea { resize: none; }
textarea.form-control { width: 100%; margin: 0 !important; padding: 12px; }
span.field-icon { position: absolute; display: inline-block; cursor: pointer; right: 0.5rem; top: 0.5rem; z-index: 2; width: 24px; height: 24px; }
.visibility_on { background-image: url(../images/icons/visibility_on.svg); background-repeat: no-repeat; background-position: center center; }
.visibility_off { background-image: url(../images/icons/visibility_off.svg); background-repeat: no-repeat; background-position: center center; }
/*select.form-control:focus::-ms-value {
 color: #495057;
 background-color: #fff;
}*/
option { background-color: #f2f2f2; padding: 12px; }
.input-group-text { border: solid 1px rgba(0, 0, 0, 0.38); border-radius: 4px; }
.noBG .input-group-text { border: none; background: none; }
.noBG .form-control { border-radius: 4px!important; }
.form-group .success { font-weight: normal; line-height: 1.29; color: #218737; height: 35px; border-radius: 4px; background-color: #f2f8f4; padding: 8px 8px 8px 32px; margin-top: 4px; background-image: url(../images/icons/success.svg); background-repeat: no-repeat; background-position: 8px center; }
.form-group .success::before { content: "Success : ";  font-family: 'Roboto-Medium'; }
.form-group .warning { font-weight: normal; line-height: 1.29; color: #bc460b; height: 35px; border-radius: 4px; background-color: #fbf4f1; padding: 8px 8px 8px 32px; margin-top: 4px; background-image: url(../images/icons/warning.svg); background-repeat: no-repeat; background-position: 8px center; }
.form-group .warning::before { content: "Warning : "; font-family: 'Roboto-Medium'; }
.form-group .invalid-feedback { font-weight: normal; line-height: 1.29; color: #cd2026; height: 35px; border-radius: 4px; background-color: #fef2f3; padding: 8px 8px 8px 32px; margin-top: 4px; background-image: url(../images/icons/error.svg); background-repeat: no-repeat; background-position: 8px center; width: 100%; }
.form-group .invalid-feedback::before { content: "Error : ";  font-family: 'Roboto-Medium'; font-size: 14px; }
/*-------------------------- Input CSS End --------------------------*/
/*
--------------------------- Components CSS Start ------------------
*/
/*Breadcrumb CSS*/
.breadcrumb { background-color: transparent; font-size:12px; line-height:16px; }
.breadcrumb a{padding:0;  font-size:12px; line-height:16px; vertical-align: top;}
.breadcrumb-item + .breadcrumb-item {padding-left: 4px;}
.breadcrumb-item + .breadcrumb-item::before {
 color: rgba(0, 0, 0, 0.6); content:""; width:14px; height:14px; padding-right:4px; background: transparent url('../images/icons/breadcrumb_arrow.svg') no-repeat; }
.breadcrumb-item.active { color: rgba(0, 0, 0, 0.6); }
.breadcrumb-item.active span{vertical-align:top;}
/*Modal Popup CSS*/
.modal-content { min-height: 153px !important; max-height: 529px !important; width: auto !important; border: none !important; }
.modal-dialog.modal-dialog-centered.modal-lg { width: 558px !important; }
.modal-header { padding: 24px !important; font-family: 'Roboto'; font-size: 20px; font-weight: 500; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; vertical-align: middle; color: rgba(0, 0, 0, 0.87); }
.modal-title { font-size: 20px; font-weight: normal; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; color: rgba(0, 0, 0, 0.87); }
.modal-footer { background-color: #eeeff6; }
.modal-body { vertical-align: middle; padding: 24px 24px !important; overflow-y: auto; }
/*Start Radio Button*/
.radio { position: relative; cursor: pointer; line-height: 20px; font-size: 14px; margin: 4px 0 0 0;}
.radio .label { position: relative; float: left; margin-right: 10px; width: 18px; height: 18px; border: 2px solid #c8ccd4; border-radius: 100%; -webkit-tap-highlight-color: transparent; }
.radio .label:after { content: ''; position: absolute; top: 2px; left: 2px; width: 10px; height: 10px; border-radius: 100%; background: #0875e2; transform: scale(0); transition: all .2s ease; opacity: .08; pointer-events: none; }
.radio:hover .label:after { transform: scale(3.6) }
input[type=radio]:checked+.label { border-color: #0875e2; }
input[type=radio]:checked+.label:after { transform: scale(1); transition: all .2s cubic-bezier(.35, .9, .4, .9); opacity: 1; }
.hidden { display: none }
.credit { position: fixed; right: 18px; bottom: 18px; transition: all .2s ease; -webkit-user-select: none; user-select: none; opacity: .6 }
.credit img { width: 18px; height: 18px; }
.credit:hover { transform: scale(.95); }
/*End Start Radio Button*/

/* Start Check Box */
.cust-checkbox input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.cust-checkbox { padding-left: 30px; font-weight: normal; }
.checkmark { position: absolute; height: 18px; width: 18px; border: 2px solid #B1ACAA; border-radius: 2px }
.service-table .checkmark { position: absolute; height: 18px; width: 18px; border: 2px solid #B1ACAA; border-radius: 2px }
.cust-checkbox input:checked ~ .checkmark { background-color: #0875e2; border-color: #0875e2; }
.terms-check .cust-checkbox input:checked ~ .checkmark { background-color: #0875e2; border-color: #0875e2; }
.checkmark:after { content: ""; position: absolute; display: none; }
.cust-checkbox input:checked ~ .checkmark:after { display: block; }
.cust-checkbox .checkmark:after { left: 5px; top: -1px; width: 6px; height: 14px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
/* End Check Box */

.content .nav-tabs > li > a { border: none; border-bottom: 3px solid transparent; border-radius: 0; color: rgba(0, 0, 0, 0.6); padding: 16px 32px;}
.content .nav > li > a:hover { text-decoration: none; background-color: #ebf4fd; border: none; /*border-bottom: 3px solid #0875e2;*/ }
.content .nav > li > a:focus { text-decoration: none; background-color: #FFF; border: 1px solid #0875e2; }
.content .nav-tabs > li.active > a, .content .nav-tabs > li.active > a:hover, .content .nav-tabs > li.active > a:focus { border: none; border-bottom: 3px solid #0875e2; color: #0875e2; }
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link { color: #0875e2; background-color: transparent; border-color: #dee2e6 #dee2e6 #0875e2;  }
.tab-content { margin-top: 25px;}



.alertInfo { background:url(../images/icons/Info.svg) no-repeat 10px 8px; position: relative;   border-radius: 4px; background-color: #f2f8fe;  padding: 8px 20px 8px 40px; margin-bottom: 1rem; }
.alertWarning{ background:url(../images/icons/warning.svg) no-repeat 10px 12px; position: relative;   border-radius: 4px; background-color: #fcf7f2;  padding: 8px 20px 10px 40px; margin-bottom: 1rem; color:#bc460b; }
/*
--------------------------- Components CSS End ----------------------
*/

/*Other CSS */
.card { border-radius: 4px; border: solid 1px rgba(42, 58, 141, 0.18); background-color: #ffffff; }
.card-body { padding: 24px; }

label.form-check-label { margin: 0 25px 0 5px !important; }
.hide { display: none; }
/*.bold { font-weight: bold; }*/
.relative { position: relative; }


/*****Scroller****/

::-webkit-scrollbar {
 width: 6px !important;
 height: 6px !important;
}
::-webkit-scrollbar-thumb {
 background-color: #9e9e9e !important;
 outline: 1px solid transparent;
 border-radius: 25px;
}
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px transparent;
}
/* hr widt*/
.hrwidth{border:1px solid rgba(42, 58, 141, 0.18);}
.border-top-1{border-top:2px solid rgba(42, 58, 141, 0.18);}
.bgnone{background:none;}
/*end hr widt*/
/*Padding and Margin styles*/

.pad5A { padding: 5px!important }
.pad5T { padding-top: 5px!important }
.pad5R { padding-right: 5px!important }
.pad5B { padding-bottom: 5px!important }
.pad5L { padding-left: 5px!important }
.pad10A { padding: 10px!important }
.pad12A { padding: 12px!important }
.pad10T { padding-top: 10px!important }
.pad10R { padding-right: 10px !important }
.pad10B { padding-bottom: 10px!important }
.pad10L { padding-left: 10px!important }
.pad15A { padding: 15px!important }
.pad15T { padding-top: 15px!important }
.pad15R { padding-right: 15px!important }
.pad15B { padding-bottom: 15px!important }
.pad15L { padding-left: 15px!important }
.pad20A { padding: 20px!important }
.pad20T { padding-top: 20px!important }
.pad20R { padding-right: 20px!important }
.pad20B { padding-bottom: 20px!important }
.pad20L { padding-left: 20px!important }
.pad25A { padding: 25px!important }
.pad25T { padding-top: 25px!important }
.pad25R { padding-right: 25px!important }
.pad25B { padding-bottom: 25px!important }
.pad25L { padding-left: 25px!important }
.pad25A { padding: 30px!important }
.pad30T { padding-top: 30px!important }
.pad30R { padding-right: 30px!important }
.pad30B { padding-bottom: 30px!important }
.pad30L { padding-left: 30px!important }
.pad45A { padding: 45px!important }
.pad45T { padding-top: 45px!important }
.pad45R { padding-right: 45px!important }
.pad45B { padding-bottom: 45px!important }
.pad45L { padding-left: 45px!important }
.pad50A { padding: 50px!important }
.pad50T { padding-top: 50px!important }
.pad50R { padding-right: 50px!important }
.pad50B { padding-bottom: 50px!important }
.pad50L { padding-left: 50px!important }
.pad55L { padding-left: 55px!important }
.pad0A { padding: 0!important }
.pad0T { padding-top: 0!important }
.pad0R { padding-right: 0!important }
.pad0B { padding-bottom: 0!important }
.pad0L { padding-left: 0!important }
.mrg5A { margin: 5px!important }
.mrg5T { margin-top: 5px!important }
.mrg5R { margin-right: 5px!important }
.mrg5B { margin-bottom: 5px!important }
.mrg5L { margin-left: 5px!important }
.mrg10A { margin: 10px!important }
.mrg10T { margin-top: 10px!important }
.mrg10R { margin-right: 10px!important }
.mrg10B { margin-bottom: 10px!important }
.mrg10L { margin-left: 10px!important }
.mrg10LRl { margin: 0 -10px!important }
.mrg15A { margin: 15px!important }
.mrg15T { margin-top: 15px!important }
.mrg10TR { margin-top: -10px!important }
.mrg15R { margin-right: 15px!important }
.mrg15B { margin-bottom: 15px!important }
.mrg15L { margin-left: 15px!important }
.mrg18A { margin: 18px!important }
.mrg18T { margin-top: 18px!important }
.mrg18R { margin-right: 18px!important }
.mrg18B { margin-bottom: 18px!important }
.mrg18L { margin-left: 18px!important }
.mrg20A { margin: 20px!important }
.mrg20T { margin-top: 20px!important }
.mrg20R { margin-right: 20px!important }
.mrg20B { margin-bottom: 20px!important }
.mrg20L { margin-left: 20px!important }
.mrg25A { margin: 25px!important }
.mrg25T { margin-top: 25px!important }
.mrg25R { margin-right: 25px!important }
.mrg25B { margin-bottom: 25px!important }
.mrg25L { margin-left: 25px!important }
.mrg30A { margin: 30px!important }
.mrg30T { margin-top: 30px!important }
.mrg30R { margin-right: 30px!important }
.mrg30B { margin-bottom: 30px!important }
.mrg30L { margin-left: 30px!important }
.mrg45A { margin: 45px!important }
.mrg45T { margin-top: 45px!important }
.mrg45R { margin-right: 45px!important }
.mrg45B { margin-bottom: 45px!important }
.mrg45L { margin-left: 45px!important }
.mrg0A { margin: 0!important }
.mrg0T { margin-top: 0!important }
.mrg0R { margin-right: 0!important }
.mrg0B { margin-bottom: 0!important }
.mrg0L { margin-left: 0!important }
.pad15TLR { padding: 5px 10px 0 15px !important; }
.pad30T { padding-top: 30px!important }
.mrg65B { margin-bottom: 65px!important }
.mrg2Brem{margin-bottom: 2rem !important;}
.mrg3Brem{margin-bottom: 3rem !important;}
.mrg4Brem{margin-bottom: 4rem !important;}

.fRR14{font-family: 'Roboto-Regular'; font-size: 14px; color:rgba(0, 0, 0, 0.87);}
.fRR16{font-family: 'Roboto-Regular'; font-size: 16px;}
.fRM14{font-family: 'Roboto-Medium'; font-size: 14px;}
.fRM16{font-family: 'Roboto-Medium'; font-size: 16px;}
.clear{clear:both;}
/* FILTER BUTTON */
.filterButton { font-family: 'Roboto-Medium'; background: url(../images/icons/filter_list.svg) no-repeat; background-position: 20px center; background-size: 24px 24px; padding: 0 16px 0 50px; font-size: 16px; border: none; height: 36px; font-weight: 500; text-align: center; line-height: 1.33; vertical-align: middle; background-color: transparent; color: rgba(0, 0, 0, 0.6); }