@charset "utf-8";
/* CSS Document */
:root { --first-color:#f6f7fb;
 --secondary-color:#0875e2;
 --primary-text: rgba(0,0,0,0.87);
 --secondary-text:rgba(0,0,0,0.6);
 --panel-color:#fff;
 --panel-indicator:rgba(0,0,0,.54);
 --field-bg:white;
 --error-bg:#cd2026;
 --disabled-input:rgba(0,0,0,0.05);
 --checkbox-bordercolor:rgba(0,0,0,0.5);
 --heading1-fontSize:2.25rem;
 --heading2-fontSize:2rem;
 --heading3-fontSize:1.875rem;
 --heading4-fontSize:1.5rem;
 --heading5-fontSize:1.25rem;
 --heading6-fontSize:1.125rem;
 --body1-fontSize:1.5rem;
 --body2-fontSize:0.875rem;
 /*Color Codes*/
   --darkish-green: #218737;
  --lipstick: #cd2026;
  --dusk-blue: #2a3a8d;
  --cerulean-blue: #0875e2;
  --black-38: rgba(0, 0, 0, 0.38);
  --black-87: rgba(0, 0, 0, 0.87);
  --brick-orange: #bc460b;
}
@font-face { font-family: 'robotoregular'; src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
* { font-family: 'robotoregular'; }
body { font-family: 'Roboto', 'verdana'; font-size: var(--body2-fontSize); background-color: #f6f7fb; }
.bold { font-weight: bold; }
.navbar-brand { background-image: url(../images/logo.png); background-repeat: no-repeat; width: 245px; height: 46px; }
.container-fluid { padding-right: 0; padding-left: 0; }
.navbar-collapse { padding-right: 0; padding-left: 0; }
.shadow { -moz-box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.2) !important; -webkit-box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.2)!important; box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.2) !important; margin-bottom: 20px; overflow: hidden; background-color: #FFF; }
.with-nav-tabs.panel-default > .panel-heading { color: #333; background-color: transparent; border-color: transparent; }
.content .nav-tabs > li > a { border: none; border-bottom: 3px solid transparent; border-radius: none; color: rgba(0, 0, 0, 0.6); padding: 16px 32px;}
.content .nav > li > a:hover { text-decoration: none; background-color: #ebf4fd; border: none; border-bottom: 3px solid #0875e2; }
.content .nav > li > a:focus { text-decoration: none; background-color: #FFF; border: 1px solid #0875e2; }
.content .nav-tabs > li.active > a, .content .nav-tabs > li.active > a:hover, .content .nav-tabs > li.active > a:focus { border: none; border-bottom: 3px solid #0875e2; color: #0875e2; }
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link { color: #0875e2; background-color: transparent; border-color: #dee2e6 #dee2e6 #0875e2;}
.cardDiv { width: 100%; border-radius: 4px; border: solid 1px rgba(42, 58, 141, 0.18); background-color: #ffffff; margin-bottom: 30px; box-shadow: 0px 5px 10px 0px #CCC; padding: 15px; }
.cardBody { padding: 15px; }
.cardFooter { border-top: solid 1px rgba(42, 58, 141, 0.18); padding: 15px; }
.heading4 { font-size: var(--heading4-fontSize); font-weight: 500; font-style: normal; font-stretch: normal; color: var(--primary-text); letter-spacing: 0.15px; }
.link { font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: normal; color: #0875e2; }
.link:hover { text-decoration: underline; }
/*.breadcrumb { padding: 8px 15px 8px 0; margin-bottom: 0; background-color: transparent; border-radius: 0; }
.breadcrumb li a { color: #666; font-weight: bold; }*/
h1, .heading1 { font-size: var(--heading1-fontSize); font-weight: 500; font-style: normal; font-stretch: normal; color: var(--primary-text); letter-spacing: 0.12px; }
h2, .heading2 { font-size: var(--heading2-fontSize); font-weight: 500; font-style: normal; font-stretch: normal; color: var(--primary-text); letter-spacing: 0.22px; }
h3, .heading3 { font-size: var(--heading3-fontSize); font-weight: 500; font-style: normal; font-stretch: normal; color: var(--primary-text); letter-spacing: 0.15px; }
h4, .heading4 { font-size: var(--heading4-fontSize); font-weight: 500; font-style: normal; font-stretch: normal; color: var(--primary-text); letter-spacing: 0.1px; }
h5, .heading5 { font-size: var(--heading5-fontSize); font-weight: 500; font-style: normal; font-stretch: normal; color: var(--primary-text); letter-spacing: 0.15px; }
h6, .heading6 { font-size: var(--heading6-fontSize); font-weight: 500; font-style: normal; font-stretch: normal; color: var(--primary-text); letter-spacing: 0.25px; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
.helpinfo { color: #666; }
.tooltip-inner { max-width: 100% !important; }
/* DEFAULT BUTTON */
.defaultButton { font-weight: 700; text-align: center; line-height: 1.36; border-radius: 4px; padding: 8px 20px; min-height: 36px; min-width: 84px; display: inline-block; }
.defaultButton.iconBefore { padding: 0 20px 0 38px; background-position: 16px center; background-size: 18px 18px; }
.defaultButton.iconAfter { padding: 0 38px 0 20px; background-position: right 16px center; background-size: 18px 18px; }
/* SMALL BUTTON */
.smallButton { font-size: 12px; font-weight: 500; text-align: center; line-height: 1.33; border-radius: 4px; padding: 6px 16px; min-height: 30px; display: inline-block; }
.smallButton.iconBefore { padding: 0 16px 0 30px; background-position: 12px center; background-size: 14px 14px; }
.smallButton.iconAfter { padding: 0 20px 0 38px; background-position: right 12px center; background-size: 14px 14px; }
/* LARGE BUTTON */
.largeButton { font-size: 17px; font-weight: 500; text-align: center; line-height: 1.31; border-radius: 4px; padding: 0 24px 0; min-height: 46px; min-width: 98px; display: inline-block; }
.largeButton.iconBefore { padding: 0 24px 0 42px;  /* IMAGE SIZE => 22px*22px */ background-position: 20px center; background-size: 22px 22px; }
.largeButton.iconsAfter { padding: 0 42px 0 24px; background-position: right 20px center; background-size: 22px 22px; }
/* BUTTON STYLING (PRIMARY, SECONDARY AND TERTIARY) */
/* PRIMARY BUTTON */
.primaryButton { box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); background-color: #2a3a8d; color: #ffffff; border: none; }
.primaryButton:hover { background-color: #223074; color: #ffffff; text-decoration: none; }
.primaryButton:hover:enabled { background-color: #223074; color: #ffffff; }
.primaryButton:disabled { background-color: rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.24); box-shadow: none; border: none; font-weight: 500; }
.primaryButton.focus-visible { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #2a3a8d; color: #ffffff; }
.primaryButton:focus:not(.focus-visible) { outline: none; }
/* SECONDARY BUTTON */
.secondaryButton { color: #2a3a8d; border: solid 1px #2a3a8d; background-color: transparent; }
.secondaryButton:hover { background-color: rgba(42, 58, 141, 0.08); text-decoration: none; }
.secondaryButton:hover:enabled { background-color: rgba(42, 58, 141, 0.08); text-decoration: none; }
.secondaryButton:disabled { border: solid 1px rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); }
.secondaryButton.focus-visible { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #2a3a8d; }
.secondaryButton:focus:not(.focus-visible) { outline: none; }
/* TERTIARY BUTTON */
.tertiaryButton { color: #2a3a8d; background-color: transparent; border: none; }
.tertiaryButton:hover:enabled { background-color: rgba(42, 58, 141, 0.08); }
.tertiaryButton:disabled { color: rgba(0, 0, 0, 0.38); }
.tertiaryButton.focus-visible { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); }
.tertiaryButton:focus:not(.focus-visible) { outline: none; }
/* TERTIARY BUTTON */
.actionButton { color: #fff; background-color: #505050; border: none; }
.actionButton:hover:enabled { background-color: rgba(42, 58, 141, 0.08); }
.actionButton:disabled { color: rgba(0, 0, 0, 0.38); }
.actionButton.focus-visible { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); }
.actionButton:focus:not(.focus-visible) { outline: none; }
/* VERTICAL DISTANCE FOR BUTTONS */
.endButtons { margin-top: 32px; }
/* DISTANCE BETWEEN TWO LARGE BUTTONS */
.largeButtonGap { margin-right: 16px; }
/* DISTANCE BETWEEN DEFAULT BUTTONS */
.defualtButtonGap { margin-right: 8px; }
/*Modal Popup*/


.modal-content { min-height: 153px !important; max-height: 529px !important; width: 532px !important; border: none !important; }
.modal-dialog.modal-dialog-centered.modal-lg { width: 558px !important; }
.modal-header { padding: 24px !important; font-family: 'Roboto'; font-size: 20px; font-weight: 500; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; vertical-align: middle; color: rgba(0, 0, 0, 0.87); }
.modal-header { border-bottom: none; }
.modal-title { font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; color: rgba(0, 0, 0, 0.87); }
.modal-footer { background-color: #eeeff6; }
.modal-body { vertical-align: middle; padding: 24px 24px !important; overflow-y: auto; }
ul, Ol { padding: 0; margin: 0; }
ul.list li { list-style: none; margin-bottom: 5px; }
.list li a { color: #666; }
.list li a:hover { color: #666; }
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: normal; }
.panInfo { font-size: 12px; }
.editIcon { background: url(../images/icons/Edit.svg) no-repeat; display: inline-block; background-size: cover; }
.checkIcon { background: url(../images/icons/checked-3.svg) no-repeat; width: 48px; height: 48px; display: inline-block; }
.smallIcon { width: 16px; height: 16px; vertical-align: middle; }
.bigIcon { width: 48px; height: 48px; vertical-align: middle; }
.iconBtn { border: solid 1px #ccc; color: #666; font-size: 12px; padding: 6px 8px; border-radius: 4px; vertical-align: middle; }
#landingDiv { position: fixed; top: 50%; left: 50%; width: 30em; margin-top: -9em; /*set to a negative number 1/2 of your height*/ margin-left: -15em; /*set to a negative number 1/2 of your width*/ text-align: center; padding: 10px; }
#landingDiv h3 { margin: 10px auto; }
#btnProceed, #btnReload { background-color: #222; color: #FFF; padding: 8px 15px; border-radius: 5px; position: fixed; bottom: 10%; right: 10%; }
#btnProceed:hover, #btnReload:hover { background-color: #333; text-decoration: none; }
.actionDiv { height: 100%; text-align: center; padding: 30px 0; }
.border-right { border-right: 1px solid #ccc; }
.border-bottom { border-bottom: 1px solid #ccc; }
.verifyDiv { border: 1px solid #ccc; border-radius: 5px; display: block; padding: 10px; margin: 10px 0; }
.verifyDiv h4 { font-weight: bold; color: #666; }
.verifyDiv li { list-style: none; }
.mrg0A { margin: 0; }
.mrg0B { margin-bottom: 0; }
.mrg0L { margin-left: 0; }
.mrg0R { margin-right: 0; }
.mrg0T { margin-top: 0; }
.mrg10A { margin: 10px; }
.mrg10B { margin-bottom: 10px; }
.mrg10L { margin-left: 10px; }
.mrg10R { margin-right: 10px; }
.mrg10T { margin-top: 10px; }
.pad25L { padding-left: 25px; }
.pad50L { padding-left: 50px; }
.pad25T { padding-top: 25px; }
.netInfo { list-style: none; float: right; margin-right: 30px; }
.netInfo img { width: 24px; height: auto; margin-right: 10px; }
.netInfo li { padding-top: 5px; }
.hide { display: none; }
.headerLabel { float: left; padding: 25px 0 10px 25px; }
.versionInfo { float: right; text-align: right; }
.tab-content { margin-top: 25px; }

/*radio button*/
.radio { position: relative; cursor: pointer; line-height: 20px; font-size: 14px; margin: 15px; margin-top: 5px }
.radio .label { position: relative; float: left; margin-right: 10px; width: 18px; height: 18px; border: 2px solid #c8ccd4; border-radius: 100%; -webkit-tap-highlight-color: transparent; }
.radio .label:after { content: ''; position: absolute; top: 2px; left: 2px; width: 10px; height: 10px; border-radius: 100%; background: #0875e2; transform: scale(0); transition: all .2s ease; opacity: .08; pointer-events: none; }
.radio:hover .label:after { transform: scale(3.6) }
input[type=radio]:checked+.label { border-color: #0875e2; }
input[type=radio]:checked+.label:after { transform: scale(1); transition: all .2s cubic-bezier(.35, .9, .4, .9); opacity: 1; }
.hidden { display: none }
.credit { position: fixed; right: 18px; bottom: 18px; transition: all .2s ease; -webkit-user-select: none; user-select: none; opacity: .6 }
.credit img { width: 18px; height: 18px; }
.credit:hover { transform: scale(.95); }
/*end radio button*/
.forms .card-title { font-size: 18px; line-height: 27px; color: rgba(0, 0, 0, 0.87); }
.forms .card-subtitle { font-size: 14px; line-height: 21px; color: rgba(0, 0, 0, 0.87); }
.forms .card-header { height: 104px; background-color: #eeeff6; }
.forms .card-body { height: 100px; }
.card-footer { background-color: #FFF; text-align: right; }
.card-title { margin-bottom: 0; }
.icon18 { width: 18px; height: 18px; }
.mtn-4 { margin-top: -4px; }
/* EDIT BUTTON */
.editButton { background: url(../images/icons/edit_ic.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; padding: 0 16px 0 30px; font-size: 12px; border-radius: 4px; height: 30px; font-weight: 500; text-align: center; line-height: 1.33; vertical-align: middle; border: 1px solid #0875e2; border: 1px solid var(--secondary-color); background-color: transparent; color: var(--secondary-color); }
.editButton:hover:enabled { background-color: rgba(8, 117, 226, 0.08); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
.editButton:disabled { border: 1px solid rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); background: url(assets/buttonIcons/editButtonIconDisabled.svg) no-repeat; background-position: 12px center; background-size: 14px 14px; }
.editButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #0875e2; border: 1px solid var(--secondary-color); }
.fileinfo { background-color: #ebf4fd; padding: 8px; border-radius: 4px; }
.mt130 { margin-top: 110px; }
/*----------------------- Header CSS start ----------------------*/
.topnavbar { height: 30px; background-color: #29398d !important; }
.topnavbar .navbar-nav > li > a { padding: 4px 15px 8px; color: #FFF; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { font-weight: bold; background: transparent; }
.connectivity { width: 18px; height: 18px; margin-right: 8px; }

.brandArea { background-color: #FFF; height: auto; padding: 11px 0; min-height: 74px; }
.borderLeft { border-left: 1px solid #f6f7fb; }
.borderRight { border-right: 1px solid #f6f7fb; }
.left { float: left; }
.right { float: right; }
.tophead_menu ul li { color: #333; list-style: none; padding: 6px; }
.tophead_menu ul li a { color: #333; text-decoration: none; }
.tophead_menu ul li a:hover { color: #333; text-decoration: none; }
.pad5A { padding: 5px; }
.pad10R { padding-right: 10px; }
.mrg10T { margin-top: 10px; }
.tophead_menu ul li ul li:hover { background: #ebebeb; }
.bgright { background: url(../images/blueBG.svg) no-repeat -20% center; height: 100%; width: 400px; float: right; }
.pad20T { padding-top: 20px; }
.pad50T { padding-top: 50px; }
.connectivity_text { font-size: 12px; }
.font16 { font-size: 16px; }

/*----------------------- Header CSS end ----------------------*/

/*----------------------- Footer CSS start ----------------------*/
.footerBackground { background-color: #eeeff6; border-top: 1px solid #d6d6d6; text-align: center; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 16px; letter-spacing: normal; color: rgba(0, 0, 0, 0.6); padding: 16px 0; bottom: 0; width: 100%; }
.footerBackground p { margin: 0; }

/*----------------------- Footer CSS end ----------------------*/

.desktopUtility{font-family: 'Roboto-Medium'; font-size:1rem; color:var(--dusk-blue);}
.tophead_menu li a{margin:0; padding:0;}
.tophead_menu li a:focus { border:none;}
.fontSize a img {width: 16px;  height: 16px;}
.fontSize a.activate svg .cls-1 { fill: #0875e2;}
.searchBox{background-image:url(../images/icons/search_ic.svg); background-repeat:no-repeat; background-position:right 15px center; width:300px; float:right;}

.font-active{background-color:#0875e2;}
/* ATTACH BUTTON */
.attachButton { font-size: 14px; font-weight: 500; text-align: center; line-height: 1.36; border-radius: 4px; min-height: 36px; min-width: 84px; color: #2a3a8d; border: solid 1px #2a3a8d; background-color: transparent; padding: 0 20px 0 38px; background: url(../images/icons/attachment_ic.svg) no-repeat; background-position: 16px center; background-size: 18px 18px; }
.attachButton:hover:enabled { background-color: rgba(42, 58, 141, 0.08); }
.attachButton:disabled { border: solid 1px rgba(0, 0, 0, 0.18); color: rgba(0, 0, 0, 0.38); }
.attachButton:focus { outline: none; box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6); border: 1px solid #2a3a8d; }
/* Attach box styling */
.attachBox { margin-top: 8px; width: 362px; min-height: 48px; border-radius: 4px;  font-size: 14px; font-weight: 500; padding: 8px 8px 8px 50px; display: flex; align-items: center; background: url(../images/icons/json_ic.svg) no-repeat  #f2f8f4;  background-size: 28px 32px; background-position: 8px center; position:relative;    }
.attachBox .close{position:absolute; right:0px; top:6px;}
.fileSize { color: rgba(0, 0, 0, 0.6); margin-left: 4px; }
.fileName { color: #0875e2; cursor: pointer; }
.retryFileUpload { margin-left: auto; color: #2a3a8d; cursor: pointer; }
.uploadCloseIcon { width: 24px; height: 24px; cursor: pointer; margin-left: auto; }
.attachBox.uploadingAttachBox { background-color: #ebf4fd; }
.attachBox.errorAttachBox { background-color: #fef2f3; padding-top: 8px; padding-bottom: 8px; }
.fileUploadMiddleBox { display: inline-block; width: 277px; }
.errorMessage { color: #cd2026; margin-top: 2px; }


/*----------------------- Login page CSS start ----------------------*/

.searchBox{background-image:url(../images/icons/search_ic.svg); background-repeat:no-repeat; background-position:right 15px center; width:300px; float:right;}
.loginCard{background-color:#f6f7fb; padding:0 !important;}
.loginDiv{background-color:#FFF; padding:64px; border-radius:4px 0 0 4px;}
.user_ic {background-image:url(../images/icons/user_ic.png); background-repeat:no-repeat; background-position:center center; width:78px; height:78px; display:inline-block;}
.login_heading {font-family: Roboto-Medium;font-size: 30px;font-weight: 500;font-stretch: normal; font-style: normal;  line-height: 1.33;letter-spacing: normal;text-align: left;  color:rgba(0, 0, 0, 0.87);}
.login_user_id {font-family: Roboto-Medium; font-size: 16px; font-weight: 500; font-stretch: normal; font-style: normal;  line-height: 1.19;
  letter-spacing: normal;  text-align: left;  color: rgba(0, 0, 0, 0.87);}
.login_user_id label.userid {font-family: Roboto-Regular !important;  font-weight: normal !important;}
.pad24L {padding-left:24px;}
.enter_follow_txt{font-family: Roboto-Regular; font-size: 16px;font-weight: normal; font-stretch: normal;font-style: normal; line-height: 1.19; letter-spacing: normal; text-align: left; color: #383838;}
.authorisedtxt{font-family: Roboto-Regular; font-size: 14px;font-weight: normal; font-stretch: normal;font-style: normal; line-height: 24px; letter-spacing: normal; text-align: left; color: #383838; margin-top:16px; letter-spacing: 0.45px;}
.next_w {background-image: url(../images/icons/next_w.svg); background-repeat: no-repeat; background-position: center; width: 6.6px; margin-left: 10px;height: 11.1px;display: inline-block;
}
.password_div {margin:0px !important; height:88px;}
.previous_b {background-image: url(../images/icons/previous_b.svg); background-repeat: no-repeat; background-position: center; width: 6.6px; margin-right: 10px;height: 11.1px;display: inline-block;}
.eyeic {position: relative; left: 87%;top: -34px; z-index: 9999; color: #fff; margin-bottom:0px !important;}
a.eyeic:focus  {outline: none !important; border:none !important;}

.password_eye_open {background-image: url(../images/icons/eye_open.svg); background-repeat: no-repeat; background-position: center; width: 24px;height: 27px;display: inline-block; cursor:pointer;}
.password_eye_close {background-image: url(../images/icons/eye_close.svg); background-repeat: no-repeat; background-position: center; width: 24px;height: 27px;display: inline-block; cursor:pointer;}
.forgot_password_txt {margin-bottom:26px;}
.forgot_password_txt a{font-family: Roboto-Medium; font-size: 14px;font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.14; letter-spacing: normal; text-align: left;  color: #0875e2; text-decoration:none; padding:0px !important;}
.forgot_password_txt a:hover{text-decoration:underline;}
.login_lock_ic{background-image: url(../images/icons/login_lock.svg); background-repeat: no-repeat; background-position: center; width:227px; height:227px;display: inline-block;}
.img_container{text-align: center;}
.img_container > i {position:relative; top: calc(29%); /* 50% - 3/4 of icon height */}

.login_otp_ic{background-image: url(../images/icons/otp_ic.svg); background-repeat: no-repeat; background-position: center; width:227px; height:227px;display: inline-block;}
.onetimepassword_txt{font-family: Roboto-Medium; font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: 0.25px; text-align: left; margin-top:32px;}
.please_choose_otp_txt {font-family: Roboto-Medium; font-size: 16px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: 0.25px; text-align: left; color: rgba(0, 0, 0, 0.87); margin-top:24px;}
.radiobt_div {margin-top:12px; margin-left:0px;}
.radiobt_div label.txtl{font-family: Roboto-Regular; margin-top:2px; font-size: 14px;font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: 0.25px; text-align: left; color: rgba(0, 0, 0, 0.87);}
ul.leftli  li {float:left; list-style:none; padding:0; margin:0;}
ul.leftli .p10{width:10%;}
ul.leftli .p90{width:90%;}
.passwordotp {width:40px; height:40px; border-radius: 4px; padding:9px 12px; font-size:20px;}
.opt4mrg li{margin-right:8px !important;}
