.incomeInfo {
	background-color: #f1f1f1;
	border-radius: 4px;
	padding: 15px;
	font-size: 16px;
	margin-bottom: 24px;
}
.infoItem {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.infoItem a {
	margin-left: 10px;
}
.infoItem:last-child {
	border-bottom: none;
}
.infoItem:first-child {
	padding-top: 0;
}
.BankText1 {
	margin-left: -19px !important;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	font-size: 14px;
}
.cashText1 {
	margin-left: -40px !important;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	font-size: 14px;
	margin-top: 20px;
}
.wi125px {
	width: 125px !important;
}
.mt125 {
	margin-top: 125px !important
}
.mb100 {
	margin-bottom: 100px !important
}
.ml_57 {
	margin-left: -57px;
}
.ml_39 {
	margin-left: 39px;
}
.ml_24 {
	margin-left: 24px;
}
.mrg22B {
	margin-bottom: 22px !important
}
.mrg56T {
	margin-top: 56px !important;
}
.bgtrans {
	background: transparent;
}
.pad7_1px {
	padding-left: 7px;
	padding-right: 1px;
}
.boxshaw:active, .boxshaw:focus {
	border: solid 1px rgba(0, 0, 0, 0.38);
	box-shadow: none;
}
.boxshaw:hover {
	border: solid 1px rgba(0, 0, 0, 0.38);
	box-shadow: none;
}
.wordbreak {
	word-break: break-all;
}
/* Suraj CSS */
.wrap {
	margin: 0 15px;
}
.zindex {
	z-index: 0 !important;
}
.pos-rel {
	position: relative !important;
}
/*body{background-color:white;}*/
.p0 {
	padding-left: 0px !important;
	padding-right: 0px !important
}
.mr-10 {
	margin-right: 10px
}
.p0 {
	padding: 0;
	padding-left: 3px
}
.b1 {
	margin-top: 25px;
}
.box {
	background-color: rgb(240, 240, 240);
	padding: 10px;
	margin-bottom: 25px;
}
#q1 {
	margin-top: 10px;
}
#D {
	padding-bottom: 0px;
}
.line {
	background-color: #dee2e6;
	height: 1px;
}
/* BHARAT 06-01-2020 */
.headtxt {
	font-size: 11px !important;
}
li.list-inline-item {
	border-right: 1px solid black;
	padding: 0 8px 0px 0;
}
li.list-inline-item:last-child {
	border: none;
}
li.l2 {
	border-right: 1px solid #ebebeb;
	padding: 0 8px 0px 0;
}
li.l3 {
	padding: 0 30px 0px 0;
	margin: 0 30px 0;
	border: none;
}
.box1-shadow {
	box-shadow: 5px 4px 8px #f8f8f8;
}
.h24 {
	height: 24px;
}
.mb0 {
	margin-bottom: 0px !important;
}
.pt0 {
	padding-top: 0px !important;
}
.fs12 {
	font-size: 12px !important;
}
.fs13 {
	font-size: 13px !important;
}
.mb25 {
	margin-bottom: 25px;
}
.h42 {
	height: 42px;
}
.mt10 {
	margin-top: 10px;
}
.grey {
	color: #555555;
}
.p0 {
	padding: 0px !important;
}
.m0 {
	margin: 0px !important
}
.mb10 {
	margin-bottom: 10px !important
}
.border-btm-line {
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.f16 {
	font-size: 16px !important;
}
.f15 {
	font-size: 15px !important;
}
.bt-none {
	border-top: none !important;
}
.lightgrey {
	background: #dbdbdb;
}
.f11 {
	font-size: 11px;
}
.fs17 {
	font-size: 17px;
}
.br4 {
	border-radius: 4px;
}
.lgt-silver {
	background: #f7f7f7;
}
.mt-30 {
	margin-top: 30px;
}
.otp {
	width: 40px;
	display: inline-block;
	margin-right: 10px;
}
.success-icon {
	background: url(../images/icons/success.png) no-repeat 24px center !important;
}
.success-box {
	padding-top: 49px;
	padding-bottom: 49px;
	padding-left: 37%;
}
.success-text {
	color: #218737;
}
.default-text {
	width: 330px;
}
/* jena */
.list-none {
	list-style-type: none;
}
.bor1_5px {
	border: 1.5px solid #ededed;
}
.bootbox {
	background: #e2e2e2;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 4px;
}
.bgtrans {
	background: transparent !important;
}
.btm:focus {
	outline: none;
	box-shadow: none;
}
.border-bottom-2p {
	border-bottom: 2px solid #f6f7fb;
}
.bootbox1 {
	background: #f5eded;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 60px !important;
	border-radius: 4px;
}
.underline {
	text-decoration: underline !important;
}
.underline1 {
	border-bottom: 5px solid gray !important;
}
.btn-default {
	border: 1px solid #aaa;
	background: white;
	font-size: 12px;
}
.addbor {
	border: 1px solid blaCK;
	border-radius: 50%;
}
/* end jena */
/*Kalyan*/
.header {
	background-color: #F1F1F1;
}
input[type=text].rupee {
	background-image: url(http://i.imgur.com/Fd7NROx.png);
	border: 1px solid #aaa;
	padding: 5px;
	padding-left: 20px;
	background-size: 10px 15px;
	background-repeat: no-repeat;
	background-position: 8px 10px;
}
input[type="text"].rupee {
	padding-right: 10px;
	text-align: right;
}
/*chg*/
/* wf8 */
.mediabox {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #aaa;
}
.mediabox1 {
	width: 52px;
	height: 52px;
	border-radius: 4px;
	background-color: #6aaced;
	opacity: 1;
}
.mediatext {
	margin: 15px;
	font-size: 16px;
	margin-left: 20px;
	color: white;
	position: absolute;
	font-weight: 700;
}
.successimg {
	top: 51%;
	position: absolute;
	left: 48px;
}
.disp-none {
	display: none;
}
.bootbox3 {
	background: #e2e2e2;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 15px;
	height: 62px;
	border-radius: 4px;
}
/* End wf8 */
/* extra */
.btn-default {
	border: 1px solid #aaa;
	background: white;
	font-size: 12px;
}
.addbor {
	border: 1px solid blaCK;
	border-radius: 50%;
}
.f12 {
	font-size: 12px;
}
.sliderbox {
	border: solid 1px rgba(8, 117, 226, 0.18);
	background-color: #f2f8fe;
	padding: 24px;
	border-radius: 4px;
}
.smallbg {
	background: #f7eded;
}
.numradis {
	border: 1px solid #aaa;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
}
input[type=text].rupee {
	background-image: url(http://i.imgur.com/Fd7NROx.png);
	border: 1px solid #aaa;
	padding: 5px;
	padding-left: 20px;
	background-size: 10px 15px;
	background-repeat: no-repeat;
	background-position: 12px 10px;
}
input[type="text"].rupee {
	padding-right: 10px;
	text-align: right;
}
.bg-gray {
	border: 1px solid rgba(42, 58, 141, 0.18) !important;
	background: #eeeff6 !important;
	color: rgba(0, 0, 0, 0.87) !important;
}
/*End extra */
.trnroted {
	transform: rotated(270deg);
}
/*vertical steper*/
.warapper {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.step1 {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: cream
}
.v-stepper {
	position: relative
}
.step1 .circle {
	background-color: #bebebe;
	border: transparent;
	border-radius: 100%;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 3px 0;
	color: #FFF;
}
.step1 .line {
	top: 26px;
	left: 12px;
	height: 100%;
	position: absolute;
	border-left: 3px solid gray
}
.step1.completed .circle {
	visibility: visible;
	background-color: #0696d7;
	border-color: #0696d7
}
.step1.completed .line {
	border-left: 3px solid #0696d7
}
.step1.active .circle {
	visibility: visible;
	border-color: #0696d7
}
.step1:last-child .line {
	border-left: 3px solid #fff;
	z-index: -1
}
/*end vertical steper*/
.dashed {
	background-color: #f5f5f5;
	border: dashed 1px #989898 !important;
}
/**Bharat**/
.wid40px {
	width: 40px !important;
}
.wid50px {
	min-width: 50px !important;
	width: 50px;
}
.wid60px {
	min-width: 60px !important;
	width: 60px !important;
}
.wid70px {
	min-width: 70px !important;
	width: 70px !important;
}
.wid80px {
	min-width: 80px !important;
	width: 80px !important;
}
.wid90px {
	min-width: 90px !important;
	width: 90px !important;
}
.wid110px {
	min-width: 110px !important;
	width: 110px !important;
}
.wid120px {
	min-width: 120px !important;
	width: 120px !important;
}
.widm120px {
	min-width: 120px !important;
	width: 120px !important;
}
.wid140px {
	min-width: 140px !important;
	width: 140px !important;
}
.wid150px {
	min-width: 150px !important;
	width: 150px !important;
}
.wid160px {
	min-width: 160px !important;
	width: 160px !important;
}
.wid170px {
	min-width: 170px !important;
	width: 170px !important;
}
.wid180px {
	min-width: 180px !important;
	width: 180px !important;
}
.wid190px {
	min-width: 190px !important;
	width: 190px !important;
}
.wid200px {
	min-width: 200px !important;
	width: 200px !important;
}
.wid220px {
	min-width: 220px !important;
	width: 220px !important;
}
.wid230px {
	min-width: 230px !important;
	width: 230px !important;
}
.wid300px {
	min-width: 300px !important;
	width: 300px !important;
}
.wid350px {
	min-width: 350px !important;
	width: 350px !important;
}
.widmin80px {
	min-width: 80px !important;
}
.widmin230px {
	min-width: 230px !important;
}
/*****Saikiran*****/
.colors, .passport-number, .receipt-no, .show-1391, .show-hr {
	display: none;
}
.addbor img {
	margin-top: -3px;
}
.calender-icon {
	background: url(../images/icons/calender.svg) no-repeat !important;
	background-position: 8px center !important;
	padding: 20px;
}
.label-inline {
	display: inline !important
}
.breadcrumb li:first-child a {
	color: #0875e2 !important
}
.breadcrumb li a {
	color: rgba(0, 0, 0, 0.6)
}
label[currencyformatter="yes"] {
	padding-left: 5px
}
.sticky-top {
	z-index: 99999 !important
}
/*-----------------ITR-3---------------*/
.tble-bck-none thead tr th, .tble-bck-none tbody tr td {
	background: none !important;
	border-bottom: none !important;
}
.tble-bck-none {
	border-right: none !important;
	border-left: none !important
}
.tble-bck-none tr:hover td {
	background: none !important;
}
.tble-bck-none tfoot tr td {
	border-top: solid 1px rgba(42, 58, 141, 0.18) !important;
}
.schedule_table table tr td .input-group {
	width: 160px !important;
}
.schedule_table table tr td {
	padding: 5px !important;
}
.schedule_doa table tr td .input-group {
	width: 100px !important;
}
.schedule_deprecation table tr td, .schedule_deprecation table tr th {
	vertical-align: middle;
}
/*----------------------- Mohan CSS for ITR-4 ----------------------------*/
.totalAmount {
	font-size: 16px;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	float: right;
}
.discInfo, .totalInfo {
	font-size: 16px;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	text-align: left;
}
.goodsCarriageAmount {
	font-size: 14px;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	float: right;
}
.goodsCarriageInfo {
	font-size: 14px;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	text-align: left;
}
.BankText {
	margin-left: -12px !important;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	font-size: 14px;
}
.cashText {
	margin-left: -37px !important;
	font-family: 'Roboto-Medium', Verdana, Sans-serif;
	font-size: 14px;
	margin-top: 20px;
}
/*****Ramesh  CSS for ITR-2 *****/
a:focus {
	outline: 0 none !important;
}
*:focus {
	outline: 0 none !important;
}
/* *:active {
 outline: 0 none !important; }*/
.txt13 {
	/* font-size:13px !important; */color: #666666;
}
.rupee_ic {
	background: url(../images/icons/rupee_ic.png) no-repeat #e9ecef center center;
	width: 40px;
	display: inline-block;
}
.rupee_symb_ic {
	background: url(../images/icons/rupee_ic.png) no-repeat center center;
	width: 10px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
}
.leftli ul li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.leftli ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.alertacInfo {
	background: url(../images/icons/Info.svg) no-repeat 20px 20px;
	position: relative;
	border: 1px solid #dce6ef;
	border-radius: 4px;
	background-color: #f2f8fe;
	padding: 20px 20px 20px 55px;
	margin-bottom: 1rem;
}
.left {
	float: left;
}
.right {
	float: right;
}
.right-align, .rightalign {
	text-align: right !important;
}
.fwd_Icon {
	background: url(../images/icons/Next.svg) no-repeat center center;
	width: 10px;
	height: 10px;
	color: #0033CC;
	display: inline-block;
}
.bold {
	font-weight: bold;
}
.right-align {
	text-align: right !important;
}
.bluebg {
	background: #ebf5ff !important;
	border: 1px solid rgba(8, 117, 226, 0.18) !important;
	border-radius: 4px;
	height: auto !important;
	overflow: hidden;
}
.bluebg1 {
	background: #ebf5ff !important;
	border: 1px solid rgba(8, 117, 226, 0.18) !important;
	border-radius: 4px;
	padding: 26px 24px;
	height: auto !important;
	overflow: hidden;
}
.down_arrow_ic {
	background: url(../images/icons/hide_arrow.svg) no-repeat center center;
	width: 10px;
	height: 10px;
	color: #0033CC;
	display: inline-block;
}
.hide_arrow {
	background: url(../images/icons/hide_arrow.svg) no-repeat center center;
	width: 10px;
	height: 10px;
	color: #0033CC;
	display: inline-block;
}
.show_arrow {
	background: url(../images/icons/show_arrow.svg) no-repeat center center;
	width: 10px;
	height: 10px;
	color: #0033CC;
	display: inline-block;
}
.hide {
	display: none;
}
.rm16b {
	font-family: 'Roboto-Medium' !important;
	font-size: 16px;
	font-weight: 500 !important;
}
.rm16b label {
	font-family: 'Roboto-Medium' !important;
	font-size: 16px;
	font-weight: 500 !important;
}
.tooptip_ic_mrg {
	margin-left: 8px;
	vertical-align: middle;
	position: absolute;
	margin-top: -2px;
}
.info_ic {
	background: url(../images/icons/Info.svg) no-repeat center center;
	width: 24px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.gridonclick_am {
	background-color: #ebf5ff;
	padding: 5px;
	text-align: center;
}
.gridonclick_am li {
	padding: 2px !important;
}
.wid40px {
	width: 40px !important;
}
.wid50px {
	width: 50px;
}
.wid60px {
	min-width: 60px !important;
}
.widt60px {
	width: 60px !important;
}
.wid70px {
	min-width: 70px !important;
}
.wid80px {
	min-width: 80px !important;
	width: 80px !important;
}
.wid90px {
	min-width: 90px !important;
	width: 90px !important;
}
.wid110px {
	min-width: 110px;
	width: 110px;
}
.wid120px {
	min-width: 120px;
	width: 120px;
}
.widm120px {
	min-width: 120px !important;
}
.wid140px {
	min-width: 140px !important;
	width: 140px !important;
}
.wid150px {
	min-width: 150px !important;
	width: 150px !important;
}
.wid160px {
	min-width: 160px !important;
	width: 160px !important;
}
.wid170px {
	min-width: 170px !important;
	width: 170px !important;
}
.wid180px {
	min-width: 180px !important;
	width: 180px;
}
.wid190px {
	min-width: 190px !important;
	width: 190px !important;
}
.wid200px {
	min-width: 200px !important;
	width: 200px !important;
}
.wid220px {
	min-width: 220px !important;
	width: 220px !important;
}
.wid230px {
	min-width: 230px !important;
	width: 230px !important;
}
.wid300px {
	min-width: 300px !important;
	width: 300px !important;
}
.wid350px {
	min-width: 350px !important;
	width: 350px !important;
}
td .input-group .widm80px {
	max-width: 80px !important;
	display: inline-block;
}
.dropdowntitle .fa {
	color: #848484 !important;
	font-size: 12px !important;
	cursor: pointer;
	margin-right: 2px;
}
.dropdowncontent {
	background: #ebf5ff !important;
	border: 1px solid rgba(8, 117, 226, 0.18) !important;
	border-radius: 4px;
	height: auto !important;
	overflow: hidden;
	position: relative;
	margin-top: -10px;
}
.dropdowncontent .fa {
	color: #848484 !important;
	font-size: 12px !important;
	cursor: pointer;
}
.table1 td i.fa {
	color: #848484 !important;
	font-size: 12px !important;
	cursor: pointer;
}
@media only screen and (max-width: 600px) {
td .form-control {
	min-width: 120px !important;
}
td .input-group .widm80px {
	min-width: 60px !important;
}
.input-group, .amount.short-text {
	width: 100% !important;
}
}
.wid191px {
	width: 191px;
}
.lineheight0 {
	line-height: 0px;
}
.gridleftli {
	width: 200px !important;
}
.gridleftli ul li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.gridleftli ul {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.gridleftli .firtstli {
	width: 80px !important;
}
.gridleftli .secondli {
	width: 120px !important;
}
hr {
	clear: both;
	border-top: 1px solid #d9dceb !important;
}
.rightalign {
	text-align: right;
}
table .cust-checkbox {
	margin-bottom: 0px !important;
}
@media only screen and (max-width: 600px) {
.col-md-3.offset-5 {
	margin-left: 0;
}
}
.select2-container {
	width: 80% !important;
}
/*.select2-container--open .select2-dropdown{width: 100% !important;}*/
select {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hide1 {
	display: none;
}
.table2 td {
	padding: 10px !important;
	font-family: Roboto-Regular;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.87);
	padding-left: 0px !important;
}
.table2 tr td {
	border: none !important;
	vertical-align: top;
}
.table2 table .cust-checkbox {
	margin-bottom: 0px !important;
}
.w-90 {
	width: 90%;
}
/*Left navigation class starts*/
.schedulepage .nav.nav-tabs {
	float: left;
	display: block;
	width: 90%;
	border: solid 1px rgba(42, 58, 141, 0.18);
}
.schedulepage .nav-tabs .nav-link.active {
	border-left: 3px solid #0875e2 !important;
	border-radius: 0 !important;
	border-bottom: none !important;
	color: rgba(0, 0, 0, 0.87);
	background-color: #fff;
	padding: 15px 24px 15px 22px;
	font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
	font-size: 14px;
	border-color: #f6f7fb #f6f7fb #f6f7fb;
}
.schedulepage .nav-tabs .nav-link {
	color: rgba(0, 0, 0, 0.87);
	background-color: #fff;
	padding: 15px 24px !important;
	font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
	height: auto;
	font-size: 14px;
	width: 100%;
	display: inline-block;
	border-color: #f6f7fb #f6f7fb #f6f7fb;
}
.schedulepage .nav-tabs .nav-item {
	margin-bottom: -6px;
}
/*Left navigation class ends*/
/*Chaitanya Styles*/
.dots-icon img {
	width: 20px;
	position: absolute;
	right: -12px;
	top: -12px;
}
.btn-outline-secondary {
	background: #e9ecef;
	color: #495057
}
.sub-txt {
	color: rgba(0, 0, 0, 0.6) !important;
}
.brdr-rgt {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.help-bottom {
	margin-top: 20%;
}
.verify-title {
	font-size: 18px;
	font-weight: 600;
}
.sub-verify {
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	padding-left: 30px;
	margin-top: 11px;
}
.otp {
	width: 40px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
}
.resend {
	color: rgba(0, 0, 0, 0.38);
	font-size: 14px;
	font-weight: 500;
}
.resend >span {
	color: rgba(0, 0, 0, 0.87);
	font-size: 12px;
}
.receive-otp {
	color: #0875e2;
	font-size: 14px;
	font-weight: 500;
}
.success-text {
	color: #218737;
}
.success-box {
	padding-top: 49px;
	padding-bottom: 49px;
	padding-left: 37%;
	height: auto !important;
}
.success-icon {
	background: url(../images/icons/success.png) no-repeat 24px center !important;
	background-size: 126px 136px;
}
.checked-icon {
	background: url(../images/icons/checked1.png) no-repeat 24px center !important;
}
.dots-icon img {
	width: 20px;
	position: absolute;
	right: -12px;
	top: -12px;
}
.card1 {
	border-bottom: 1px solid rgba(42, 58, 141, 0.18)
}
.circle-num {
	border: 1px solid#333;
	border-radius: 50%;
	padding: 1px 5px;
	font-size: 14px;
}
.lst li {
	margin-bottom: 8px;
}
.custom-table thead tr, .custom-table tbody tr {
	border-bottom: 1px solid #333;
}
.chk {
	padding-left: 15px !important;
}
.datepicker table tr td span {
	font-size: 12px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: rgba(0, 0, 0, 0.05) !important;
	color: #000 !important;
}
.dropdown-item {
	color: #2125299e !important;
}
.mobile-bread {
	background: #eee;
	color: #000;
	padding: 5px;
}
.dropdown-item {
	display: block;
	width: 100%;
 padding: .25rem 1.5rem !important;
	clear: both;
	font-weight: 400 !important;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.mobile-bread-show {
	display: none;
}
.panel-group .panel {
	border-radius: 4px;
	border: solid 1px rgba(42, 58, 141, 0.18);
	background-color: #ffffff;
}
.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #fff;
	border-color: #EEEEEE;
}
.panel-title {
	font-size: 14px;
	margin-bottom: 0px !important;
}
.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #000 !important;
}
.more-less {
	float: left;
	color: #212121;
	width: 20px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
	background: #fff;
}
.styltypenone li {
	list-style-type: none;
}
.rotate {
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 18px;
	color: #1878e2;
}
.rotate.down {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90def);
}
@media(max-width: 800px) {
.otp {
	width: 34px;
	padding: 2px 6px;
	text-align: center;
}
.success-box {
	padding-left: 5px;
}
label.amountLabel {
	margin-left: 0px;
}
.pad55L-sm {
	padding-left: 0px !important;
}
.short-text {
	width: 100%;
}
.cashText {
	margin-left: 0px !important;
}
.fRM20, .fRM20 label {
	font-size: 14px;
}
h1, .h1 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 0.1;
}
h2, .h2 {
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0.1;
}
h3, .h3 {
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 0.1;
}
h4, .h4 {
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.1;
}
.fRM16 {
	font-size: 12px;
}
.wid300px, .wid350px {
	width: 100%;
}
.card-body {
	padding: 16px;
}
.card-body .container {
	padding-left: 0px;
	padding-right: 0px;
}
button.primaryButton.largeButton {
	width: 100% !important;
	margin-bottom: 10px !important;
}
button.secondaryButton.largeButton {
	width: 100% !important;
	margin-bottom: 10px !important;
}
.col-md-6.col-6 {
	max-width: 100% !important;
	flex: 100% !important;
}
.largeButton.iconBefore {
	background-position: 28% center;
}
/*.helpButton  {min-height: auto; min-width: auto; padding:0px 24px 0 14px; } 
  .editButton  {min-height: auto; min-width: auto; padding:0px 24px 0 14px; }
  .deleteButton {min-height: auto; min-width: auto; padding:0px 24px 0 14px; }*/
.editButton, .deleteButton {
	padding: 0px !important;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-position: center;
}
.helpButton {
	padding: 0px !important;
	min-width: 40px;
	height: 40px;
	text-indent: -9999px;
	background-position: center;
}
.mobile-bread-show {
	background: #eee;
	color: #000;
	width: 20px;
	height: 20px;
	margin: 0 15px;
	font-size: 30px;
	text-align: center;
	line-height: 3px;
	display: block;
}
.mobile-bread-hide {
	display: none;
}
}
@media(max-width: 767px) {
.otp {
	width: 34px;
	padding: 2px 6px;
	text-align: center;
}
.success-box {
	padding-left: 5px;
}
label.amountLabel {
	margin-left: 0px;
}
.pad55L-sm {
	padding-left: 0px !important;
}
.short-text {
	width: 100%;
}
.cashText {
	margin-left: 0px !important;
}
}
.add-modal .modal-dialog {
	max-width: 100% !important;
}
.add-modal .modal-content {
	border-radius: 0px;
	background: #f6f7fb;
	height: 100vh;
}
@media(max-width: 1023px) {
.subwidget {
	width: 100%;
	display: inline-block;
}
}
.backimg {
	background: url(../images/icons/e_filing_logo_wm.svg) no-repeat;
	z-index: 1;
	background-position: center center;
	background-size: 80%;
}
.schedulepage .nav-tabs .nav-link.active {
	border-left: 3px solid #0875e2 !important;
	border-radius: 0 !important;
	padding-left: 22px !important;
}
.schedulepage .numbertxt {
	text-align: center;
	border-radius: 2px;
	border: solid 1px rgba(8, 117, 226, 0.18);
	background-color: #f2f8fe;
	font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
	font-size: 12px !important;
	vertical-align: middle !important;
	float: right;
	line-height: 16px !important;
	color: #0875e2;
	padding: 1px 5px;
	display: inline-block;
	min-width: 16px;
	min-height: 16px;
}
.selectschedulebg {
	background: #fff;
	border: solid 1px rgba(42, 58, 141, 0.18);
}
.selectschedulebg .bluebrbg {
	border-radius: 4px;
	line-height: 60px;
	padding-top: 0px;
	height: 60px;
	width: 60px;
	font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
	font-size: 18px;
	vertical-align: middle !important;
	text-align: center;
	font-weight: 500;
	color: #fff;
	background-color: #6aaced;
}
.selectschedulebg .table2 {
	padding: 24px;
}
.selectschedulebg .brb {
	border-bottom: solid 1px rgba(42, 58, 141, 0.18) !important;
}
.selectschedulebg .table2 td {
	vertical-align: middle !important;
}
.selectschedulebg .txthd {
	font-family: 'Roboto-Bold', Verdana, Sans-serif !important;
	font-size: 16px !important;
	vertical-align: middle !important;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.87);
}
.selectschedulebg .gtxt {
	font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
	font-size: 14px !important;
	vertical-align: middle !important;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.6);
}
.selectschedulebg .txtlink a {
	font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
	font-size: 14px !important;
	vertical-align: middle !important;
	color: #0875e2 !important;
	line-height: 20px !important;
}
.brb {
	border-bottom: solid 1px rgba(42, 58, 141, 0.18) !important;
}
.skipquestiontxt {
	color: #2a3a8d;
	font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
	font-size: 16px !important;
	line-height: 24px;
}
.bluebg2 {
	background: #ebf5ff !important;
	border: 1px solid rgba(8, 117, 226, 0.18) !important;
	border-radius: 4px;
	padding: 8px 8px;
	height: auto !important;
	overflow: hidden;
	display: inline-block;
}
button {
	text-transform: capitalize !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 6px 5px 0 5px;
	border-radius: 20px !important;
}
select {
	padding: 0 22px 0 10px !important;
}
select option {
	text-transform: capitalize !important;
}
select.form-control.is-invalid, .was-validated .form-control:invalid {
 background-image: url(../images/icons/down_arrow.png) !important;
 background-repeat: no-repeat !important;
 background-position-x: 98% !important;
 background-position-y: 15px !important;
 background-size: 10px !important;
}
input.form-control.is-invalid {
 padding: .375rem .75rem !important;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
/*preview styles*/
.divid {
	width: 100%;
	height: 3px;
	background: #000;
	display: inline-block;
}
.cus-table-scroll {
	overflow-x: auto;
	display: inline-block;
	width: 100%;
}
.cus-table tr td, .cus-table tr th {
	border: 1px solid #333;
	padding: 5px;
	border-bottom: none;
}
.table-bottom td {
	border-bottom: 1px solid #333 !important;
}
.cushide th {
	border-top: none !important;
}
.alhide td {
	border-left: none !important;
	border-top: none !important;
}
.tablebr-0 tr th:first-child, .tablebr-0 tr td:first-child {
	border-left: none;
}
.tablebr-0 tr th:last-child, .tablebr-0 tr td:last-child {
	border-right: none;
}
/*.cusmaincontent{width: 80%;float: right;}*/
.cussidebar .nav-tabs .nav-link {
	background-color: #f6f7fb;
	padding: 10px 24px !important;
}
.cussidebar .nav.nav-tabs {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	scrollbar-width: thin;
}
.cussidebar .nav.nav-tabs::-webkit-scrollbar-track {
 border-radius: 10px;
 background-color: #bdbdbd;
}
.cussidebar .nav.nav-tabs::-webkit-scrollbar {
 width: 5px;
 background-color: #bdbdbd;
}
.cussidebar .nav.nav-tabs::-webkit-scrollbar-thumb {
 border-radius: 10px;
 background-color: #555;
}
.inputlabel {
	border: none !important;
	padding: 0px !important;
	background: transparent !important;
	opacity: 1 !important;
	text-align: right;
	min-height: 35px !important
}
.inputlabel:focus {
	outline: none;
}
.inputlabel.is-invalid {
	border: none !important
}
/*------ITR-3-----------*/
.toprow-none td {
	border-bottom: none !important;
}
.schedule80table td {
	padding-bottom: 5px !important;
	padding-top: 5px !important;
}
.pr-15 {
	padding-right: 15px !important;
}
.table1 table th table th {
	padding: 0px !important;
	border: none !important;
	font-family: 'Roboto-Medium' !important;
}
#selectClause {
	color: #999999;
}
.schedule_table table > thead > tr > th, .addEsrTable table > thead > tr > th, .addUdTable table > thead > tr > th {
	background-color: #ffffff !important;
}
.schedule_table table tr td, .addEsrTable table tr td, .editEsrTable table tr td, .addUdTable table tr td {
	border: none !important;
}
.editEsrTable .table1 {
	border-bottom: solid 1px rgba(42, 58, 141, 0.18);
	border-top: solid 1px rgba(42, 58, 141, 0.18);
}
.addUdTable table tr:hover td, .schedule_table table tr:hover td, .addEsrTable table tr:hover td, .schedule_deprecation table tr:hover td, .bpTable table tr:hover td {
	background-color: transparent !important;
}
.schedule_table table tr td .input-group {
	width: 160px !important;
}
.schedule_table table tr td {
	padding: 5px !important;
}
.schedule_doa table tr td .input-group {
	width: 100px !important;
}
.schedule_deprecation table tr td, .schedule_deprecation table tr th {
	vertical-align: middle;
}
.schedule_deprecation table tr td:not(:nth-child(1)):not(:nth-child(2)) {
 min-width: 110px;
 text-align: center;
}
.schedule_deprecation table tr td:nth-child(1), .schedule_deprecation table tr th:nth-child(1) {
	text-align: center;
}
.schedule_deprecation table th {
	padding: 5px 15px 15px !important;
}
.schedule_deprecation table thead tr th label {
	font-size: 16px !important;
}
.addUdTable table th {
	white-space: nowrap;
}
.addUdTable table .input-group {
	width: 100% !important;
}
.addUdTable table tr td {
	padding: 15px 10px !important;
}
.addUdTable {
	border: none;
}
.addUdTable thead tr:last-child {
	border-top: 1px solid #ccc;
}
.addUdTable thead tr:first-child th:first-child::after, .addUdTable thead tr:first-child th:nth-child(2)::after {
	content: '';
	width: 1px;
	height: 90%;
	position: absolute;
	top: 0;
	right: 0;
	border-right: 1px solid #ccc;
}
.addUdTable thead tr:last-child th:first-child, .addUdTable thead tr:last-child th:nth-child(4), .addUdTable tbody tr td:first-child, .addUdTable tbody tr td:nth-child(4) {
	border-right: 1px solid #ccc !important;
}
.udtotal {
	border-top: 1px solid #ccc;
}
.udtotal .input-group {
	width: 100%;
}
.schedule_table table tr td .input-group {
	width: 160px !important;
}
.schedule_table table tr td {
	padding: 5px !important;
}
.schedule_doa table tr td .input-group {
	width: 100px !important;
}
.schedule_deprecation table tr td, .schedule_deprecation table tr th {
	vertical-align: middle;
}
.schedule_deprecation table tr td:not(:nth-child(1)):not(:nth-child(2)) {
 min-width: 110px;
 text-align: center;
}
.schedule_deprecation table tr td:nth-child(1), .schedule_deprecation table tr th:nth-child(1) {
	text-align: center;
}
.schedule_deprecation table th {
	padding: 5px 15px 15px !important;
}
.schedule_deprecation table thead tr th label {
	font-size: 16px !important;
}
.profit_before_tax li {
	padding-top: 25px;
}
.discInfo_subtext {
	color: #666666;
	font-size: 16px;
}
.list-item.row, .list-item .row {
	align-items: center;
}
.list-item {
	padding-top: 10px;
}
.list-item ol {
	padding-left: 3.5rem;
}
/*ol li {
	font-family: 'Roboto-Medium';
	font-size: 16px !important;
}*/
#selectClause {
	color: #999999;
}
.bold {
	font-weight: bold;
}
.select2-dropdown--below {
	z-index: 9999 !important
}
/*Velidation Framework CSS Start*/
[data-toggle="collapse"] .acrdIcon {
	transform: rotate(90deg);
}
[data-toggle="collapse"].collapsed .acrdIcon {
	transform: rotate(0deg);
}
#accordion .card {
	margin-bottom: 8px;
}
#accordion .card-header {
	padding: 0 !important;
	background-color: #FFF !important;
}
#accordion .card-header:hover {
	background-color: #f2f2f2 !important;
}
#accordion .card-header a {
	margin: 24px;
	display: block;
	cursor: pointer;
	font-size: 20px;
	padding: 0;
}
.acrdIcon {
	background-image: url(images/icons/Next.svg);
	width: 24px;
	height: 24px;
	display: inline-block;
}
.vTop {
	vertical-align: top;
}
#accordion .cust-checkbox {
	vertical-align: text-top;
}
.borderLeft{border-left:1px solid #d8dbea;}
.constantTable tr td{vertical-align:middle;}

/*Velidation Framework CSS End*/