/*
* A stylesheet for ITD 2.0(Infosys) use with Bootstrap 4.x
* @author: Naga Mohana Rao Manam 
* @Email: naga.mohana@intense.in
* @Project: ITD 2.0 (Infosys)
* @Date: 04/01/2020
*/
:root{
  --first-color: #f6f7fb;
  --secondary-color: #0875e2;
  --primary-text: rgba(0, 0, 0, 0.87);
  --secondary-text: rgba(0, 0, 0, 0.6);
  --panel-color: #fff;
  --panel-indicator: rgba(0, 0, 0, .54);
  --field-bg: white;
  --error-bg: #cd2026;
  --disabled-input: rgba(0, 0, 0, 0.05);
  --checkbox-bordercolor: rgba(0, 0, 0, 0.5);
  --heading1-fontSize: 2.25rem;
  --heading2-fontSize: 2rem;
  --heading3-fontSize: 1.875rem;
  --heading4-fontSize: 1.5rem;
  --heading5-fontSize: 1.25rem;
  --heading6-fontSize: 1.125rem;
  --body1-fontSize: 1rem;
  --body2-fontSize: 0.875rem;
  --body3-fontSize: 0.75rem;
  --header-color: white;
  --cerulean-blue: #0875e2;
  --dusk-blue: #2a3a8d;
  --horizontal-top-border:rgba(0, 0, 0, 0.1);
  --alice-blue: #ebf4fd;
  --selago-blue: #f5fafe;
  --hawkes-blue: #ebf4fd;
  --science-blue: #076bcf;
  --saltpan-color: #f2f8f4;
  --white-linen: #fbf4f1;
  --wisp-pink: #fef2f3;
  --concrete-color: #f2f2f2;
  --black-18: rgba(0, 0, 0, 0.18);
  --black-24: rgba(0, 0, 0, 0.24);
  --black-38: rgba(0, 0, 0, 0.38);
  --forest-green: #1f7f34;
  --brick-orange: #bc460b;
  --whisper-color: #eeeff6;
  --bay-many:rgba(42, 58, 141, 0.18);
  --dusker-blue: rgba(255, 255, 255, 0.18);
  --amber-color: #fbbd08;
  --early-dawn: #FFFAEB;
  --pastel-green: #6edd80;
  --feta-color: #F4FDF5;
  --geraldine-color: #f7888c;
  --chablis-color: #FFF6F6;
  --carnation-color: #F6655A;
  --french-rose: #ED477F;
  --amethyst-color: #AE4EBE;
  --fuchsia-blue: #825EC4;
  --blue-marguerite: #6270C2;
  --picton-blue1: #49A9F5;
  --picton-blue2:#30B9F6;
  --scooter-blue: #2ec8dc;
  --jungle-green: #2ea99e;
  --fern-color: #6CBE70;
  --wild-willow: #a0ce6b;
  --wattle-color: #d6e25d;
  --gorse-color: #ffef5e;
  --sunglow-color: #ffcc34;
  --sunshade-color: #ffab2e;
  --coral-color: #ff754a;
  --almond-frost: #917469;
  --silver-chalice: #b0b0b0;
  --regent-gray: #7d95a0;
}
/* -------------------------------- Font Settings Start ---------------------------- */
/* roboto-regular */
@font-face {
  font-family: 'Roboto-Regular' !important;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-regular.eot');
  /* IE9 Compat Modes */ src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-regular.svg#Roboto') format('svg');
  /* Legacy iOS */ }
/* roboto-medium */
@font-face {
  font-family: 'Roboto-Medium' !important;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-medium.eot');
  /* IE9 Compat Modes */ src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-medium.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-medium.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-medium.svg#Roboto') format('svg');
  /* Legacy iOS */ }
/* roboto-bold */
@font-face {
  font-family: 'Roboto-Bold' !important;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-bold.eot');
  /* IE9 Compat Modes */ src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-bold.svg#Roboto') format('svg');
  /* Legacy iOS */ }
/** {
font-family: 'Roboto-Regular' !important;
}*/
body, html {
  /*height: 100%;*/
  margin: 0;
}
body {
  background-color: #f6f7fb;
  background-color: var(--first-color);
  color: rgba(0,0,0,0.87);
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
  font-size: 14px;
}
.halfGray {
  color: var(--secondary-text) }
/*--------------------Typography  CSS Start--------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
h1, .h1 {
  font-family: 'Roboto-Bold', Verdana, Sans-serif !important;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.39;
}
h2, .h2 {
  font-family: 'Roboto-Bold', Verdana, Sans-serif !important;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.41;
}
h3, .h3 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.33;
}
h4, .h4 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}
h5, .h5 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
h6, .h6 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
small, .small {
  font-size: 0.75rem !important;
  color: rgba(0, 0, 0, 0.6) !important;
}
.subtitle1 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.subtitle2 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.caption, .hintText {
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
p, .p {
  line-height: 1.5;
  margin-bottom: 0;
}
/* colors */
.black87 {
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.black60 {
  color: rgba(0, 0, 0, 0.6);
}
.black38 {
  color: rgba(0, 0, 0, 0.38);
}
/*-------------------- Typography  CSS End--------------------*/
/*-------------------- Iconography CSS Start ---------------------*/
.icon16 {
  width: 16px;
  height: 16px;
}
.icon18 {
  width: 18px;
  height: 18px;
}
.icon24 {
  width: 24px;
  height: 24px;
}
.icon32 {
  width: 32px;
  height: 32px;
}
.icon48 {
  width: 48px;
  height: 48px;
}
/*-------------------- Iconography CSS End ---------------------*/
/*-------------------------- Buttons & Links CSS Start --------------------------*/
/* BUTTON ICONS */
.downloadIcon {
  background: url(../images/icons/downloadIcon.svg) no-repeat;
  background-size: 18px 18px !important;
  background-position: 17px 11px !important;
}
.editIcon {
  background: url(assets/buttonIcons/defaultEditIcon.svg) no-repeat;
}
.previousIcon {
  background: url(../images/icons/previous_b.svg) no-repeat;
}
.nextIcon {
  background: url(../images/icons/next_w.svg) no-repeat;
}
.nextIcon:disabled {
  background: url(../images/icons/next_disabled.svg) no-repeat;
}
.addIconPrimary {
  background: url(assets/buttonIcons/addIconPrimary.svg) no-repeat;
}
.addIconPrimary:disabled {
  background: url(assets/buttonIcons/addIconDisabled.svg) no-repeat;
}
.addIconSecondary {
  background: url(assets/buttonIcons/addIconSecondary.svg) no-repeat;
}
.addIconSecondary:disabled {
  background: url(assets/buttonIcons/addIconDisabled.svg) no-repeat;
}
.removeIcon {
  background: url(assets/buttonIcons/removeIcon.svg) no-repeat;
}
.removeIcon:disabled {
  background: url(assets/buttonIcons/removeIconDisabled.svg) no-repeat;
}
/* BUTTON SIZES (DEFAULT, SAMLL, LARGE) */
/* DEFAULT BUTTON */
.defaultButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 0.875rem;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.36;
  border-radius: 4px;
  padding: 0 20px 0;
  min-height: 36px;
  min-width: 84px;
}
.defaultButton.iconBefore {
  padding: 0 20px 0 38px;
  background-position: 16px center;
  background-size: 18px 18px;
}
.defaultButton.iconAfter {
  padding: 0 38px 0 20px;
  background-position: right 16px center;
  background-size: 18px 18px;
}
/* SMALL BUTTON */
.smallButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  border-radius: 4px;
  padding: 0 16px 0;
  min-height: 30px;
}
.smallButton.iconBefore {
  padding: 0 16px 0 30px;
  background-position: 12px center;
  background-size: 14px 14px;
}
.smallButton.iconAfter {
  padding: 0 20px 0 38px;
  background-position: right 12px center;
  background-size: 14px 14px;
}
/* LARGE BUTTON */
.largeButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 1rem;
  font-size: var(--body1-fontSize);
  font-weight: 500;
  text-align: center;
  line-height: 1.31;
  border-radius: 4px;
  padding: 0 24px 0;
  min-height: 46px;
  min-width: 98px;
}
.largeButton.iconBefore {
  padding: 0 24px 0 42px;
  /* IMAGE SIZE => 22px*22px */ background-position: 20px center;
  background-size: 22px 22px;
}
.largeButton.iconsAfter {
  padding: 0 42px 0 24px;
  background-position: right 20px center;
  background-size: 22px 22px;
}
/* BUTTON STYLING (PRIMARY, SECONDARY AND TERTIARY) */
/* PRIMARY BUTTON */
.primaryButton {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #2a3a8d;
  color: #ffffff;
  border: none;
}
.primaryButton:hover:enabled {
  background-color: #223074;
}
.primaryButton:disabled {
  background-color: rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.24);
  box-shadow: none;
  border: none;
  font-weight: 500;
}
.primaryButton:focus {
  border-radius: 6px;
  border: solid 1px #0875e2;
  border: solid 1px var(--secondary-color);
}
.primaryButton.focus-visible {
  outline: #0875e2 solid 1px;
  outline: var(--secondary-color) solid 1px;
  outline-offset: 3px;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
}
/*.primaryButton:focus:not(.focus-visible) {
}*/
/* SECONDARY BUTTON */
.secondaryButton {
  color: #2a3a8d;
  border: solid 1px #2a3a8d;
  background-color: transparent;
}
.secondaryButton:hover:enabled {
  background-color: rgba(42, 58, 141, 0.08);
}
.secondaryButton:disabled {
  border: solid 1px rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
}
.secondaryButton.focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #2a3a8d;
}
.secondaryButton:focus:not(.focus-visible) {
  outline: none;
}
/* TERTIARY BUTTON */
.tertiaryButton {
  color: #2a3a8d;
  background-color: transparent;
  border: none;
}
.tertiaryButton:hover:enabled {
  background-color: rgba(42, 58, 141, 0.08);
}
.tertiaryButton:disabled {
  color: rgba(0, 0, 0, 0.38);
}
.tertiaryButton.focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
}
.tertiaryButton:focus:not(.focus-visible) {
  outline: none;
}
/* Reject BUTTON */
.rejectButton {
  color: #cd2026;
  background-color: transparent;
  border: 1px solid #cd2026;
}
.rejectButton:hover:enabled {
  background-color: #fef2f3;
  border: 1px solid #cd2026;
}
.rejectButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
}
.rejectButton.focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
}
.rejectButton:focus:not(.focus-visible) {
  outline: none;
}
/* VERTICAL DISTANCE FOR BUTTONS */
.endButtons {
  margin-top: 32px;
}
/* DISTANCE BETWEEN TWO LARGE BUTTONS */
.largeButtonGap {
  margin-right: 16px;
}
/* DISTANCE BETWEEN DEFAULT BUTTONS */
.defualtButtonGap {
  margin-right: 8px;
}
/* DISTANCE BETWEEN SMALL BUTTONS */
.smallButtonGap {
  margin-right: 8px;
}
/* COPY BUTTON */
.copyButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background: url(assets/buttonIcons/copyIcon.png) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: #0875e2;
  color: var(--secondary-color);
}
.copyButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.copyButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(assets/buttonIcons/copyIconDisabled.png) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.copyButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/* EDIT BUTTON */
.editButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background: url(../images/icons/edit_ic.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
.editButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.editButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(../images/icons/edit_ic_disabled.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.editButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/* ADD DETAILS BUTTON */
.addDetailsButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background: url(../images/icons/add_ic.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: #0875e2;
  color: var(--secondary-color);
}
.addDetailsButton1 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background: url(../images/icons/add_ic.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 14px;
  border-radius: 4px;
  height: 30px;
  vertical-align: middle;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  border: 1px solid #2a3a8d;
  color: #2a3a8d;
  background-color: transparent;
}
.addDetailsButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.addDetailsButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(../images/icons/add_ic_disabled.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.addDetailsButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/* ADD BUTTON */
.addButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 16px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: #0875e2;
  color: var(--secondary-color);
}
.addButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.addButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(../images/icons/add_ic_disabled.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.addButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/* DELETE BUTTON */
.deleteButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background: url(../images/icons/delete_ic.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
  background-color: transparent;
  color: #cd2026;
  color: var(--error-bg);
}
.deleteButton:hover:enabled {
  background-color: #fef2f3;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
.deleteButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(../images/icons/delete_ic_disabled.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.deleteButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
/* Remove BUTTON */
.removeButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background: url(../images/icons/remove_ic.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
  background-color: transparent;
  color: #cd2026;
  color: var(--error-bg);
}
.removeButton:hover:enabled {
  background-color: #fef2f3;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
.removeButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(../images/icons/remove_ic_disabled.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.removeButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
/* HELP BUTTON */
.helpButton {
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  background: url(../images/icons/help_ic.svg) no-repeat;
  background-position: right 12px center;
  background-size: 14px 14px;
  padding: 0 35px 0 14px;
  font-size: 14px;
  border-radius: 4px;
  height: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #2a3a8d;
  background-color: transparent;
  color: #2a3a8d;
}
.helpButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.helpButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(../images/icons/edit_ic_disabled.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.helpButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/*Links CSS */
a {
  font-size: 14px;
  color: #0875e2;
  color: var(--secondary-color);
  text-decoration: none;
  background-color: transparent;
  padding: 3px 8px;
}
.border-bottom-anchor {
  border-bottom: 2px solid #f6f7fb;
  border-bottom: 2px solid var(--first-color);
}
.padd_anch {
  padding: 0;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:focus {
  border-radius: 4px;
  border: solid 1px rgba(8, 117, 226, 0.6);
}
a.disabled {
  pointer-events: none;
  cursor: default;
  color: rgba(0, 0, 0, 0.6);
}
/*-------------------------- Buttons CSS End --------------------------*/
/*-------------------------- Input CSS Start --------------------------*/
.form-group {
  margin-bottom: 1.5rem;
}
.form-group label {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  margin-bottom: 0.5rem!important;
}
.form-group label+span {
  color: #cd2026;
}
.form-group .hint {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}
.form-group label.small, .form-group small {
  font-size: 80%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
select.form-control {
  padding: 0.365rem 1.6rem 0.365rem 0.75rem !important }
.form-control {
  min-height: 40px;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
}
.short-text {
  width: 180px;
}
.form-control:hover {
  border: solid 2px rgba(0, 0, 0, 0.6);
}
.form-control:active, .form-control:focus {
  border: solid 2px #0875e2;
  border: solid 2px var(--secondary-color);
  box-shadow: none;
}
.input-group.short-text .form-control {
  text-align: right;
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #cd2026;
  padding-right: .375rem;
  background-image: none;
}
.is-invalid {
  border: 2px solid #cd2026 !important;
  box-shadow: none !important;
}
.form-control:disabled, .form-control[readonly] {
  border: solid 1px rgba(0, 0, 0, 0.18);
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 1;
}
textarea {
  resize: none;
}
textarea.form-control {
  width: 100%;
  margin: 0 !important;
  padding: 12px;
}
span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 2;
  width: 24px;
  height: 24px;
}
.visibility_on {
  background-image: url(../images/icons/visibility_on.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.visibility_off {
  background-image: url(../images/icons/visibility_off.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
label.amountLabel {
  margin-left: -30px;
}
/*select.form-control:focus::-ms-value {
color: #495057;
background-color: #fff;
}*/
option {
  background-color: #f2f2f2;
  padding: 12px;
}
.input-group-text {
  border: solid 1px rgba(0, 0, 0, 0.38);
  border-radius: 4px;
}
.noBG .input-group-text {
  border: none;
  background: none;
}
.noBG .form-control {
  border-radius: 4px!important;
}
.form-group .success {
  font-weight: normal;
  line-height: 1.29;
  color: #218737;
  min-height: 35px;
  border-radius: 4px;
  background-color: #f2f8f4;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/success.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
}
.form-group .success::before {
  content: "Success : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
}
.form-group .warning {
  font-weight: normal;
  line-height: 1.29;
  color: #bc460b;
  min-height: 35px;
  border-radius: 4px;
  background-color: #fbf4f1;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/warning.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
}
.form-group .warning::before {
  content: "Warning : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
}
.warning {
  font-weight: normal;
  line-height: 1.29;
  color: #bc460b;
  min-height: 35px;
  border-radius: 4px;
  background-color: #fbf4f1;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/warning.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
}
.warning::before {
  content: "Warning : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
}
.errormsg .invalid-feedback {
  display: block;
  font-weight: normal;
  line-height: 1.29;
  color: #cd2026;
  min-height: 35px;
  border-radius: 4px;
  background-color: #fef2f3;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/error.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
  width: 100%;
  font-size: 12px;
}
.nxt-ag-radio-group .invalid-feedback::before {
  content: "Error : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 14px;
}
.errormsg .invalid-feedback::before {
  content: "Error : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 14px;
}
.w-20 {
  width: 20% !important;
}
.errormsg1 .invalid-feedback::before {
  content: "Error : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 14px;
}
.errormsg1 .invalid-feedback {
  display: block;
  font-weight: normal;
  line-height: 1.29;
  color: #cd2026;
  min-height: 35px;
  border-radius: 4px;
  background-color: #fef2f3;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/error.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
  width: 100%;
  font-size: 12px;
  margin-left: 14px;
}
.errormsg2 .invalid-feedback::before {
  content: "Error : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 14px;
}
.errormsg2 .invalid-feedback {
  display: block;
  font-weight: normal;
  line-height: 1.29;
  color: #cd2026;
  min-height: 35px;
  border-radius: 4px;
  background-color: #fef2f3;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/error.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
  width: 100%;
  font-size: 12px;
  margin-left: 14px;
}
.nxt-ag-radio-group .invalid-feedback {
  display: block;
  font-weight: normal;
  line-height: 1.29;
  color: #cd2026;
  min-height: 35px;
  border-radius: 4px;
  background-color: #fef2f3;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/error.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
  width: 100%;
  font-size: 12px;
}
.form-group .invalid-feedback {
  font-weight: normal;
  line-height: 1.29;
  color: #cd2026;
  min-height: 35px;
  border-radius: 4px;
  background-color: #fef2f3;
  padding: 8px 8px 8px 32px;
  margin-top: 4px;
  background-image: url(../images/icons/error.svg);
  background-repeat: no-repeat;
  background-position: 8px center;
  width: 100%;
  font-size: 12px;
  clear: both;
}
.form-group .invalid-feedback::before {
  content: "Error : ";
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-size: 14px;
}
/*-------------------------- Input CSS End --------------------------*/
/*
--------------------------- Components CSS Start ------------------
*/
/*Breadcrumb CSS*/
.breadcrumb {
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  padding: 0 !important;
  margin: 1rem 0 2rem !important;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
}
.breadcrumb li{letter-spacing: 0 !important; line-height: normal !important;}
.breadcrumb a {
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  vertical-align: top;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0px;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(0, 0, 0, 0.6);
  content: url(../images/icons/breadcrumb_arrow.svg) !important;
  width: 14px;
  height: 14px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background: transparent url('../images/icons/breadcrumb_arrow.svg') no-repeat;
  margin-top: 1px;
  vertical-align: top;
}
.breadcrumb-item.active {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumb-item.active span {
  vertical-align: top;
}
/*Modal Popup CSS*/
/*.modal-content {
min-height: 153px !important;
max-height: 529px !important;
width: auto !important;
border: none !important;
}*/
/*.modal-dialog.modal-dialog-centered.modal-lg {
width: 558px !important;
}*/
.modal-header {
  padding: 24px !important;
  font-family: 'Roboto-Regular', Verdana, Sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.modal-title {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.modal-footer {
  background-color: #eeeff6;
}
.modal-body {
  vertical-align: middle;
  padding: 32px 24px !important;
  overflow-y: auto;
}
/*Start Radio Button*/
.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.radio .label {
  position: relative;
  float: left;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #0875e2;
  background: var(--secondary-color);
  transform: scale(0);
  transition: all .2s ease;
  opacity: .08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6) }
input[type=radio]:checked+.label {
  border-color: #0875e2;
  border-color: var(--secondary-color);
}
input[type=radio]:checked+.label:after {
  transform: scale(1);
  transition: all .2s cubic-bezier(.35, .9, .4, .9);
  opacity: 1;
}
.hidden {
  opacity: 0;
  position: absolute;
}
.credit {
  position: fixed;
  right: 18px;
  bottom: 18px;
  transition: all .2s ease;
  -webkit-user-select: none;
  user-select: none;
  opacity: .6 }
.credit img {
  width: 18px;
  height: 18px;
}
.credit:hover {
  transform: scale(.95);
}
/*End Start Radio Button*/
/* Start Check Box */
.cust-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.cust-checkbox {
  padding-left: 30px;
  font-weight: normal;
}
/*.checkmark { position: absolute; height: 18px; width: 18px; border: 2px solid #B1ACAA; border-radius: 2px }
*/
.checkmark {
  position: relative;
  height: 18px;
  width: 18px;
  border: 2px solid #B1ACAA;
  border-radius: 2px;
  display: inline-block;
  margin-right:8px !important;
}
.service-table .checkmark {
  position: absolute;
  height: 18px;
  width: 18px;
  border: 2px solid #B1ACAA;
  border-radius: 2px }
.cust-checkbox input:checked ~ .checkmark {
  background-color: #0875e2;
  background-color: var(--secondary-color);
  border-color: #0875e2;
  border-color: var(--secondary-color);
}
.terms-check .cust-checkbox input:checked ~ .checkmark {
  background-color: #0875e2;
  background-color: var(--secondary-color);
  border-color: #0875e2;
  border-color: var(--secondary-color);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cust-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.cust-checkbox .checkmark:after {
  left: 5px;
  top: -1px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* End Check Box */
.content .nav-tabs > li > a {
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.6);
  padding: 16px 32px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  outline: none !important;
}
.content .nav > li > a:hover {
  text-decoration: none;
  background-color: #ebf4fd;
  border: none;
  border-bottom: 3px solid #ebf4fd;
  /*border-bottom: 3px solid #0875e2;*/ }
.content .nav > li > a:focus {
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.content .nav-tabs > li.active > a, .content .nav-tabs > li.active > a:hover, .content .nav-tabs > li.active > a:focus{
  border: none !important;
  border-bottom: 3px solid #0875e2;
  border-bottom: 3px solid var(--secondary-color);
  color: #0875e2;
  color: var(--secondary-color);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #0875e2;
  color: var(--secondary-color);
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #0875e2 !important;
  border-color: #dee2e6 #dee2e6 var(--secondary-color) !important;
}
.tab-content {
  margin-top: 25px;
}
.alertInfo {
  background: url(../images/icons/Info.svg) no-repeat 10px 8px;
  position: relative;
  border-radius: 4px;
  background-color: #f2f8fe;
  padding: 8px 20px 8px 40px;
  margin-bottom: 1rem;
}
.alertWarning {
  background: url(../images/icons/warning.svg) no-repeat 10px 12px;
  position: relative;
  border-radius: 4px;
  background-color: #fcf7f2;
  padding: 10px 20px 16px 42px;
  margin-bottom: 1rem;
  color: #bc460b;
}
.alertWarningBig {
  background: url(../images/icons/warning_24.svg) no-repeat 24px 24px;
  position: relative;
  border-radius: 4px;
  background-color: #fbf4f1;
  padding: 24px 24px 24px 64px;
  margin-bottom: 1rem;
  color: #bc460b;
  border: solid 1px rgba(188, 70, 11, 0.18);
}
.alertWarningBig label {
  font-size: 20px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  color: var(--brick-orange);
  margin-bottom: 0.5rem !important;
}
.alertWarningBig p {
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.alertSuccessBig {
  background: url(../images/icons/success_24.svg) no-repeat 24px 24px;
  position: relative;
  border-radius: 4px;
  border: solid 1px rgba(33, 135, 55, 0.18);
  background-color: #edf6ef;
  padding: 24px 24px 24px 64px;
  margin-bottom: 1rem;
  color: #bc460b;
}
.alertSuccessBig label {
  font-size: 20px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  color: #218737;
  margin-bottom: 0.5rem !important;
}
.alertSuccessBig p {
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.alertDefaltBig {
  background: url(../images/icons/loading_24.svg) no-repeat 24px 24px;
  position: relative;
  border-radius: 4px;
  border: solid 1px rgba(33, 135, 55, 0.18);
  background-color: #FFF;
  padding: 24px 24px 24px 64px;
  margin-bottom: 1rem;
  color: #bc460b;
}
.alertDefaltBig label {
  font-size: 20px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  margin-bottom: 0.5rem !important;
}
.alertDefaltBig p {
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
/*
--------------------------- Components CSS End ----------------------
*/
/*Other CSS */
.card {
  border-radius: 4px;
  border: solid 1px rgba(42, 58, 141, 0.18);
  background-color: #ffffff;
}
.card-body {
  padding: 24px !important;
}
label.form-check-label {
  margin: 0 25px 0 5px !important;
}
.hide {
  display: none;
}
/*.bold { font-weight: bold; }*/
.relative {
  position: relative;
}
/*****Scroller****/
*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #9e9e9e !important;
  outline: 1px solid transparent;
  border-radius: 25px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
}
/* hr widt*/
.hrwidth {
  border: 1px solid rgba(42, 58, 141, 0.18);
}
.border-top-1 {
  border-top: 2px solid rgba(42, 58, 141, 0.18);
}
.bgnone {
  background: none;
}
/*end hr widt*/
.cursor {
  cursor: pointer;
}
/*Padding and Margin styles*/
.pad5A {
  padding: 5px!important }
.pad5T {
  padding-top: 5px!important }
.pad5R {
  padding-right: 5px!important }
.pad5B {
  padding-bottom: 5px!important }
.pad5L {
  padding-left: 5px!important }
.pad10A {
  padding: 10px!important }
.pad12A {
  padding: 12px!important }
.pad10T {
  padding-top: 10px!important }
.pad10R {
  padding-right: 10px !important }
.pad10B {
  padding-bottom: 10px!important }
.pad10L {
  padding-left: 10px!important }
.pad15A {
  padding: 15px!important }
.pad15T {
  padding-top: 15px!important }
.pad15R {
  padding-right: 15px!important }
.pad15B {
  padding-bottom: 15px!important }
.pad15L {
  padding-left: 15px!important }
.pad20A {
  padding: 20px!important }
.pad20T {
  padding-top: 20px!important }
.pad20R {
  padding-right: 20px!important }
.pad20B {
  padding-bottom: 20px!important }
.pad20L {
  padding-left: 20px!important }
.pad25A {
  padding: 25px!important }
.pad25T {
  padding-top: 25px!important }
.pad25R {
  padding-right: 25px!important }
.pad25B {
  padding-bottom: 25px!important }
.pad25L {
  padding-left: 25px!important }
.pad30A {
  padding: 30px!important }
.pad30T {
  padding-top: 30px!important }
.pad30R {
  padding-right: 30px!important }
.pad30B {
  padding-bottom: 30px!important }
.pad30L {
  padding-left: 30px!important;
}
.pad38L {
  padding-left: 38px!important;
}
.pad28T {
  padding-top: 28px!important;
}
.pad40A {
  padding: 40px!important }
.pad40T {
  padding-top: 40px!important }
.pad40R {
  padding-right: 40px!important }
.pad40B {
  padding-bottom: 40px!important }
.pad40L {
  padding-left: 40px!important }
.pad45A {
  padding: 45px!important }
.pad45T {
  padding-top: 45px!important }
.pad45R {
  padding-right: 45px!important }
.pad45B {
  padding-bottom: 45px!important }
.pad45L {
  padding-left: 45px!important }
.pad50A {
  padding: 50px!important }
.pad50T {
  padding-top: 50px!important }
.pad50R {
  padding-right: 50px!important }
.pad50B {
  padding-bottom: 50px!important }
.pad50L {
  padding-left: 50px!important }
.pad55L {
  padding-left: 55px!important }
.pad0A {
  padding: 0!important }
.pad0T {
  padding-top: 0!important }
.pad0R {
  padding-right: 0!important }
.pad0B {
  padding-bottom: 0!important }
.pad0L {
  padding-left: 0!important }
.mrg5A {
  margin: 5px!important }
.mrg5T {
  margin-top: 5px!important }
.mrg5R {
  margin-right: 5px!important }
.mrg5B {
  margin-bottom: 5px!important }
.mrg5L {
  margin-left: 5px!important }
.mrg3A {
  margin: 3px!important }
.mrg3T {
  margin-top: 3px!important }
.mrg3R {
  margin-right: 3px!important }
.mrg3B {
  margin-bottom: 3px!important }
.mrg3L {
  margin-left: 3px!important }
.mrg8A {
  margin: 8px!important }
.mrg8T {
  margin-top: 8px!important;
}
.mrg8R {
  margin-right: 8px!important }
.mrg8B {
  margin-bottom: 8px!important }
.mrg8L {
  margin-left: 8px!important }
.mrg10A {
  margin: 10px!important }
.mrg10T {
  margin-top: 10px!important }
.mrg10R {
  margin-right: 10px!important }
.mrg10B {
  margin-bottom: 10px!important }
.mrg10L {
  margin-left: 10px!important }
.mrg10LRl {
  margin: 0 -10px!important }
.mrg15A {
  margin: 15px!important }
.mrg15T {
  margin-top: 15px!important;
}
.mrg16T {
  margin-top: 16px!important;
}
.mrg10TR {
  margin-top: -10px!important }
.mrg15R {
  margin-right: 15px!important }
.mrg15B {
  margin-bottom: 15px!important }
.mrg15L {
  margin-left: 15px!important }
.mrg18A {
  margin: 18px!important }
.mrg18T {
  margin-top: 18px!important }
.mrg18R {
  margin-right: 18px!important }
.mrg18B {
  margin-bottom: 18px!important }
.mrg18L {
  margin-left: 18px!important }
.mrg20A {
  margin: 20px!important }
.mrg20T {
  margin-top: 20px!important }
.mrg20R {
  margin-right: 20px!important }
.mrg20B {
  margin-bottom: 20px!important }
.mrg20L {
  margin-left: 20px!important }
.mrg24A {
  margin: 24px!important }
.mrg24T {
  margin-top: 24px!important }
.mrg24R {
  margin-right: 24px!important }
.mrg24B {
  margin-bottom: 24px!important }
.mrg24L {
  margin-left: 24px!important }
.mrg25A {
  margin: 25px!important }
.mrg25T {
  margin-top: 25px!important }
.mrg25R {
  margin-right: 25px!important }
.mrg25B {
  margin-bottom: 25px!important }
.mrg25L {
  margin-left: 25px!important }
.mrg30A {
  margin: 30px!important }
.mrg30T {
  margin-top: 30px!important }
.mrg30R {
  margin-right: 30px!important }
.mrg30B {
  margin-bottom: 30px!important }
.mrg30L {
  margin-left: 30px!important }
.mrg32A {
  margin: 32px!important }
.mrg32T {
  margin-top: 32px!important }
.mrg32R {
  margin-right: 32px!important }
.mrg32B {
  margin-bottom: 32px!important }
.mrg32L {
  margin-left: 32px!important }
.mrg35A {
  margin: 35px!important }
.mrg35T {
  margin-top: 35px!important }
.mrg35R {
  margin-right: 35px!important }
.mrg35B {
  margin-bottom: 35px!important }
.mrg35L {
  margin-left: 35px!important }
.mrg40A {
  margin: 40px!important }
.mrg40T {
  margin-top: 40px!important }
.mrg40R {
  margin-right: 40px!important }
.mrg40B {
  margin-bottom: 40px!important }
.mrg40L {
  margin-left: 40px!important }
.mrg45A {
  margin: 45px!important }
.mrg45T {
  margin-top: 45px!important }
.mrg45R {
  margin-right: 45px!important }
.mrg45B {
  margin-bottom: 45px!important }
.mrg45L {
  margin-left: 45px!important }
.mrg64T {
  margin-top: 64px!important }
.mrg64R {
  margin-right: 64px!important }
.mrg64B {
  margin-bottom: 64px!important }
.mrg64L {
  margin-left: 64px!important }
.mrg64A {
  margin: 64px!important }
.mrg0A {
  margin: 0!important }
.mrg0T {
  margin-top: 0!important }
.mrg0R {
  margin-right: 0!important }
.mrg0B {
  margin-bottom: 0!important }
.mrg0L {
  margin-left: 0!important }
.pad15TLR {
  padding: 5px 10px 0 15px !important;
}

.mrg65B {
  margin-bottom: 65px!important }
.mrg2Brem {
  margin-bottom: 2rem !important;
}
/*.mrg4Brem {
  margin-bottom: 4rem !important;
}*/
.fRR12 {
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
  font-size: 12px;
}
.fRM12 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 12px;
}
.fRR14 {
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
  font-size: 14px;
}
.fRR16 {
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
  font-size: 16px;
}
.fRM14 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 14px;
}
.fRM16 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 16px;
}
.fRM20 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 20px;
}
.fRR20 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 20px;
}
.fRR18 {
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
  font-size: 18px;
}
.fRM18 {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 18px;
}
.fRM14 label{
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 14px;
}
.fRM16 label {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 16px;
}
.fRM20 label {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 20px;
}
.fRR20 label {
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
  font-size: 20px;
}
.fRM18 label {
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 18px;
}
.disablerupee .input-group-prepend{
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.input-group-prepend.disablerupee {
  margin-right: 0px !important;
}
.disablerupee .input-group-text {
  color: rgba(0, 0, 0, 0.24) !important;
  border: solid 1px rgba(0, 0, 0, 0.08) !important;
}
.summaryCard .card-body {
  border-bottom: 2px solid #f6f7fb;
  padding-left: 90px;
}
.summaryCard .card-body:last-child {
  border-bottom: none;
}
.personal_information {
  background: url(../images/icons/personal_information.svg) no-repeat 24px center;
}
.gross_total_income {
  background: url(../images/icons/gross_total_income.svg) no-repeat 24px center;
}
.disclosures {
  background: url(../images/icons/personal_information.svg) no-repeat 24px center;
}
.total_deductions {
  background: url(../images/icons/total_deductions.svg) no-repeat 24px center;
}
.tax_paid {
  background: url(../images/icons/tax_paid.svg) no-repeat 24px center;
}
.total_tax_liability {
  background: url(../images/icons/total_tax_liability.svg) no-repeat 24px center;
}
.helpList {
  margin: 0;
  padding-left: 1rem;
  margin: 1rem 0 0 0;
}
.helpList li {
  list-style: disc;
  margin-bottom: 0.75rem;
}
.helpList li a {
  color: #0875e2;
}
.popover {
  background-color: #666;
  border: none;
  max-width: 100%;
  z-index:0;
}
.bs-popover-auto[x-placement^="right"] > .arrow::after, .bs-popover-right > .arrow::after {
  border-right-color: #666;
}
.bs-popover-auto[x-placement^="right"] > .arrow::before, .bs-popover-right > .arrow::before {
  border-right-color: transparent;
}
.popover-header {
  padding: 0.5rem .75rem 0rem 1.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: none;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  color:#fff;
}
.popover-body {
  padding: .5rem;
  color: #FFF;
}
.infoMandatory{
  text-align:right;
  color:  rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5rem;
}
.infoMandatory .star{
  color: rgb(205, 32, 38);
}
.star{
  color: rgb(205, 32, 38);
}
.confirmed {
  background: url(../images/icons/success.svg) no-repeat;
  padding: 0 0 0 1.5rem;
  margin-left: 1rem;
  color: #218737;
}
.confirmed::before {
  content: "Confirmed";
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 14px;
}
#dd {
  width: 66px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  cursor: pointer;
}
#mon {
  width: 75px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  cursor: pointer;
}
.year {
  width: 63px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  cursor: pointer;
}
.showLink{
  background: url(../images/icons/show_arrow.svg) no-repeat right center;
  padding:0 18px 0 0;
}
.hideLink{
  background: url(../images/icons/hide_arrow.svg) no-repeat right center;
  padding:0 18px 0 0;
}
/*.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after { border-left-color: #ebf4fd;}
.bs-popover-auto[x-placement^=left]>.arrow::before, .bs-popover-left>.arrow::before { border-left-color: #ebf4fd;}*/
.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after {
  border-left-color: #666666;
}
.bs-popover-auto[x-placement^=left]>.arrow::before, .bs-popover-left>.arrow::before {
  border-left-color: #666666;
}
/*-------------------------- Wizard Steps Widget CSS Start --------------------------*/
.clear {
  clear: both;
}
.widgetnav {
  height: auto;
}
.widgetnav ul, .widgetnav li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.widgetnav ul li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.select_li.arrow {
  background: url(../images/icons/line_right_arrow.png) no-repeat right 13px;
}
.select_li .number {
  width: 34px;
  height: 37px;
  border-radius: 4px;
  border: solid 3px #0875e2;
  border: solid 3px var(--secondary-color);
  background-color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  float: left;
}
.select_li hr {
  border-top: 2px solid rgba(42, 58, 141, 0.18) !important;
  float: left;
  width: 156.7px;
  margin-right: 6px !important;
  margin-top: 1.1rem !important;
}
.select_li .txt {
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  clear: both;
  padding-top: 5px;
}
.deselect_li.arrow {
  background: url(../images/icons/line_right_arrow.png) no-repeat right 13px;
}
.deselect_li .number {
  width: 34px;
  height: 37px;
  border-radius: 4px;
  border: solid 3px rgba(42, 58, 141, 0.18);
  background-color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.38);
  float: left;
}
.deselect_li hr {
  border-top: 2px solid rgba(42, 58, 141, 0.18) !important;
  float: left;
  width: 156.7px;
  margin-right: 6px !important;
  margin-top: 1.1rem !important;
}
.deselect_li .txt {
  width: 132px;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.38);
  clear: both;
  padding-top: 5px;
}
.active_select_li.arrow {
  background: url(../images/icons/line_right_active_arrow.png) no-repeat right 13px;
}
.active_select_li .number {
  width: 34px;
  height: 37px;
  border-radius: 4px;
  background: url(../images/icons/tick_ic.png) #27833d no-repeat center center;
  vertical-align: middle;
  color: #fff;
  float: left;
}
.active_select_li hr {
  border-top: 2px solid #1b74d0 !important;
  float: left;
  width: 156.7px;
  margin-right: 6px !important;
  margin-top: 1.1rem !important;
}
.active_select_li .txt {
  width: 132px;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  clear: both;
  padding-top: 5px;
}
.active1_select_li.arrow {
  background: url(../images/icons/line_right_active1_arrow.png) no-repeat right 13px;
}
.active1_select_li .number {
  width: 34px;
  height: 37px;
  border-radius: 4px;
  background: url(../images/icons/tick_ic.png) #27833d no-repeat center center;
  vertical-align: middle;
  color: #fff;
  float: left;
}
.active1_select_li hr {
  border-top: 2px solid #27833d !important;
  float: left;
  width: 156.7px;
  margin-right: 6px !important;
  margin-top: 1.1rem !important;
}
.active1_select_li .txt {
  width: 132px;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  clear: both;
  padding-top: 5px;
}
.subwidget {
  min-height: 80px;
  border: solid 1px rgba(42, 58, 141, 0.18);
  background-color: #ebf4fd;
  padding: 15px;
  border-radius: 4px;
  width: max-content;
  position: relative;
  margin-top: 0.5rem;
}
/*.subwidget:after { content: ""; display: block; border-width: 0 12px 10px 12px; border-style: solid; border-color: transparent transparent #ebf4fd transparent; position: absolute; left: 2rem; bottom: auto; top: -10px;}*/
.subwidget li {
  max-width: 165px;
}
.subwidget li hr {
  width: 135px;
}
.subwidget .first_br_arrow {
  display: inline-block;
  position: absolute;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  transform-origin: center center;
  background: #ebf4fd;
  border-top: 1px solid rgba(42, 58, 141, 0.18);
  border-left: 1px solid rgba(42, 58, 141, 0.18);
  margin-left: 0px;
  margin-right: -3px;
  margin-bottom: -3px;
  margin-top: -21px;
  z-index: 999;
  left: 25px;
}
.subwidget .second_br_arrow {
  display: inline-block;
  position: absolute;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  transform-origin: center center;
  background: #ebf4fd;
  border-top: 1px solid rgba(42, 58, 141, 0.18);
  border-left: 1px solid rgba(42, 58, 141, 0.18);
  margin-left: 194px;
  margin-right: -3px;
  margin-bottom: -3px;
  margin-top: -21px;
  z-index: 999;
}
.sub_select_li.arrow {
  background: url(../images/icons/line_right_arrow.png) no-repeat right 6px;
}
.sub_select_li .number {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: solid 3px #0875e2;
  border: solid 3px var(--secondary-color);
  background-color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  float: left;
}
.sub_select_li hr {
  border-top: 2px solid rgba(42, 58, 141, 0.18) !important;
  float: left;
  margin-right: 6px !important;
  margin-top: .7rem !important;
}
.sub_select_li .txt {
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  clear: both;
  padding-top: 5px;
  padding-right: 16px;
}
.sub_deselect_li.arrow {
  background: url(../images/icons/line_right_arrow.png) no-repeat right 6px;
}
.sub_deselect_li .number {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: solid 3px rgba(42, 58, 141, 0.18);
  background-color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  float: left;
}
.sub_deselect_li hr {
  border-top: 2px solid rgba(42, 58, 141, 0.18) !important;
  float: left;
  margin-right: 6px !important;
  margin-top: .7rem !important;
}
.sub_deselect_li .txt {
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  clear: both;
  padding-top: 5px;
  padding-right: 16px;
}
.sub_active_select_li.arrow {
  background: url(../images/icons/line_right_active_arrow.png) no-repeat right 6px;
}
.sub_active_select_li .number {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: url(../images/icons/tick_ic.png) #27833d no-repeat center center;
  vertical-align: middle;
  color: #fff;
  float: left;
}
.sub_active_select_li hr {
  border-top: 2px solid #1b74d0 !important;
  float: left;
  width: 142px;
  margin-right: 6px !important;
  margin-top: .7rem !important;
}
.sub_active_select_li .txt {
  height: 16px;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  clear: both;
  padding-top: 5px;
  padding-right: 16px;
}
.sub_active_select_li:last-child .txt, .sub_deselect_li:last-child .txt, .sub_select_li:last-child .txt {
  padding-right: 0px;
  margin-top: 5px;
}
.sub_active1_select_li.arrow {
  background: url(../images/icons/line_right_active1_arrow.png) no-repeat right 6px;
}
.sub_active1_select_li .number {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: url(../images/icons/tick_ic.png) #27833d no-repeat center center;
  vertical-align: middle;
  color: #fff;
  float: left;
}
.sub_active1_select_li hr {
  border-top: 2px solid #27833d !important;
  float: left;
  width: 142px;
  margin-right: 6px !important;
  margin-top: .7rem !important;
}
.sub_active1_select_li .txt {
  height: 16px;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
  clear: both;
  padding-top: 5px;
}
@media only screen and (max-width: 600px) {
  .widgetnav ul li {
    height: 100px !important;
  }
  .subwidget ul li {
    height: 70px !important;
  }
  .sub_active1_select_li hr {
    width: 120px;
  }
  .sub_select_li hr {
    width: 120px;
  }
  .sub_deselect_li hr {
    width: 120px;
  }
}
.step2 .first_br_arrow {
  right: 30px;
  left: auto;
}
.step3.subwidget li {
  max-width: 300px;
}
.step3.subwidget li hr {
  width: 260px;
}
.step3 .first_br_arrow {
  right: 15px;
  left: auto;
}
.widgetnavMob hr,
.widgetnavMob .txt {
  width: 80px !important;
}
.widgetnavMob .subwidget ul {
  width: 100%;
}
.widgetnavMob .subwidget ul li {
  float: none;
  position: relative;
  width: 100% !important;
  height: 48px !important;
}
.widgetnavMob .subwidget ul li:last-child {
  height: 24px !important;
}
.widgetnavMob .clear {
  clear: none;
  display: none;
}
.widgetnavMob .subwidget ul li hr {
  transform: rotate(90deg);
  float: left;
  width: 24px !important;
  position: absolute;
  top: 24px;
}
.widgetnavMob .subwidget ul li .txt {
  float: left;
  position: absolute;
  left: 40px;
  width: 100% !important;
  padding-top: 2px;
}
.widgetnavMob .subwidget ul li.arrow {
  background: none;
}
.widgetnavMob .sub_deselect_li:last-child .txt,
.widgetnavMob .sub_select_li:last-child .txt {
  padding-right: 0px;
  margin-top: 0;
}
.showMore {
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-size: 14px;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
}
/*-------------------------- Wizard Steps Widget CSS End --------------------------*/
/*****Table Component CSS starts *****/
.table table {
  min-width: 100%;
  overflow:auto;
}
.table th label.sorticon {
  position: absolute;
  right: 0;
  top:18px;
}
.table th{
  padding: 18px 30px 18px 15px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table th {
  position: sticky !important;
  top: 0;
  background: #eeeff6 !important;
  color: rgba(0, 0, 0, 0.87)  !important;
  /* font-family: Roboto-Medium  !important; */ /* font-size: 14px !important; */ font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  border-top:none !important;
  vertical-align: top;
}
.table th:last-child {
  border: 0;
}
.table th label.sorticon {
  position: absolute;
  right: 0;
  top:18px;
}
.table td {
  padding: 15px !important;
  /* font-family: Roboto-Regular !important; */font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}
.table tr td {
  border-bottom: solid 1px rgba(42, 58, 141, 0.18);
  border-top:none !important;
  vertical-align:top;
}
.table tr:hover td {
  background-color:#f2f2f2 !important;
}
.table tr.active td {
  background-color: #ebf4fd !important;
}
/*tr:nth-child(even) td {background: #fff;}*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background:#d8dbea;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.38);
  background: rgba(0, 0, 0, 0.38);
}
.table {
  width:100%;
  height:auto;
  padding:0px;
  overflow:auto;
  margin-bottom:0px;
  border: solid 1px rgba(42, 58, 141, 0.18);
  border-radius: 4px !important;
}
.table thead th {
  vertical-align: top !important;
  border-bottom: 1px solid rgba(42, 58, 141, 0.18) !important;
}
.table1 {
  width:100%;
  height:auto;
  padding:0px;
  overflow:auto;
  margin-bottom:0px;
  border-left: solid 1px rgba(42, 58, 141, 0.18);
  border-right: solid 1px rgba(42, 58, 141, 0.18);
  border-radius: 4px !important;
}
.table1 table {
  min-width: 100%;
  overflow:auto;
  height:auto;
}
.table1 th label.sorticon {
  position: absolute;
  right: 0;
  top:18px;
  display:none;
}
.table1 th{
  padding: 18px 15px!important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table th label.sorticon {
  position: absolute;
  right: 0;
  top:18px;
}
.table1 th {
  position: sticky !important;
  top: 0;
  background: #eeeff6 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 14px !important;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  line-height: 1.36;
  border-top:none !important;
  vertical-align: top;
}
.table1 th label{
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: 500;
}
.table1 th:last-child {
  border: 0;
}
.table1 th label.sorticon {
  position: absolute;
  right: 0;
  top:18px;
}
.table1 td {
  padding: 15px !important;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}
.table1 tr td {
  border-bottom: solid 1px rgba(42, 58, 141, 0.18);
  border-top:none !important;
  vertical-align:top;
}
.table1 tr:hover td {
  background-color:#f2f2f2 !important;
}
.table1 tr.active td {
  background-color: #ebf4fd !important;
}
.table_pagination {
  width:100%;
  padding: 12px 16px 5px 16px;
  display:inline-block;
  border: solid 1px rgba(42, 58, 141, 0.18);
}
.items_per_page {
  font-family: 'Roboto-Regular', Verdana, Sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.table1 table th table {
  width:100%!important;
}
.table1 table th table th {
  padding:0px !important;
  border:none !important;
}
.table1 table th table tr:hover td {
  background-color:none !important;
}
.table1 table th table {
  width:100%!important;
}
.table1 table th table td {
  padding:0px !important;
  border:none !important;
}
.table1 table th table td:hover {
  background-color:#eeeff6 !important;
}
.table1 table th table tr:hover td {
  background-color:#eeeff6 !important;
}
.table1 table th .table1 tr.active td {
  background-color: #eeeff6 !important;
}
.footerli ul li{
  float:left;
  list-style:none;
  margin:0px;
  padding:0px;
  vertical-align:middle;
  padding:6px;
}
.footerli ul{
  list-style:none;
  margin:0px;
  padding:0px;
}
.footerli select {
  border:none;
}
.footerli .pagenumbers {
  font-family: 'Roboto-Regular', Verdana, Sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-text);
}
.footerli .spaceline {
  width: 1px;
  height: 33px;
  font-size: 27px;
  display:inline-block;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  background:rgba(0, 0, 0, 0.38);
  line-height: 1.22;
  letter-spacing: 0.27px;
  text-align: left;
  margin-top:-7px;
}
.footerli .right {
  float:right;
}
.page_for_left_arrow_disable {
  padding:8px;
  background: url(../images/icons/grid/page_for_left_arrow_disable.png) no-repeat center center;
}
.page_for_right_arrow_disable {
  padding:8px;
  background: url(../images/icons/grid/page_for_right_arrow_disable.png) no-repeat center center;
}
.page_left_arrow_disable {
  padding:8px;
  background: url(../images/icons/grid/page_left_arrow_disable.png) no-repeat center center;
}
.page_right_arrow_disable {
  padding:8px;
  background: url(../images/icons/grid/page_right_arrow_disable.png) no-repeat center center;
}
.page_for_left_arrow_hilight {
  padding:8px;
  background: url(../images/icons/grid/page_for_left_arrow_hilight.png) no-repeat center center;
  cursor:pointer;
}
.page_for_right_arrow_hilight {
  padding:8px;
  background: url(../images/icons/grid/page_for_right_arrow_hilight.png) no-repeat center center;
  cursor:pointer;
}
.page_left_arrow_hilight {
  padding:8px;
  background: url(../images/icons/grid/page_left_arrow_hilight.png) no-repeat center center;
  cursor:pointer;
}
.page_right_arrow_hilight {
  padding:8px;
  background: url(../images/icons/grid/page_right_arrow_hilight.png) no-repeat center center;
  cursor:pointer;
}
.footerli input {
  border:1px solid #9f9f9f;
  padding:4px 11px;
  width:48px;
  border-radius: 4px;
  margin-top: -20px;
  text-align: right;
}
th:hover .top_sort {
  background: url(../images/icons/grid/top_sort.png) no-repeat center center;
  cursor:pointer;
  vertical-align:middle;
  height:12px;
  width:13px;
  display:inline-block;
}
th:hover .down_sort {
  background: url(../images/icons/grid/down_sort.png) no-repeat center center;
  cursor:pointer;
  vertical-align:middle;
  height:12px;
  width:13px;
  display:inline-block;
}
/*****Table Component  CSS ends *****/
.table_wm {
  background: url(../images/icons/e_filing_logo_wm.svg) no-repeat;
  z-index: 1;
  background-position: center center;
  background-size: 80%;
}
.successReturn {
  border-radius: 4px;
  border: solid 1px rgba(42, 58, 141, 0.18);
  background-color: #edf6ef;
  padding: 2rem;
}
.successReturn .heading {
  color: #218737;
  font-size: 1.5rem;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  margin-bottom: 1.25rem !important;
  line-height: 1.25;
}
/*****Select Component CSS starts *****/
select {
  font-family: 'Roboto-Regular', Verdana, Sans-serif;
  font-size: 16px !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background: transparent !important;
  background-image: url("../images/icons/down_arrow.png") !important;
  background-repeat: no-repeat !important;
  background-position-x: 98% !important;
  background-position-y: 15px !important;
}
select option {
  font-family: 'Roboto-Regular', Verdana, Sans-serif !important;
}
.current:hover{
  background:#000 !important;
}
.footerli select{
  background-position-x: 100%;
  background-position-y: 8px !important;
  width: 50px !important;
  border: none;
}
span.select2-container:focus {
  border: solid 2px #0875e2 !important;
  border: solid 2px var(--secondary-color) !important;
}
select:active {
  border: solid 2px #0875e2;
  border: solid 2px var(--secondary-color);
  box-shadow: none;
}
.input-group-prepend .input-group-text{
  border-right: none !important;
}
.input-group-append .input-group-text{
  border-left: none !important;
}
/*****Select Component CSS Ends *****/
/*DatePicker css*/
.datepicker .input-group-text {
  margin-left: -40px;
  z-index: 9;
  border: none;
}
.datepicker .form-control {
  border-right: solid 1px rgba(0, 0, 0, 0.38) !important;
  border-radius:4px !important;
}
.datepicker .form-control:hover {
  border-right: solid 2px rgba(0, 0, 0, 0.6) !important;
  border-radius: 4px !important;
}
.datepicker th {
  background: none !important;
}
.datepicker {
  padding: 0px !important;
  min-width:290px;
}
/*.datepicker {
min-width:auto !important;
}*/
.lblINR::before {
  content: '\20B9';
}
a:active, a:focus {
  outline: none !important;
  border: none;
  -moz-outline-style: none;
}
/*toggle switch*/
.checkbox.checbox-switch {
  padding-left: 0 }
.checkbox-inline.checbox-switch, .checkbox.checbox-switch label {
  display: inline-block;
  position: relative;
  padding-left: 0 }
.checkbox-inline.checbox-switch input, .checkbox.checbox-switch label input {
  display: none }
.checkbox-inline.checbox-switch span, .checkbox.checbox-switch label span {
  width: 35px;
  border-radius: 20px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  box-shadow: #dfdfdf 0 0 0 0 inset;
  transition: border .4s ease 0s, box-shadow .4s ease 0s;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px }
.checkbox-inline.checbox-switch span:before, .checkbox.checbox-switch label span:before {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #f4f4f4;
  content: " ";
  position: relative;
  left: 0;
  transition: all .3s ease;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
  top: -2px }
.checkbox-inline.checbox-switch>input:checked+span:before, .checkbox.checbox-switch label>input:checked+span:before {
  left: 16px;
  top: -2px;
  background-color:#0875e2;
  background-color:  var(--secondary-color);
}
.checkbox-inline.checbox-switch.switch-primary>input:checked+span, .checkbox.checbox-switch.switch-primary label>input:checked+span {
  background-color: rgba(8, 117, 226, 0.38);
  border-color: rgba(8, 117, 226, 0.38);
  transition: border .4s ease 0s, box-shadow .4s ease 0s, background-color 1.2s ease 0s }
.checkbox-inline.checbox-switch.switch-primary>input:checked:disabled+span, .checkbox.checbox-switch.switch-primary label>input:checked:disabled+span {
  background-color: red;
  border-color: red;
  transition: border .4s ease 0s, box-shadow .4s ease 0s, background-color 1.2s ease 0s }
/*end toggle switch*/
/* yesno toggle switch */
.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
  /* height: 40px;*/
  border-radius: 4px;
  background-color: #ffffff;
}
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.switch-field label {
  background-color: #fff;
  border: solid 2px rgba(42, 58, 141, 0.18);
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 13px 16px;
  margin-right: -2px;
  font-family: 'Roboto-Regular', Verdana, Sans-serif;
  transition: all 0.1s ease-in-out;
}
.switch-field label:hover {
  cursor: pointer;
}
.switch-field input:checked + label {
  background-color: #0875e2;
  background-color:  var(--secondary-color);
  box-shadow: none;
  color: white;
}
.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
  margin-right:0px !important;
}
/* end yesno toggle switch */
.grayOn{
  opacity:0.5 !important;
  cursor:not-allowed;
}
.grayOn:active {
  pointer-events: none;
}
.grayOn1{
  opacity:1 !important;
  cursor:not-allowed;
  background-color: rgba(0, 0, 0, 0.05);
}
.grayOn1:active {
  pointer-events: none;
}
.uniservenxtcmp_Bootstrap_repeativetemplate_js .invalid-feedback {
  display: block !important;
}
.letsGetStart_Help {
  background-color: #FFF;
  padding: 32px;
}
.video_help {
  position: relative;
  width: 146px;
  height: 82px;
  background-image: url(../images/icons/video_help.png);
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.act_ic {
  background: url(../images/icons/act_icon.svg) no-repeat left center;
  padding-left: 52px;
  height: 40px;
  display: inline-block;
}
@media(max-width: 767px) {
  .otp {
    width: 34px;
    padding: 2px 6px;
    text-align: center;
  }
  .success-box {
    padding-left: 5px;
  }
  label.amountLabel {
    margin-left: 0px;
  }
  .pad55L-sm {
    padding-left: 0px !important;
  }
  .short-text {
    width: 100%;
  }
  .cashText {
    margin-left: 0px !important;
  }
  .fRM20, .fRM20 label {
    font-size: 14px;
  }
  h1, .h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1;
  }
  h2, .h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1;
  }
  h3, .h3 {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.1;
  }
  h4, .h4 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.1;
  }
  .fRM16 {
    font-size: 12px;
  }
  .wid300px, .wid350px {
    width: 100%;
  }
  .card-body {
    padding: 16px;
  }
  .card-body .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  button.primaryButton.largeButton, input[type=button].primaryButton.largeButton {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  button.secondaryButton.largeButton, input[type=button].secondaryButton.largeButton {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  button.tertiaryButton.largeButton, input[type=button].tertiaryButton.largeButton {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .col-md-6.col-6 {
    max-width: 100% !important;
    flex: 100% !important;
  }

  .defaultButton {
    min-height: 40px;
    min-width: 100%;
    padding: 0px 24px 0 14px;
    margin-bottom: 10px !important;
  }
  .content .nav-tabs > li > a {
    padding: 8px 16px;
  }
  .largeButtonGap, .defualtButtonGap, .smallButtonGap  {
    margin-right: 0!important;
  }
}
.table1 table th table td {
  padding:0px !important;
  border:none !important;
  font-family: 'Roboto-Medium' !important;
}
.table1 table th table td:hover {
  background-color:#eeeff6 !important;
}
.table1 table th table tr:hover td {
  background-color:#eeeff6 !important;
}
.table1 table th .table1 tr.active td {
  background-color: #eeeff6 !important;
}
.table1 table th table th {
  padding:0px !important;
  border:none !important;
  font-family: 'Roboto-Medium' !important;
}
td.wid170px {
  min-width:170px !important;
}
#divFilters {
  border: solid 1px rgba(0, 0, 0, 0.38);
  padding: 16px;
  border-radius: 4px;
  position: absolute;
  width: 250px;
  right: 15px;
  top: 50px;
  background-color: #FFF;
}
.btnLeft {
  float: left;
}
.btnRight {
  float: right;
}
.header.navShrink {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
}
.infoBadge {
  font-size: 12px;
  padding: 0.5rem !important;
  border-radius: 4px;
  border: solid 1px var(--cerulean-blue-18);
  background-color: #f2f8fe;
  font-family: 'Roboto-Medium', Verdana, Sans-serif !important;
  color: #1b74d0;
}
.mt130 {
  margin-top: 104px !important;
}
.list-unstyled li {
  line-height: 1.7;
  letter-spacing: 0.25px;
}
@media (max-width: 576px) {
  .tophead_menu{
    display: none !important;
  }
}
.btnErrorList{
  position:fixed;
  bottom:20%;
  right:1%;
}
.btnErrorList:hover{
  opacity:0.7;
}
.ac_normal {
  background: url(../images/icons/ac_close.svg) no-repeat 10px center;
}
.ac_open {
  background: url(../images/icons/ac_open.svg) no-repeat 10px center;
}
/* end */
.container-fluid {
  margin-left: 0;
}
.search {
    background: url(../images/icons/search.svg) no-repeat center;
    position: absolute;
    top: 7px;
    right: 24px;
    width: 24px;
    height: 24px;
}
.search.tertiaryButton:hover{background-color:transparent; opacity:0.7;}