/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-material.css";
@import "../node_modules/roboto-fontface/css/roboto/roboto-fontface.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";*/
:root {
  --first-color:#f6f7fb;
  --secondary-color:#0875e2;
  --primary-text: rgba(0,0,0,0.87);
  --secondary-text:rgba(0,0,0,0.6);
  --panel-color:#fff;
  --panel-indicator:rgba(0,0,0,.54);
  --field-bg:white;
  --error-bg:#cd2026;
  --disabled-input:rgba(0,0,0,0.05);
  --checkbox-bordercolor:rgba(0,0,0,0.5);
  --heading1-fontSize:2.25rem;
  --heading2-fontSize:2rem;
  --heading3-fontSize:1.875rem;
  --heading4-fontSize:1.5rem;
  --heading5-fontSize:1.25rem;
  --heading6-fontSize:1.125rem;
  --body1-fontSize:1rem;
  --body2-fontSize:0.875rem;
}
.mat-form-field {
  margin-top: 6.5px;
  line-height: 1.125 !important;
}
.footerBackground {
  background-color: rgba(238, 239, 246, 1);
  border-top: 2px solid rgba(238, 239, 246, 1);
}
.footerSpacing {
  margin-top: 64px;
}
.mat-expansion-panel.mat-expansion-panel-header {
  height: 74px!important;
}
.mat-select-panel mat-option.mat-option {
  height: unset;
  padding: 0px 12px;
}
.mat-option-text.mat-option-text {
  white-space: normal;
}
.mat-expansion-panel-header {
  flex-direction: row-reverse !important;
}
.mat-expansion-indicator::after {
  transform: rotate(225deg) !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.38);
}
.mat-form-field-flex {
  min-height: 40px;
}
.margin-header {
  margin-left: 16px;
}
.mat-form-field-appearance-outline> .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap> {
  border-top-color: transparent;
}
.mat-form-field-appearance-outline {
  border-left-style: none;
  border-right-style: none;
  border-radius: 4px;
}
.mat-form-field:not(.myTextArea) .mat-form-field-flex > .mat-form-field-infix {
  border-top: 0;
  padding: 16px 0px 3.5px !important;
}
.mat-form-field.myTextArea .mat-form-field-flex > .mat-form-field-infix {
  padding: 0px 0px 10px !important;
}
/*.modal-content {
min-height: 153px !important;
max-height: 529px !important;
width: 532px !important;
border: none !important;
}
.modal-dialog.modal-dialog-centered.modal-lg {
width: 558px !important;
}*/
.modal-header {
  padding: 24px !important;
  font-family: 'Roboto-Regular' !important;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
}
.modal-title {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
.modal-footer {
  background-color: #eeeff6;
}
.modal-body {
  vertical-align: middle;
  padding: 24px 24px !important;
  overflow-y: auto;
}
.mat-form-field-label-wrapper {
  top: -1.5em;
}
.mat-form-field-outline {
  min-height: 40px;
}
.mat-select-value-text {
  font-size: 1rem;
  font-size: var(--body1-fontSize);
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.inputLabel {
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  color: rgba(0,0,0,0.87) !important;
  color: var(--primary-text) !important;
  line-height: 21px;
}
.asterisk {
  color: red;
  margin-left: 4px;
}
.inputWidth {
  width: 337px;
}
.flex-col {
  width: 361px;
}
.flex-col-radio {
  min-height: 44px !important;
}
.flex-col-check {
  height: 45px;
}
.asteriskInline {
  color: red;
  vertical-align: top;
  margin-left: 4px;
}
.mediumField {
  width: 180px;
}
.smallField {
  width: 90px;
}
.inputText {
  font-size: 1rem;
  font-size: var(--body1-fontSize);
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
}
.dateInput {
  font-size: 1rem;
  font-size: var(--body1-fontSize) !important;
}
.rupeeIcon {
  font-size: 15.2px;
  color: black;
  vertical-align: middle;
  position: relative;
  top: -4px;
  left: 8px }
.radioSpacing {
  margin-right: 2rem !important;
}
.mat-select-disabled .mat-select-value {
  color: rgba(0,0,0,0.6) !important;
}
.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: rgba(0,0,0,.54) !important;
  color: var(--panel-indicator) !important;
}
.mat-expansion-panel:not([class*='mat-elevation-z']) {
  border: solid 1px rgba(42, 58, 141, 0.18);
  box-shadow: none;
}
.error-radio {
  padding: 8px 8px;
  font-family: 'Roboto-Regular' !important;
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  color: #cd2026;
  color: var(--error-bg);
  border-radius: 4px;
  background-color: rgba(205, 32, 38, 0.05);
  margin-top: 4px;
  margin-bottom: 24px;
  width: 337px;
  height: 35px;
}
.error {
  padding: 8px 8px;
  font-family: 'Roboto-Regular' !important;
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  color: #cd2026;
  color: var(--error-bg);
  border-radius: 4px;
  background-color: rgba(205, 32, 38, 0.05);
  margin-top: -20px;
  margin-bottom: 24px;
  width: 337px;
  /* height:35px; */ }
.bg-color {
  background-color: #f6f7fb;
  background-color: var(--first-color);
}
ol, ul {
  margin-top: 0;
  margin-bottom: 0 !important;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
}
label {
  margin-bottom: 0px !important;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
}
.flex-spacing {
  margin-bottom: 8px;
}
.errorPng {
  margin-right: 8px;
  margin-bottom: 5px;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-10px) scale(0.75);
  width: 100%;
  height: 40px;
}
.mat-form-field.myTextArea .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0px !important;
}
body {
  margin: 0;
}
.mat-toolbar {
  background-color: #fafafa }
.mat-icon {
  color: darkgrey;
}
/** {
font-family: 'Roboto-Regular' !important;
/* text-align: justify; */ }
*/
.width {
  width: 100%;
}
.text-inside-grid-small {
  position: absolute;
  right: 6%;
}
.profile {
  height: 48%;
  width: 60%;
  margin-bottom: 50%;
}
.my-grid {
  width: 95%;
}
.shiftup {
  margin-top: -8%;
}
.shiftdown {
  margin-bottom: -17%;
}
.formHeading {
  font-size: 1.875rem;
  font-size: var(--heading3-fontSize);
  margin-top: 10px;
  margin-left: 8px;
  line-height: 30px;
  font-weight: bold;
  margin-right: 5px;
  line-height: 1px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  font-weight: bold;
}
.formName {
  font-size: 1.25rem;
  font-size: var(--heading5-fontSize);
  margin-top: 12px;
  line-height: 30px;
  color: rgba(0,0,0,0.6);
  color: var(--secondary-text);
  font-weight: bold;
}
.formDeclaration {
  line-height: 1.5;
  letter-spacing: 0.25px;
  text-align: left;
  margin-left: -5px;
  margin-top: 4px;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  font-weight: normal;
}
.accordianSpacing {
  margin-top: 8px;
}
.listSpacing {
  margin-top: 12px;
}
.regular {
  line-height: 1.5;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  font-size: 1rem;
  font-size: var(--body1-fontSize);
  font-weight: 500;
}
.fieldSpacing {
  margin-top: 6px;
}
.textAlignInline {
  margin-top: 13px;
}
.alignInput {
  margin-top: 20px !important;
}
.fieldRightSpacing {
  margin-right: 12px;
}
.accordianSubtitle {
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-left: 10px;
  margin-top: 2px;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(0,0,0,0.6);
  color: var(--secondary-text);
}
textarea:disabled {
  background-color: rgba(0,0,0,0.05);
  background-color: var(--disabled-input);
  color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0, 0, 0, 0.18) !important }
textarea.txtarea {
  margin-bottom: 10px;
  height: 93px;
}
textarea:not(.txtarea) {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 24px !important;
  padding: 10.5px 10.5px 3.5px;
  width: 337px;
  margin-top: 5px !important;
  font-size: 1rem;
  font-size: var(--body1-fontSize) !important;
}
.defaultButton {
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  font-weight: 500;
  text-align: center;
  line-height: 1.36;
  border-radius: 4px;
  padding: 0 20px 0;
  min-height: 36px;
  min-width: 84px;
}
.defaultButton.iconBefore {
  padding: 0 20px 0 38px;
  background-position: 16px center;
  background-size: 18px 18px;
}
.defaultButton.iconAfter {
  padding: 0 38px 0 20px;
  background-position: right 16px center;
  background-size: 18px 18px;
}
/* SMALL BUTTON */
.smallButton {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  border-radius: 4px;
  padding: 0 16px 0;
  min-height: 30px;
}
.smallButton.iconBefore {
  padding: 0 16px 0 30px;
  background-position: 12px center;
  background-size: 14px 14px;
}
.smallButton.iconAfter {
  padding: 0 20px 0 38px;
  background-position: right 12px center;
  background-size: 14px 14px;
}
/* LARGE BUTTON */
.largeButton {
  font-size: 1rem;
  font-size: var(--body1-fontSize);
  font-weight: 500;
  text-align: center;
  line-height: 1.31;
  border-radius: 4px;
  padding: 0 24px 0;
  min-height: 46px;
  min-width: 98px;
}
.largeButton.iconBefore {
  padding: 0 24px 0 42px;
  /* IMAGE SIZE => 22px*22px */ background-position: 20px center;
  background-size: 22px 22px;
}
.largeButton.iconsAfter {
  padding: 0 42px 0 24px;
  background-position: right 20px center;
  background-size: 22px 22px;
}
/* BUTTON STYLING (PRIMARY, SECONDARY AND TERTIARY) */
/* PRIMARY BUTTON */
.primaryButton {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #2a3a8d;
  color: #ffffff;
  border: none;
}
.primaryButton:hover:enabled {
  background-color: #223074;
}
.primaryButton:disabled {
  background-color: rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.24);
  box-shadow: none;
  border: none;
  font-weight: 500;
}
.primaryButton.focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #2a3a8d;
}
.primaryButton:focus:not(.focus-visible) {
  outline: none;
}
/* SECONDARY BUTTON */
.secondaryButton {
  color: #2a3a8d;
  border: solid 1px #2a3a8d;
  background-color: transparent;
}
.secondaryButton:hover:enabled {
  background-color: rgba(42, 58, 141, 0.08);
}
.secondaryButton:disabled {
  border: solid 1px rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
}
.secondaryButton .focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #2a3a8d;
}
.secondaryButton:focus:not(.focus-visible) {
  outline: none;
}
/* TERTIARY BUTTON */
.tertiaryButton {
  color: #2a3a8d;
  background-color: transparent;
  border: none;
}
.tertiaryButton:hover:enabled {
  background-color: rgba(42, 58, 141, 0.08);
}
.tertiaryButton:disabled {
  color: rgba(0, 0, 0, 0.38);
}
.tertiaryButton.focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
}
.tertiaryButton:focus:not(.focus-visible) {
  outline: none;
}
/* VERTICAL DISTANCE FOR BUTTONS */
.endButtons {
  margin-top: 32px;
}
/* DISTANCE BETWEEN TWO LARGE BUTTONS */
.largeButtonGap {
  margin-right: 16px;
}
/* DISTANCE BETWEEN DEFAULT BUTTONS */
.defualtButtonGap {
  margin-right: 8px;
}
/* SPECIFIC BUTTONS */
/* COPY BUTTON */
.copyButton {
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: #0875e2;
  color: var(--secondary-color);
}
.copyButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.copyButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background-position: 12px center;
  background-size: 14px 14px;
}
.copyButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/* EDIT BUTTON */
.editButton {
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
.editButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.editButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background-position: 12px center;
  background-size: 14px 14px;
}
.editButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/* ADD DETAILS BUTTON */
.addDetailsButton {
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: #0875e2;
  color: var(--secondary-color);
}
.addDetailsButton:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.addDetailsButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
}
.addDetailsButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
/* DELETE BUTTON */
.deleteButton {
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
  background-color: transparent;
  color: #cd2026;
  color: var(--error-bg);
}
.deleteButton:hover:enabled {
  background-color: #fef2f3;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
.deleteButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
}
.deleteButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0875e2 !important;
  border-color: var(--secondary-color) !important;
}
.mat-radio-button.mat-primary .mat-radio-inner-circle {
  color: #0875e2;
  background-color: #0875e2;
}
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element {
  background-color: #0875e2;
}
.heading1 {
  font-size: 2.25rem;
  font-size: var(--heading1-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.12px;
}
.heading2 {
  font-size: 2rem;
  font-size: var(--heading2-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.22px;
}
.heading3 {
  font-size: 1.875rem;
  font-size: var(--heading3-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.15px;
}
.heading4 {
  font-size: 1.5rem;
  font-size: var(--heading4-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.1px;
}
.heading5 {
  font-size: 1.25rem;
  font-size: var(--heading5-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.15px;
}
.heading6 {
  font-size: 1.125rem;
  font-size: var(--heading6-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.25px;
}
.subtitle1 {
  font-size: 1rem;
  font-size: var(--body1-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.15px;
}
.subtitle2 {
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.1px;
}
.body1 {
  font-size: 1rem;
  font-size: var(--body1-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.44px;
}
.body2 {
  font-size: 0.875rem;
  font-size: var(--body2-fontSize);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
  letter-spacing: 0.25px;
}
/* MAT RADIO SIZE */
.mat-radio-container {
  height: 18px!important;
  width: 18px!important;
}
.mat-radio-outer-circle {
  height: 18px!important;
  width: 18px!important;
  border: 2px solid rgba(0,0,0,.54) !important;
}
.mat-radio-inner-circle {
  height: 18px!important;
  width: 18px!important;
}
.mat-radio-button .mat-radio-ripple {
  height: 36px!important;
  width: 36px!important;
  left: calc(50% - 18px)!important;
  top: calc(50% - 18px)!important;
}
/* MAT CHECKBOX SIZE */
.mat-checkbox-inner-container {
  height: 18px!important;
  width: 18px!important;
}
.mat-expansion-panel>.mat-expansion-panel-header {
  height: 74px !important;
}
.firstListing {
  padding: 0px;
}
.secondListing li {
  margin: 0px;
}
/* .thirdListing li {
} */
.mat-expansion-panel-body {
  padding: 0px 24px 24px !important;
}
.d-flex.flex-row.flex-wrap.removeBottomSpacing {
  margin-bottom: -24px !important;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}
.d-flex.flex-row.flex-wrap {
  line-height: 21px;
}
.row {
  line-height: 21px;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 0 27.5px 0 !important;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #0875e2;
  color: var(--secondary-color);
}
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #cd2026 !important;
  color: var(--error-bg) !important;
}
.mat-form-field-disabled.mat-form-field-appearance-outline .mat-form-field-outline {
  border: 1px solid rgba(0, 0, 0, 0.18) !important;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.05) !important;
  background-color: var(--disabled-input) !important;
}
input.mat-input-element {
  font-size: 1rem;
  font-size: var(--body1-fontSize);
}
/* font-color for disabled Input field */
.mat-form-field-disabled input.mat-input-element {
  color: rgba(0,0,0,0.6) !important;
}
.mat-expansion-panel {
  background: #fff !important;
}
.mat-card {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
  background: #fff !important;
  background: var(--panel-color) !important;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: grey;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: rgba(0,0,0,.87);
}
.mat-checkbox .mat-checkbox-frame {
  border-color: rgba(0,0,0,0.5);
}
.ag-theme-material .ag-icon-checkbox-checked:before {
  color: #0875e2 !important;
}
.ag-theme-material .ag-icon-checkbox-checked {
  color: #0875e2 !important;
}
.mat-expansion-indicator::after {
  /* transform: rotate(315deg) !important; */
  transform: rotate(-45deg) !important;
}
.mat-expansion-panel.mat-expanded .mat-expansion-indicator::after {
  transform: rotate(-135deg) !important;
  /* transform: rotate(225deg) !important; */ }
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0875e2 !important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #0875e2 !important;
}
/* _______________________________________________________________________________________________________________________ */
button {
  letter-spacing: 0.1px;
}
/* ATTACH BUTTON */
.attachButton {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.36;
  border-radius: 4px;
  background: url(assets/buttonIcons/attachIcon.svg) no-repeat;
  min-height: 36px;
  min-width: 84px;
  color: #2a3a8d;
  border: solid 1px #2a3a8d;
  background-color: transparent;
  padding: 0 20px 0 38px;
  background-position: 16px center;
  background-size: 18px 18px;
}
.attachButton:hover:enabled {
  background-color: rgba(42, 58, 141, 0.08);
}
.attachButton:disabled {
  border: solid 1px rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
}
.attachButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #2a3a8d;
}
/* Attach box styling */
.attachBox {
  margin-top: 8px;
  width: 362px;
  min-height: 48px;
  border-radius: 4px;
  background-color: #f2f8f4;
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px 0 8px;
  display: flex;
  align-items: center;
}
.uploadFileIcon {
  width: 24px;
  height: 32px;
  cursor: pointer;
  margin : 0 8px 0 0;
}
.fileSize {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 4px;
}
.fileName {
  color: #0875e2;
  cursor: pointer;
}
.retryFileUpload {
  margin-left: auto;
  color: #2a3a8d;
  cursor: pointer;
}
.uploadCloseIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: auto;
}
.attachBox.uploadingAttachBox {
  background-color: #ebf4fd;
}
.attachBox.errorAttachBox {
  background-color: #fef2f3;
  padding-top: 8px;
  padding-bottom: 8px;
}
.fileUploadMiddleBox {
  display: inline-block;
  width: 277px;
}
.errorMessage {
  color: #cd2026;
  margin-top: 2px;
}
/* _______________________________________________________________________________________________________________________ */
.tbl {
  overflow-x: scroll;
}
.body {
  background-color: #f6f7fb;
}
.cell-wrap-text {
  white-space: normal !important;
  word-wrap: break-word !important;
  line-height: 20px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.cell-wrap-amount {
  white-space: normal !important;
  word-wrap: break-word !important;
  line-height: 20px !important;
  text-align: right !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.ag-cell-wrapper {
  align-items: start !important;
}
.ag-theme-material .ag-row.ag-row-last {
  border-bottom-width: 0px !important;
}
.ag-header-cell-label .ag-header-cell-text {
  white-space: normal !important;
  color: rgba(0, 0, 0, 0.87) !important;
  line-height: 1.5 !important;
  text-align: left !important;
  letter-spacing: 0.1px !important;
}
/* .ag-header-cell-label .ag-header-cell-text{
white-space:normal!important;
}  */
.ag-theme-material .ag-header {
  color: rgba(0, 0, 0, 0.87) !important;
}
.ag-header-cell-label {
  /*Necessary to allow for text to grow vertically*/
  height: 100% !important;
  padding: 0 !important;
}
/* .ag-cell, .ag-cell-value{
padding-top: 12px !important;
padding-bottom: 12px !important;
} */
.ag-header-cell {
  /* background-color: rgba(42, 58, 141, 0.06) !important; */
  /* padding-top: 0px !important; */
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  height: auto !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  background-color: #eeeff6 !important;
}
/* .ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell{
background-color: rgba(42, 58, 141, 0.06) !important;
}
.ag-header-viewport{
background-color: rgba(42, 58, 141, 0.06) !important;
} */
.ag-header-container {
  background-color: #eeeff6 !important;
}
.ag-theme-material .ag-icon-checkbox-checked {
  color: #0076c6 !important;
  vertical-align: top !important;
}
.ag-theme-material .ag-icon-checkbox-indeterminate:before {
  color: var(--secondary-color)!important;
}
.ag-cell-focus, .ag-cell-no-focus {
  border: none !important;
}
.ag-row-selected {
  background-color: #ebf4fd !important;
}
.ag-row-hover {
  background-color: #f2f2f2 !important;
}
/* .ag-header-viewport{
background-color: rgba(42, 58, 141, 0.06) !important;
} */
.cell-wrap-text {
  white-space: normal!important;
  word-wrap: break-word;
}
div.ag-header-cell.ag-header-cell-sortable.rightAlignAmount div.ag-cell-label-container.ag-header-cell-sorted-asc div.ag-header-cell-label span.ag-header-cell-text {
  margin-left: auto;
}
div.ag-header-cell.ag-header-cell-sortable.rightAlignAmount div.ag-cell-label-container.ag-header-cell-sorted-desc div.ag-header-cell-label span.ag-header-cell-text {
  margin-left: auto;
}
div.ag-header-cell.ag-header-cell-sortable.rightAlignAmount div.ag-cell-label-container.ag-header-cell-sorted-none div.ag-header-cell-label span.ag-header-cell-text {
  margin-left: auto;
}
div.ag-header-cell.rightAlignAmount div.ag-cell-label-container div.ag-header-cell-label span.ag-header-cell-text {
  margin-left: auto;
}
/* HEADER STYLING */
.header-pageSetting-color {
  vertical-align: top;
  color: rgba(0,0,0,0.87);
  color: var(--primary-text);
}
.header {
  background-color: #f6f7fb;
  background-color: var(--first-color);
}
.alignAccordion {
  margin-top: 20px;
  margin-left: -8px;
}
.mat-expansion-panel-header {
  min-height: 74px;
}
/* PREVIEW STYLING */
/* FORM NAME */
.previewFormName {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin: 24px 5px 0 0;
  text-align: center;
}
.previewFormName span.previewSubtitle {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  text-align: center;
  color: #797979;
}
.previewFormDeclaration {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 8px;
}
.previewFormNameColor {
  color: rgba(0,0,0,0.6);
  color: var(--secondary-text);
}
.mat-form-field.showRupeeIcon .mat-form-field-outline-start {
  width: 40px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.38) !important;
}
.mat-form-field.showRupeeIcon input.mat-input-element {
  text-align: right;
  margin-right: 20px;
}
.mat-form-field.showRupeeIcon .mat-form-field-infix {
  margin-left: 10px;
}
.mat-form-field.showRupeeIcon .mat-icon {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}
/* Preview Component Classes */
.verificationTop {
  padding-top: 32px;
}
.nameBottomM {
  margin-bottom: 0rem !important;
}
.pageTop {
  padding-top: 32px;
}
.previewTop {
  margin-top: 14px;
}
.buttonsLeft {
  margin-top: 10px;
  margin-right: -14px;
}
.matCardTop {
  margin-top: 17px;
  margin-left: -6px;
}
.headingTop {
  margin-top: 8px;
}
.backButtonLeftM {
  margin-left: 10px;
}
.submitButtonRight {
  margin-right: -14px;
}
#borderBottom {
  border-bottom: solid 1px rgba(42, 58, 141, 0.18);
  margin-top: 8px;
  margin-left: -24px;
  margin-right: -24px;
}
.textTop {
  padding-top: 16px;
}
.matCard {
  width: 1146px;
  border-radius: 4px;
  border: solid 1px rgba(42, 58, 141, 0.18);
  background-color: #ffffff;
}
.previewFormDeclaration {
  margin-left: 7px !important;
}
.centerAlign {
  text-align: center;
}
.leftAlign {
  text-align: left;
}
.contentPadding {
  padding: 0 8px;
}
.tablePadding {
  padding-top: 16px;
}
.labelColWidth {
  width: 652px;
  padding-left: 8px !important;
  word-wrap: break-word;
}
.spaceColWidth {
  width: 66px;
}
.valueColWidth {
  max-width: 360px;
  word-wrap: break-word;
}
.fileError {
  padding: 8px 8px;
  font-family: 'robotoregular';
  font-size: var(--body2-fontSize);
  color: var(--error-bg);
  border-radius: 4px;
  background-color: rgba(205, 32, 38, 0.05);
  margin-top: 4px;
  width: 337px;
  height: 35px;
}
.verificationBottomLine {
  border-bottom: 1px solid rgba(42, 58, 141, 0.18);
  margin-top: 8px;
  margin-bottom: 16px;
}
.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  color: transparent !important;
}
.mat-form-field .mat-select .mat-select-arrow {
  margin-top: 8px !important;
  border-radius: 8px !important;
  /* color:transparent !important; */ }
.radioVerticalSpacing {
  margin-bottom: 17.5px;
}
button.mat-icon-button {
  outline: none !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow:0 0 0 30px #ffffff inset !important;
}
.alignError {
  padding: 8px 8px;
  font-family: 'robotoregular';
  font-size: var(--body2-fontSize);
  color: var(--error-bg);
  border-radius: 4px;
  background-color: rgba(205, 32, 38, 0.05);
  margin-top: -20px;
  margin-bottom: 24px;
  width: 180px;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: var(--secondary-color);
  color: white;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/iconFont.woff2') format('woff2') }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.previewAttachment {
  width: 362px;
  min-height: 48px;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
  display: flex;
  align-items: center;
}
svg.mat-datepicker-toggle-default-icon {
  margin: 5px 0 0 12.5px !important;
}
.mat-option-text.mat-option-text {
  line-height: 21px;
  padding: 12px 0px;
}
.mat-select-panel:not([class*=mat-elevation-z]) {
  max-width: 552px;
}
.mat-button-focus-overlay, .mat-button-ripple.mat-ripple {
  top: 4px !important;
  left: 6px !important;
  right: -6px !important;
}
.reduceHeaderht {
  margin-top: -64px;
}
/* jena */
.editButton1 {
  background: url('images/icons/editButtonIcon.svg') no-repeat !important;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  vertical-align: middle;
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
.editButton1:hover:enabled {
  background-color: rgba(8, 117, 226, 0.08);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.editButton1:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(assets/buttonIcons/editButtonIconDisabled.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.editButton1:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #0875e2;
  border: 1px solid var(--secondary-color);
}
.list-none{
  list-style-type:none;
}
.bor1_5px{
  border:1.5px solid #ededed;
}
.deleteButton1 {
  background: url(assets/buttonIcons/deleteButtonIcon.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
  padding: 0 16px 0 30px;
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 1.33;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
  background-color: transparent;
  color: #cd2026;
  color: var(--error-bg);
}
.deleteButton1:hover:enabled {
  background-color: #fef2f3;
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
.deleteButton1:disabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
  color: rgba(0, 0, 0, 0.38);
  background: url(assets/buttonIcons/deleteButtonDisabledIcon.svg) no-repeat;
  background-position: 12px center;
  background-size: 14px 14px;
}
.deleteButton1:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
  border: 1px solid #cd2026;
  border: 1px solid var(--error-bg);
}
.bootbox{
  background: #e2e2e2;
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  height:60px !important;
  border-radius:4px;
}
.bootbox1{
  background: #f5eded;
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  height:60px !important;
  border-radius:4px;
}
.underline{
  text-decoration: underline !important;
}
.underline1{
  border-bottom:5px solid gray !important;
}
/* end jena */
/* wf8 */
.mediabox{
  width:50px;
  height:50px;
  border-radius:50%;
  background:#aaa;
}
.successimg{
  top: 51%;
  position: absolute;
  left: 48px;
}
.btn-default{
  border:1px solid #aaa;
  background:white;
  font-size:12px;
}
.bootbox3{
  background: #e2e2e2;
  padding-left:20px;
  padding-right:20px;
  padding-top:6px;
  padding-bottom:15px;
  height:62px;
  border-radius:4px;
}
/* End wf8 */
/* extra */
.btn-default{
  border:1px solid #aaa;
  background:white;
  font-size:12px;
}
.addbor{
  border:1px solid blaCK;
  border-radius: 50%;
}
.f12{
  font-size:12px;
}
.sliderbox{
  background: #e2e2e2;
  padding-left:20px;
  padding-right:20px;
  padding-top:6px;
  padding-bottom:15px;
  border-radius:4px;
}
.smallbg{
  background: #f7eded;
}
.numradis{
  border:1px solid #aaa;
  border-radius:50%;
  height:20px;
  width:20px;
  text-align:center;
  vertical-align: middle;
}
input[type=text].rupee 
{
  background-image: url(http://i.imgur.com/Fd7NROx.png);
  border: 1px solid #aaa;
  padding: 5px;
  padding-left: 20px;
  background-size: 10px 15px;
  background-repeat: no-repeat;
  background-position: 12px 10px;
}
input[type="text"].rupee
{
  padding-right:10px;
  text-align: right;
}
/*End extra */
/* forwizardbase */
#wizard-1{
  width:100%}
#wizard-2{
  width:100%}
.bootstrapWizard{
  display:block;
  list-style:none;
  padding:0;
  position:relative;
  width:100%}
.bootstrapWizard a:active,.bootstrapWizard a:focus,.bootstrapWizard a:hover{
  text-decoration:none}
.bootstrapWizard li{
  display:block;
  float:left;
  width:33%;
  text-align:center;
  padding-left:0}
.bootstrapWizard li:before{
  border-top:2px solid #55606e;
  content:"";
  display:block;
  font-size:0;
  overflow:hidden;
  position:relative;
  top:11px;
  right:1px;
  width:100%;
  z-index:1}
.bootstrapWizard li:first-child:before{
  left:50%;
  max-width:50%}
.bootstrapWizard li:last-child:before{
  max-width:50%;
  width:50%}
.bootstrapWizard li.complete .step{
  background:#0aa66e;
  padding:1px 6px;
  border:3px solid #55606e}
.bootstrapWizard li .step i{
  font-size:10px;
  font-weight:400;
  position:relative;
  top:-1.5px}
.bootstrapWizard li .step{
  background:#fff;
  color:#33334a;
  display:inline;
  font-weight:500;
  font-size:15px;
  line-height:12px;
  padding:7px 13px;
  border:1px solid #b2b5b9;
  border-radius:50%;
  line-height:normal;
  position:relative;
  text-align:center;
  z-index:2;
  transition:all .1s linear 0s}
.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step{
  background:#2a3a8d;
  color:#fff;
  font-weight:700;
  padding:7px 13px;
  font-size:15px;
  border-radius:50%;
  border:1px solid transparent}
.bootstrapWizard li.active .title,.bootstrapWizard li.complete .title{
  color:#000;
  font-weight:500;
}
.bootstrapWizard li .title{
  color:#000;
  font-weight:500;
  display:block;
  font-size:13px;
  line-height:15px;
  max-width:100%;
  position:relative;
  table-layout:fixed;
  text-align:center;
  top:8px;
  word-wrap:break-word;
  z-index:104}
.wizard-actions{
  display:block;
  list-style:none;
  padding:0;
  position:relative;
  width:100%}
.wizard-actions li{
  display:inline}
.tab-content.transparent{
  background-color:transparent}
.vertical{
  border: 1.7px solid #55606e;
  height: 38px;
  position: absolute;
  left: 22.7%;
  top: 96px;
  opacity: .4;
}
.bootstrapWizard1{
  display:block;
  list-style:none;
  padding:0;
  position:relative;
  width:100%}
.bootstrapWizard1 a:active,.bootstrapWizard1 a:focus,.bootstrapWizard1 a:hover{
  text-decoration:none}
.bootstrapWizard1 li{
  display:block;
  float:left;
  width:18%;
  text-align:center;
  padding-left:0}
.bootstrapWizard1 li:before{
  border-top:3px solid #55606e;
  content:"";
  display:block;
  font-size:0;
  overflow:hidden;
  position:relative;
  top:11px;
  right:1px;
  width:100%;
  z-index:1}
.bootstrapWizard1 li:first-child:before{
  left:50%;
  max-width:50%}
.bootstrapWizard1 li:last-child:before{
  max-width:50%;
  width:50%}
.bootstrapWizard1 li.complete .step{
  background:#0aa66e;
  padding:1px 6px;
  border:3px solid #55606e}
.bootstrapWizard1 li .step i{
  font-size:10px;
  font-weight:400;
  position:relative;
  top:-1.5px}
.bootstrapWizard1 li .step{
  background:#fff;
  color:#33334a;
  display:inline;
  font-size:15px;
  font-weight:500;
  line-height:12px;
  padding:7px 13px;
  border:1px solid #b2b5b9;
  border-radius:50%;
  line-height:normal;
  position:relative;
  text-align:center;
  z-index:2;
  transition:all .1s linear 0s}
.bootstrapWizard1 li.active .step,.bootstrapWizard1 li.active.complete .step{
  background:#2a3a8d;
  color:#fff;
  font-weight:700;
  padding:7px 13px;
  font-size:15px;
  border-radius:50%;
  border:1px solid transparent}
.bootstrapWizard1 li.active .title,.bootstrapWizard1 li.complete .title{
  color:#000;
  font-weight:500;
}
.bootstrapWizard1 li .title{
  color:#000;
  font-weight:500;
  display:block;
  font-size:13px;
  line-height:15px;
  max-width:100%;
  position:relative;
  table-layout:fixed;
  text-align:center;
  top:8px;
  word-wrap:break-word;
  z-index:104}
/*end  forwizardbase */