/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/roboto-fontface/css/roboto/roboto-fontface.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-material.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";*/

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
:root{
    --first-color: #f6f7fb;
    --secondary-color: #0875e2;
    --primary-text: rgba(0, 0, 0, 0.87);
    --secondary-text: rgba(0, 0, 0, 0.6);
    --panel-color: #fff;
    --panel-indicator: rgba(0, 0, 0, .54);
    --field-bg: white;
    --error-bg: #cd2026;
    --disabled-input: rgba(0, 0, 0, 0.05);
    --checkbox-bordercolor: rgba(0, 0, 0, 0.5);
    --heading1-fontSize: 2.25rem;
    --heading2-fontSize: 2rem;
    --heading3-fontSize: 1.875rem;
    --heading4-fontSize: 1.5rem;
    --heading5-fontSize: 1.25rem;
    --heading6-fontSize: 1.125rem;
    --body1-fontSize: 1rem;
    --body2-fontSize: 0.875rem;
    --body3-fontSize: 0.75rem;
    --header-color: white;
    --cerulean-blue: #0875e2;
    --dusk-blue: #2a3a8d;
    --horizontal-top-border:rgba(0, 0, 0, 0.1);
    --alice-blue: #ebf4fd;
    --selago-blue: #f5fafe;
    --hawkes-blue: #ebf4fd;
    --science-blue: #076bcf;
    --saltpan-color: #f2f8f4;
    --white-linen: #fbf4f1;
    --wisp-pink: #fef2f3;
    --concrete-color: #f2f2f2;
    --black-18: rgba(0, 0, 0, 0.18);
    --black-24: rgba(0, 0, 0, 0.24);
    --black-38: rgba(0, 0, 0, 0.38);
    --forest-green: #1f7f34;
    --brick-orange: #bc460b;
    --whisper-color: #eeeff6;
    --bay-many:rgba(42, 58, 141, 0.18);
    --dusker-blue: rgba(255, 255, 255, 0.18);
    --amber-color: #fbbd08;
    --early-dawn: #FFFAEB;
    --pastel-green: #6edd80;
    --feta-color: #F4FDF5;
    --geraldine-color: #f7888c;
    --chablis-color: #FFF6F6;
    --carnation-color: #F6655A;
    --french-rose: #ED477F;
    --amethyst-color: #AE4EBE;
    --fuchsia-blue: #825EC4;
    --blue-marguerite: #6270C2;
    --picton-blue1: #49A9F5;
    --picton-blue2:#30B9F6;
    --scooter-blue: #2ec8dc;
    --jungle-green: #2ea99e;
    --fern-color: #6CBE70;
    --wild-willow: #a0ce6b;
    --wattle-color: #d6e25d;
    --gorse-color: #ffef5e;
    --sunglow-color: #ffcc34;
    --sunshade-color: #ffab2e;
    --coral-color: #ff754a;
    --almond-frost: #917469;
    --silver-chalice: #b0b0b0;
    --regent-gray: #7d95a0;
}

.point6Color{
    color:var(--secondary-text);
}

.hrBorderTop{
    border-top: 1px solid var(--horizontal-top-border);
}

.point87Color{
    color:var(--primary-text);
}

.mat-form-field {
    margin-top: 6.5px;
    line-height: 1.125 !important;
}

.footerBackground {
    background-color: #1a2038;
    border-top: 2px solid rgba(238, 239, 246, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

html {
    position: relative;
    min-height: 100%;
}


.footerSpacing {
    margin-top: 64px;
}


.mat-select-panel mat-option.mat-option {
    padding: 0 12px;
}

.mat-option-text.mat-option-text {
    white-space: normal;
}

.mat-expansion-indicator::after {
    /* transform: rotate(225deg) !important;   */
    transform: rotate(-45deg) !important;
}


.mat-card {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    background: var(--field-bg);
}

.mat-form-field-flex {
    min-height: 40px;
}

.margin-header {
    margin-left: 16px;
}

.mat-form-field-appearance-outline > .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap > {
    border-top-color: transparent;
}
.mat-form-field-appearance-outline {
    border-left-style: none;
    border-right-style: none;
    border-radius: 4px;
}


.mat-form-field:not(.myTextArea) .mat-form-field-flex > .mat-form-field-infix {
    border-top: 0;
    padding: 16px 0 3.5px !important;
}

.mat-form-field.myTextArea .mat-form-field-flex > .mat-form-field-infix {
    padding: 0 0 10px !important;
}


.modal-content {
    min-height: 153px !important;
    max-height: 529px !important;
    width: 532px !important;
    border: none !important;
}

.modal-dialog.modal-dialog-centered.modal-lg {
    width: 558px !important;
}

.modal-header {
    padding: 24px !important;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.87);
}

.modal-title {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.modal-footer {
    background-color: #eeeff6;
}

.modal-body {
    vertical-align: middle;
    padding: 24px !important;
    overflow-y: auto;

}

.mat-form-field-label-wrapper {
    top: -1.5em;
}

.mat-form-field-outline {
    min-height: 40px;
}


.mat-select-value-text {
    font-size: 1rem;
    font-size: var(--body1-fontSize);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.inputLabel {
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    color: rgba(0, 0, 0, 0.87) !important;
    color: var(--primary-text) !important;
    line-height: 21px;
}

.asterisk {
    color: #cd2026;
    margin-left: 4px;
}

.reduceHeaderht {
    margin-top: -56px;
}

.flex-col {
    width: 361px;
}

.flex-col-radio {
    min-height: 44px !important;
}

.flex-col-check {
    height: 45px;
}

.asteriskInline {
    color: #cd2026;
    vertical-align: top;
    margin-left: 4px;
}

.mediumField {
    width: 180px;
}

.smallField {
    width: 90px;
}

.inputText {
    font-size: 1rem;
    font-size: var(--body1-fontSize);
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
}

.dateInput {
    font-size: 1rem;
    font-size: var(--body1-fontSize) !important;
}

.rupeeIcon {
    font-size: 15.2px;
    color: black;
    vertical-align: middle;
    position: relative;
    top: -4px;
    left: 8px
}

.radioSpacing {
    margin-right: 2rem !important;
}

.mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.6) !important;
}

.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
    color: rgba(0, 0, 0, .54) !important;
    color: var(--panel-indicator) !important;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    border: solid 1px rgba(42, 58, 141, 0.18);
    box-shadow: none;
}

.error-radio {
    padding: 8px;
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    color: #cd2026;
    color: var(--error-bg);
    border-radius: 4px;
    background-color: rgba(205, 32, 38, 0.05);
    margin-top: 4px;
    margin-bottom: 24px;
    width: 337px;
    height: 35px;
}

.error {
    padding: 8px;
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    color: #cd2026;
    color: var(--error-bg);
    border-radius: 4px;
    background-color: rgba(205, 32, 38, 0.05);
    margin-top: -20px;
    margin-bottom: 24px;
    width: 337px;
    /* height:35px; */
}

.bg-color {
    background-color: #f6f7fb;
    background-color: var(--first-color);
}


ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
}

label {
    margin-bottom: 0 !important;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
}

.flex-spacing {
    margin-bottom: 8px;
}

.errorSmall {
    padding: 3px;
    font-family: Roboto, sans-serif;
    font-size: var(--body2-fontSize);
    color: var(--error-bg);
    border-radius: 4px;
    background-color: rgba(205, 32, 38, 0.05);
    margin-top: -15px;
    margin-bottom: 10px;
    width: 77%;
}

.errorPng {
    margin-right: 8px;
    margin-bottom: 5px;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-10px) scale(0.75);
    width: 100%;
    height: 40px;
}

.mat-form-field.myTextArea .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 !important;
}

body {
    margin: 0;
}

/* .mat-icon {
    color: darkgrey;
} */


#navbarDropdownMenuLink.nav-link {
    margin-right: 49px;
}
* {
    font-family: 'Roboto', 'Verdana', sans-serif;
    /* font-size: 16px; */

    /* text-align: justify; */
}


.width {
    width: 100%;
}
.text-inside-grid-small {
    position: absolute;
    right: 6%;
}

.profile {
    height: 48%;
    width: 60%;

    margin-bottom: 50%;

}
.my-grid {
    width: 95%;
}

.shiftup {
    margin-top: -8%;
}

.shiftdown {
    margin-bottom: -17%;
}

.formHeading {
    font-weight: bold;
    font-size: 1.875rem;
    font-size: var(--heading3-fontSize);
    margin-top: 10px;
    margin-left: 8px;
    line-height: 30px;
    font-weight: bold;
    margin-right: 5px;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
}

.formName {
    font-size: 1.25rem;
    font-size: var(--heading5-fontSize);
    margin-top: 12px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-text);
    font-weight: bold;
}

.formDeclaration {
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    margin-left: -5px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    font-weight: normal;
}

.accordianSpacing {
    margin-top: 8px;
}

.listSpacing {
    margin-top: 12px;
}


.regular {
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    font-size: 1rem;
    font-size: var(--body1-fontSize);
    font-weight: 500;
}


.fieldSpacing {
    margin-top: 6px;
}

.textAlignInline {
    margin-top: 13px;

}

.alignInput {
    margin-top: 20px !important;
}


.fieldRightSpacing {
    margin-right: 12px;
}

.accordianSubtitle {
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    margin-left: 10px;
    margin-top: 2px;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-text);
}

/* textarea:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    background-color: var(--disabled-input);
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.18) !important
} */

textarea.txtarea {
    margin-bottom: 10px;
    height: 93px;
}

textarea:not(.txtarea) {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 24px !important;
    padding: 10.5px 10.5px 3.5px;
    width: 337px;
    margin-top: 5px !important;
    font-size: 1rem;
    font-size: var(--body1-fontSize) !important;
}


/* _______________________________________________________________________________________________________________________ */

/* BUTTON ICONS */
.downloadIcon {
    background: url('assets/buttonIcons/downloadIcon.svg') no-repeat;
}
.secDownloadIcon {
    background: url('assets/buttonIcons/secDownloadIcon.svg') no-repeat;
}
.downloadIcon:disabled {
    background: url('assets/buttonIcons/downloadIconDisabled.svg') no-repeat;
}
.uploadIcon {
    background: url('assets/buttonIcons/uploadIcon.svg') no-repeat;
}
.uploadIcon:disabled {
    background: url('assets/buttonIcons/uploadIconDisabled.svg') no-repeat;
  }
.editIcon {
    background: url('assets/buttonIcons/defaultEditIcon.svg') no-repeat;
}

.editIcon:disabled {
    background: url('assets/buttonIcons/editButtonIconDisabled.svg') no-repeat;
}

.previousIcon {
    background: url('assets/buttonIcons/previousIconSecondary.svg') no-repeat;
}
.previousIcon:disabled {
    background: url('assets/buttonIcons/previousIconSecondaryDisabled.svg') no-repeat;
}
.nextIcon {
    background: url('assets/buttonIcons/nextIconPrimary.svg') no-repeat;
}
.nextIcon:disabled {
    background: url('assets/buttonIcons/nextIconDisabled.svg') no-repeat;
}
.filterIcon {
    background: url('assets/buttonIcons/filterIcon.svg') no-repeat;
}
.addIconPrimary {
    background: url('assets/buttonIcons/addIconPrimary.svg') no-repeat;
}
.addIconPrimary:disabled {
    background: url('assets/buttonIcons/addIconDisabled.svg') no-repeat;
}

.addIconSecondary {
    background: url('assets/buttonIcons/addIconSecondary.svg') no-repeat;
}
.addIconSecondary:disabled {
    background: url('assets/buttonIcons/addIconDisabled.svg') no-repeat;
}

.errorIcon {
    background: url('assets/buttonIcons/error.svg') no-repeat;
}

.warningIcon {
    background: url('assets/buttonIcons/warning.svg') no-repeat;
}

.infoIcon {
    background: url('assets/buttonIcons/Info.svg') no-repeat;
    margin-left: 7px;
}

.attachIcon {
    background: url('assets/images/Attach-Icon.png') no-repeat;
    background-size: 18px 12px !important;
}

/* removeIcon {
  background: url(assets/buttonIcons/removeIcon.svg) no-repeat;
}
removeIcon:disabled {
  background: url(assets/buttonIcons/removeIconDisabled.svg) no-repeat;
} */

/* BUTTON SIZES (DEFAULT, SAMLL, LARGE) */
/* DEFAULT BUTTON */
.defaultButton {
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    font-weight: 500;
    text-align: center;
    line-height: 1.36;
    border-radius: 4px;
    padding: 0 20px;
    min-height: 36px;
    min-width: 84px;
}
.defaultButton.iconBefore {
    padding: 0 20px 0 38px;
    background-position: 16px center;
    background-size: 18px 18px;
}
.defaultButton.iconAfter {
    padding: 0 38px 0 20px;
    background-position: right 16px center;
    background-size: 18px 18px;
}

/* SMALL BUTTON */
.smallButton {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 1.33;
    border-radius: 4px;
    padding: 0 16px;
    min-height: 30px;
}
.smallButton.iconBefore {
    padding: 0 16px 0 30px;
    background-position: 12px center;
    background-size: 14px 14px;
}
.smallButton.iconAfter {
    padding: 0 20px 0 38px;
    background-position: right 12px center;
    background-size: 14px 14px;
}

/* LARGE BUTTON */
.largeButton {
    font-size: 1rem;
    font-size: var(--body1-fontSize);
    font-weight: 500;
    text-align: center;
    line-height: 1.31;
    border-radius: 4px;
    padding: 0 24px;
    min-height: 46px;
    min-width: 98px;

}
.largeButton.iconBefore {
    padding: 0 24px 0 42px; /* IMAGE SIZE => 22px*22px */
    background-position: 18px center;
    background-size: 22px 22px;
}
.largeButton.iconsAfter {
    padding: 0 42px 0 24px;
    background-position: right 20px center;
    background-size: 22px 22px;
}

/* BUTTON STYLING (PRIMARY, SECONDARY AND TERTIARY) */
/* PRIMARY BUTTON */
.primaryButton {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #2a3a8d;
    color: #ffffff;
    border: none;
}
.primaryButton:hover:enabled {
    background-color: #223074;
}
.primaryButton:disabled {
    background-color: rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.24);
    box-shadow: none;
    border: none;
    font-weight: 500;
}
.primaryButton.focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
    border: 1px solid #2a3a8d;
}
.primaryButton:focus:not(.focus-visible) {
    outline: none;
}
/* SECONDARY BUTTON */
.secondaryButton {
    color: #2a3a8d;
    border: solid 1px #2a3a8d;
    background-color: transparent;
}
.secondaryButton:hover:enabled {
    background-color: rgba(42, 58, 141, 0.08);
}
.secondaryButton:disabled {
    border: solid 1px rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.38);
}
.secondaryButton.focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
    border: 1px solid #2a3a8d;
}
.secondaryButton:focus:not(.focus-visible) {
    outline: none;
}

/* TERTIARY BUTTON */
.tertiaryButton {
    color: #2a3a8d;
    background-color: transparent;
    border: none;
}
.tertiaryButton:hover:enabled {
    background-color: rgba(42, 58, 141, 0.08);
}
.tertiaryButton:disabled {
    color: rgba(0, 0, 0, 0.38);
}
.tertiaryButton.focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
}
.tertiaryButton:focus:not(.focus-visible) {
    outline: none;
}
.componentButton {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}
.componentButton:hover:enabled {
    background-color: rgba(8, 117, 226, 0.08);
    border: 1px solid var(--secondary-color);
}
.componentButton:disabled {
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.38);
}
.componentButton.focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
}
.componentButton:focus:not(.focus-visible) {
    outline: none;
}

/* VERTICAL DISTANCE FOR BUTTONS */
.endButtons {
    margin-top: 32px;
}
/* DISTANCE BETWEEN TWO LARGE BUTTONS */
.largeButtonGap {
    margin-right: 16px;
}
/* DISTANCE BETWEEN DEFAULT BUTTONS */
.defualtButtonGap {
    margin-right: 8px;
}


/* SPECIFIC BUTTONS */

/* COPY BUTTON */
.copyButton {
    background: url('assets/buttonIcons/copyIcon.png') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
    padding: 0 16px 0 30px;
    font-size: 12px;
    border-radius: 4px;
    height: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 1.33;
    vertical-align: middle;
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: #0875e2;
    color: var(--secondary-color);

}
.copyButton:hover:enabled {
    background-color: rgba(8, 117, 226, 0.08);
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
}
.copyButton:disabled {
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.38);
    background: url('assets/buttonIcons/copyIconDisabled.png') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
}
.copyButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
}
/* EDIT BUTTON */
.editButton {
    background: url('assets/buttonIcons/editButtonIcon.svg') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
    padding: 0 16px 0 30px;
    font-size: 12px;
    border-radius: 4px;
    height: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 1.33;
    vertical-align: middle;
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
}
.editButton:hover:enabled {
    background-color: rgba(8, 117, 226, 0.08);
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
}
.editButton:disabled {
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.38);
    background: url('assets/buttonIcons/editButtonIconDisabled.svg') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
}
.editButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
}

/* ADD DETAILS BUTTON */
.addDetailsButton {
    background: url('assets/buttonIcons/round-add_circle_outline-24px.svg') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
    padding: 0 16px 0 30px;
    font-size: 12px;
    border-radius: 4px;
    height: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 1.33;
    vertical-align: middle;
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: #0875e2;
    color: var(--secondary-color);
}
.addDetailsButton:hover:enabled {
    background-color: rgba(8, 117, 226, 0.08);
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
}
.addDetailsButton:disabled {
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.38);
    background: url('/assets/buttonIcons/disabledAddDetails.svg') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
}
.addDetailsButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
    border: 1px solid #0875e2;
    border: 1px solid var(--secondary-color);
}
/* DELETE BUTTON */
.deleteButton {
    background: url('assets/buttonIcons/deleteButtonIcon.svg') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
    padding: 0 16px 0 30px;
    font-size: 12px;
    border-radius: 4px;
    height: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 1.33;
    border: 1px solid #cd2026;
    border: 1px solid var(--error-bg);
    background-color: transparent;
    color: #cd2026;
    color: var(--error-bg);
}
.deleteButton:hover:enabled {
    background-color: #fef2f3;
    border: 1px solid #cd2026;
    border: 1px solid var(--error-bg);
}
.deleteButton:disabled {
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.38);
    background: url('assets/buttonIcons/deleteButtonDisabledIcon.svg') no-repeat;
    background-position: 12px center;
    background-size: 14px 14px;
}
.deleteButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
    border: 1px solid #cd2026;
    border: 1px solid var(--error-bg);
}
/* _______________________________________________________________________________________________________________________ */


/* MAT RADIO COLOR */
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0875e2 !important;
    border-color: var(--secondary-color) !important;
}
.mat-radio-button.mat-primary .mat-radio-inner-circle {
    color: #0875e2;
    background-color: #0875e2;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element {
    background-color: #0875e2;
    background-color: var(--secondary-color);
}

.mat-radio-label-content {
    white-space: normal !important;
    font-size: var(--body2-fontSize);
}

largeButton {
    font-size: 1rem;
    font-size: var(--body1-fontSize);
}

smallButton {
    font-size: 12px;
}

.heading1 {
    font-size: 2.25rem;
    font-size: var(--heading1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.12px;

}

.heading2 {
    font-size: 2rem;
    font-size: var(--heading2-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.22px;
}

.heading3 {
    font-size: 1.875rem;
    font-size: var(--heading3-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.15px;
    line-height: 1.33;
}

.heading4 {
    font-size: 1.5rem;
    font-size: var(--heading4-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.1px;
}

.heading5 {
    font-size: 1.25rem;
    font-size: var(--heading5-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.15px;
}

.heading6 {
    font-size: 1.125rem;
    font-size: var(--heading6-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.25px;
}

.subtitle1 {
    font-size: 1rem;
    font-size: var(--body1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.15px;
}

.subtitle2 {
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.1px;
}

.body1 {
    font-size: 1rem;
    font-size: var(--body1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.44px;
}

.body2 {
    font-size: 0.875rem;
    font-size: var(--body2-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    letter-spacing: 0.25px;
}

.body3 {
    font-size: 0.75rem;
    font-size: var(--body3-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
    /* letter-spacing: 0.25px; */
}

/* MAT RADIO SIZE */
.mat-radio-container {
    height: 18px !important;
    width: 18px !important;
}
.mat-radio-outer-circle {
    height: 18px !important;
    width: 18px !important;
}
.mat-radio-inner-circle {
    height: 18px !important;
    width: 18px !important;
}
.mat-radio-button .mat-radio-ripple {
    height: 36px !important;
    width: 36px !important;
    left: calc(50% - 18px) !important;
    top: calc(50% - 18px) !important;
}


/* MAT CHECKBOX SIZE */
.mat-checkbox-inner-container {
    height: 18px !important;
    width: 18px !important;
}


.mat-expansion-panel > .mat-expansion-panel-header {
    height: 96px !important;
    flex-direction: row !important;
}

.firstListing {
    padding: 0;
}
.secondListing li {
    margin: 0;
}
/* .thirdListing li {

  } */

.mat-expansion-panel-body {
    padding: 0 24px 24px !important;
}

.d-flex.flex-row.flex-wrap.removeBottomSpacing {
    margin-bottom: -24px !important;
}

.removeBottomSpacing {
    margin-bottom: -24px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}

.d-flex.flex-row.flex-wrap {
    line-height: 21px;
}

.row {
    line-height: 21px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 0 27.5px !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0875e2;
    color: var(--secondary-color);
}


.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #cd2026 !important;
    color: var(--error-bg) !important;
}

.mat-form-field-disabled.mat-form-field-appearance-outline .mat-form-field-outline {
    border: 1px solid rgba(0, 0, 0, 0.18) !important;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05) !important;
    background-color: var(--disabled-input) !important;

}


input.mat-input-element {
    font-size: 1rem;
    font-size: var(--body1-fontSize);
}
/* font-color for disabled Input field */
.mat-form-field-disabled input.mat-input-element {
    color: rgba(0, 0, 0, 0.6) !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 4px;
    background: white;
    background: var(--field-bg);

}

.mat-expansion-panel {
    background: #fff !important;
    background: var(--panel-color) !important;
}


.mat-card {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    background: #fff !important;
    background: var(--panel-color) !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: grey;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: rgba(0, 0, 0, .87);
}

.mat-checkbox .mat-checkbox-frame {
    border-color: rgba(0, 0, 0, 0.5);
    border-color: var(--checkbox-bordercolor);
}

.ag-theme-material .ag-icon-checkbox-checked:before {
    color: #0875e2 !important;
    color: var(--secondary-color) !important;
}

.ag-theme-material .ag-icon-checkbox-checked {
    color: #0875e2 !important;
    color: var(--secondary-color) !important;
}

.mat-radio-outer-circle {
    border: 2px solid rgba(0, 0, 0, .54) !important;
    border: 2px solid var(--panel-indicator) !important;
}


.mat-expansion-indicator::after {
    transform: rotate(-45deg) !important;
}

.mat-expansion-panel.mat-expanded .mat-expansion-indicator::after {
    transform: rotate(-135deg) !important;
    /* transform: rotate(225deg) !important; */

}


.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0875e2 !important;
    background-color: var(--secondary-color) !important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #0875e2 !important;
    background-color: var(--secondary-color) !important;
}


/* _______________________________________________________________________________________________________________________ */

button {
    letter-spacing: 0.1px;
}

/* ATTACH BUTTON */
.attachButton {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 1.36;
    border-radius: 4px;
    min-height: 36px;
    min-width: 84px;
    color: #2a3a8d;
    border: solid 1px #2a3a8d;
    background-color: transparent;
    padding: 0 20px 0 38px;
    background: url('assets/buttonIcons/attachIcon.svg') no-repeat;
    background-position: 16px center;
    background-size: 18px 18px;
}
.attachButton:hover:enabled {
    background-color: rgba(42, 58, 141, 0.08);
}
.attachButton:disabled {
    border: solid 1px rgba(0, 0, 0, 0.18);
    color: rgba(0, 0, 0, 0.38);
}
.attachButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px rgba(8, 117, 226, 0.6);
    border: 1px solid #2a3a8d;
}

/* Attach box styling */
.attachBox {
    margin-top: 8px;
    width: 362px;
    min-height: 48px;
    border-radius: 4px;
    background-color: #f2f8f4;
    font-size: 14px;
    font-weight: 500;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.uploadFileIcon {
    width: 24px;
    height: 32px;
    cursor: pointer;
    margin: 0 8px 0 0;
}

.fileSize {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 4px;
}
.fileName {
    color: #0875e2!important;
    cursor: pointer;
}
.fileName:hover {
  text-decoration: none!important;
}
.retryFileUpload {
    margin-left: auto;
    color: #2a3a8d;
    cursor: pointer;
}
.uploadCloseIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: auto;
}

.attachBox.uploadingAttachBox {
    background-color: #ebf4fd;
}
.attachBox.errorAttachBox {
    background-color: #fef2f3;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fileUploadMiddleBox {
    display: inline-block;
    width: 277px;
}
.errorMessage {
    color: #cd2026;
    margin-top: 2px;
}

/* _______________________________________________________________________________________________________________________ */


largeButton {
    font-size: var(--body1-fontSize);
}

smallButton {
    font-size: 12px;
}

.heading1 {
    font-size: var(--heading1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.heading2 {
    font-size: var(--heading2-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.heading3 {
    font-size: var(--heading3-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.heading4 {
    font-size: var(--heading4-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.heading5 {
    font-size: var(--heading5-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.heading6 {
    font-size: var(--heading6-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.subtitle1 {
    font-size: var(--body1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.subtitle2 {
    font-size: var(--body2-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.body1 {
    font-size: var(--body1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.body2 {
    font-size: var(--body2-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

/* MAT RADIO SIZE */
.mat-radio-container {
    height: 18px !important;
    width: 18px !important;
}
.mat-radio-outer-circle {
    height: 18px !important;
    width: 18px !important;
    border: 2px solid var(--panel-indicator) !important;
}
.mat-radio-inner-circle {
    height: 18px !important;
    width: 18px !important;
}
.mat-radio-button .mat-radio-ripple {
    height: 36px !important;
    width: 36px !important;
    left: calc(50% - 18px) !important;
    top: calc(50% - 18px) !important;
}


/* MAT CHECKBOX SIZE */
.mat-checkbox-inner-container {
    height: 18px !important;
    width: 18px !important;
}


.mat-expansion-panel > .mat-expansion-panel-header {
    height: 96px !important;
}

.firstListing {
    padding: 0;
}
.secondListing li {
    margin: 0;
}
/* .thirdListing li {

} */

.mat-expansion-panel-body {
    padding: 0 24px 16px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}


.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 0 27.5px !important;
}

mat-form-field.mrgn0.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--secondary-color);
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: var(--error-bg) !important;
}

.mat-form-field-disabled.mat-form-field-appearance-outline .mat-form-field-outline {
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    border-radius: 4px;
    background-color: #e9ecef;

}


input.mat-input-element {
    font-size: var(--body1-fontSize);
}
/* font-color for disabled Input field */
.mat-form-field-disabled input.mat-input-element {
    color: rgba(0, 0, 0, 0.6) !important;
}


.mat-expansion-panel {
    background: var(--panel-color) !important;
}
mat-card {
    background: var(--panel-color) !important;
}


.ag-header-cell-label .ag-header-cell-text {
    white-space: normal !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: grey;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: rgba(0, 0, 0, .87);
}

.mat-checkbox .mat-checkbox-frame {
    border-color: var(--checkbox-bordercolor);
}

.ag-theme-material .ag-icon-checkbox-checked:before {
    color: var(--secondary-color) !important;
}

.ag-theme-material .ag-icon-checkbox-checked {
    color: var(--secondary-color) !important;
}


.mat-expansion-panel.mat-expanded .mat-expansion-indicator::after {
    transform: rotate(-135deg) !important;
    /* transform: rotate(225deg) !important; */

}


.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--secondary-color) !important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: var(--secondary-color) !important;
}


/* _______________________________________________________________________________________________________________________ */


/* Attach box styling */
.attachBox {
    margin-top: 8px;
    width: 362px;
    min-height: 48px;
    border-radius: 4px;
    background-color: #f2f8f4;
    font-size: 14px;
    font-weight: 500;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.uploadFileIcon {
    width: 24px;
    height: 32px;
    cursor: pointer;
    margin: 0 8px 0 0;
}

.fileSize {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 4px;
}
.fileName {
    color: #0875e2;
    cursor: pointer;
}
.retryFileUpload {
    margin-left: auto;
    color: #2a3a8d;
    cursor: pointer;
}
.uploadCloseIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: auto;
}

.attachBox.uploadingAttachBox {
    background-color: #e5f1fc;
}
.attachBox.errorAttachBox {
    background-color: #fef2f3;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fileUploadMiddleBox {
    display: inline-block;
    width: 277px;
}
.errorMessage {
    color: #cd2026;
    margin-top: 2px;
}

/* _______________________________________________________________________________________________________________________ */

.tbl {
    overflow-x: scroll;
}

.body {
    background-color: #f6f7fb;
}

.cell-wrap-text {
    white-space: normal !important;
    word-wrap: break-word !important;
    line-height: 20px !important;
    padding: 12px 16px !important;
}

.cell-wrap-amount {
    white-space: normal !important;
    word-wrap: break-word !important;
    line-height: 20px !important;
    text-align: right !important;
    padding: 12px 16px !important;
}
.ag-cell-wrapper {
    align-items: start !important;
}

.ag-theme-material .ag-row.ag-row-last {
    border-bottom-width: 0 !important;
}

.ag-header-cell-label .ag-header-cell-text {
    white-space: normal !important;
    color: rgba(0, 0, 0, 0.87) !important;
    line-height: 1.5 !important;
    text-align: left !important;
    letter-spacing: 0.1px !important;
}
/* .ag-header-cell-label .ag-header-cell-text{
      white-space:normal!important;
      }  */
.ag-theme-material .ag-header {
    color: rgba(0, 0, 0, 0.87) !important;
}
.ag-header-cell-label {
    /*Necessary to allow for text to grow vertically*/
    height: 100% !important;
    padding: 0 !important;

}
/* .ag-cell, .ag-cell-value{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  } */
 .ag-header-cell{
      /* background-color: rgba(42, 58, 141, 0.06) !important; */
      /* padding-top: 0px !important; */
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      height: auto !important;
      padding-left: 16px !important;
      padding-right: 16px !important;
      background-color: #eeeff6 !important;
    }


/* .ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell{
      background-color: rgba(42, 58, 141, 0.06) !important;
    }
    .ag-header-viewport{
      background-color: rgba(42, 58, 141, 0.06) !important;
    } */
.ag-header-container {
    background-color: #eeeff6 !important;
}
.ag-theme-material .ag-icon-checkbox-checked {
    color: #0076c6 !important;
    vertical-align: top !important;
}
.ag-theme-material .ag-icon-checkbox-indeterminate:before {
    color: var(--secondary-color) !important;
}
.ag-cell-focus,
.ag-cell-no-focus {
    border: none !important;
}

.ag-row-selected {
    background-color: #ebf4fd !important;
}

.ag-row-hover {
    background-color: #f2f2f2 !important;
}

/* .ag-header-viewport{
    background-color: rgba(42, 58, 141, 0.06) !important;
  } */
.cell-wrap-text {
    white-space: normal !important;
    word-wrap: break-word;
}


div.ag-header-cell.ag-header-cell-sortable.rightAlignAmount div.ag-cell-label-container.ag-header-cell-sorted-asc div.ag-header-cell-label span.ag-header-cell-text {
    margin-left: auto;
}


div.ag-header-cell.ag-header-cell-sortable.rightAlignAmount div.ag-cell-label-container.ag-header-cell-sorted-desc div.ag-header-cell-label span.ag-header-cell-text {
    margin-left: auto;
}

div.ag-header-cell.ag-header-cell-sortable.rightAlignAmount div.ag-cell-label-container.ag-header-cell-sorted-none div.ag-header-cell-label span.ag-header-cell-text {
    margin-left: auto;
}

div.ag-header-cell.rightAlignAmount div.ag-cell-label-container div.ag-header-cell-label span.ag-header-cell-text {
    margin-left: auto;
    text-align: right !important;
}

/* HEADER STYLING */
.header-pageSetting-color {
    vertical-align: top;
    color: rgba(0, 0, 0, 0.87);
    color: var(--primary-text);
}
.header {
    background-color: #f6f7fb;
    background-color: var(--first-color);

}

.alignAccordion {
    margin-top: 20px;
    margin-left: -8px;
}

.mat-expansion-panel-header {
    min-height: 96px;
}


/* PREVIEW STYLING */

/* FORM NAME */
.previewFormName {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    margin: 24px 5px 0 0;
    text-align: center;
}
.previewFormName span.previewSubtitle {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: center;
    color: #797979;
}
.previewFormDeclaration {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 8px;
}

.previewFormNameColor {
    color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-text);
}


.mat-form-field.showRupeeIcon .mat-form-field-outline-start {
    width: 40px !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.38) !important;
}

.mat-form-field.showRupeeIcon input.mat-input-element {
    text-align: right;
    margin-right: 20px;
}

.mat-form-field.showRupeeIcon .mat-form-field-infix {
    margin-left: 10px;
}

.mat-form-field.showRupeeIcon .mat-icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}


/* Preview Component Classes */


.verificationTop {
    padding-top: 32px;
}


.nameBottomM {
    margin-bottom: 0 !important;
}
.pageTop {
    padding-top: 32px;
}

.previewTop {
    margin-top: 14px;
}

.buttonsLeft {
    margin-top: 10px;
    margin-right: -14px;
}

.matCardTop {
    margin-top: 17px;
    margin-left: -6px;
}

.headingTop {
    margin-top: 8px;
}

.backButtonLeftM {
    margin-left: 10px;
}

.submitButtonRight {
    margin-right: -14px;
}

#borderBottom {
    border-bottom: solid 1px rgba(42, 58, 141, 0.18);
    margin-top: 8px;
    margin-left: -24px;
    margin-right: -24px;
}

.textTop {
    padding-top: 16px;
}

.matCard {
    width: 1146px;
    border-radius: 4px;
    border: solid 1px rgba(42, 58, 141, 0.18);
    background-color: #ffffff;
}


.centerAlign {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.contentPadding {
    padding: 0 8px;
}

.tablePadding {
    padding-top: 16px;
}

.labelColWidth {
    width: 652px;
    padding-left: 8px !important;
    word-wrap: break-word;
}

.spaceColWidth {
    width: 66px;
}

.valueColWidth {
    max-width: 360px;
    word-wrap: break-word;
}


.verificationBottomLine {
    border-bottom: 1px solid rgba(42, 58, 141, 0.18);
    margin-top: 8px;
    margin-bottom: 16px;
}


/* _____________________________________________________________________________________ */


mat-error {

    /* class error */
    padding: 8px;
    font-family: Roboto, sans-serif;
    font-size: var(--body2-fontSize);
    color: var(--error-bg);
    border-radius: 4px;
    background-color: rgba(205, 32, 38, 0.05);
    margin-top: -20px;
    margin-bottom: 24px;
    width: 264px;
    min-height: 35px;
}

mat-error.mrgnTop8 {
    margin-top: 8px;
}

mat-error.warning {
    color: #bc460b;
    background-color: #fbf4f1;
}

mat-error.mat-error1 {
    width: 100% !important;
}
mat-error.mat-error2
{
    width: 231% !important;
}

mat-label {
    font-size: 14px;
    font-size: var(--body1-fontSize);
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

h3 {
    font-size: var(--body1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

.otp {
    font-size: var(--body1-fontSize);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: var(--primary-text);
}

/* .mat-paginator-container{
  display: flex;
  justify-content: flex-start !important;
  margin-left: 75px !important;
  width:500px;
} */

/* .mat-paginator-page-size-label {
  margin: 0 4px;
  color: transparent;
} */
.paginatorContainer {
    width: 95%;
    /* margin-top: -45px; */
}

/* .mat-paginator-range-label {
  margin-right: 65px !important;
  color: transparent
}

/* for file itr screen */
.ag-root-wrapper-body {
    height: auto !important;
    width: auto !important;
}
.ag-layout-normal {
    height: auto !important;
    width: auto !important;
}

.ag-center-cols-viewport {
    width: auto !important;
}
.picture1 {
    background: url('assets/buttonIcons/aaaa.jpg') no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 5%;
    padding-top: 20px;
}

.mat-chip {
    border-radius: 4px !important;
}

.homePageScroller {
    background-color: #eeeff6 !important;
    height: 45px;
}

@media screen and(max-width: 990px) {
    .homePageScroller {
        display: none;
    }
}

.homepageNav {
    height: 19px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 13px;
}


.homepageLabel {
    height: 39px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -0.47px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.homepageLabelUnderline {
    width: 57px;
    height: 3px;
    border-radius: 4px;
    background-color: var(--cerulean-blue);
}

.showMore {
    margin-top: 49px;
    height: 21px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 0.12px;
    text-align: center;
    color: #0087db;
}


@media screen and(max-width: 462px) {

    .headernavMargin {
        margin-left: 0;
    }

    .desc {
        width: 469px;
        height: 69px;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.29px;
        text-align: left;
        color: rgba(0, 0, 0, 0.6)
    }
}
.desc {
    width: inherit;
    height: 69px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.29px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6)
}

.fileButton {
    width: 193px;
    height: 46px;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--dusk-blue);
    text-align: center;
}

.fileButtonText {
    height: 21px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.14px;
    color: #ffffff;

}

.homepageServicesLabel {
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.13px;
    color: var(--primary-text);
    margin-top: 24px;
}


.homepageServicesDesc {
    width: 198px;
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: center;
    margin-left: 33px;
    color: var(--primary-text);
}


.container-fluid {
    margin-left: -15px;
}

.digitFont {
    height: 39px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-87);
}

.digitLabel {
    height: 21px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 0.44px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}


.footerLabel {
    width: 75px;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.13px;
    text-align: left;
    color: #ffffff;
}


.footerContent {
    width: 105px;
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.navMargin {
    margin-left: 90px;
}

.coverRow {
    margin-left: 0;
    margin-right: 0;
}

.loginText {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;

    color: #2a3a8d;
}

.registerText {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
    color: #ffffff;
}

.marginButton {
    margin-top: 22px;
}

.videoText {

    height: 21px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 36px;
    color: var(--black-87);
}

.mainVideoText {
    width: 332px;
    height: 31px;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-87);
    margin-top: 32px;
}

.vidDetails {
    width: 533px;
    height: 95px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    text-align: left;
    color: var(--black-87);
}


.newsText {
    width: 310px;
    /* height: 54px; */
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.15px;
    text-align: left;
    color: var(--black-87);
}

mat-password-strength .mat-progress-bar {
    height: 13px;
    margin-top: 15px;
    border-radius: 7px;
}

mat-password-strength .mat-progress-bar-fill::after {
    background-color: #4caf50;
}
.mat-password-field.mat-form-field.mat-focused .mat-form-field-label {
    color: #4caf50;
}
.mat-password-field.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #4caf50;
}

.cursorPointer {
    cursor: pointer;
}

aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.editing .step-indicator {
    background-color: grey !important;
    color: #000;
}

/* .mat-radio-label { */

mat-radio-button.matRadioButton .mat-radio-label-content {
    white-space: normal;
}
mat-radio-button.matRadioButton .mat-radio-label {
    align-items: normal;
}

.panBox {
    width: 180px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px var(--black-38);
    background-color: #ffffff;
}

otp {
    width: 135px;
    height: 35px;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-87);
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 0 !important;
    padding: 0 12px !important;
}

.heading {
    height: 35px;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 24px;
}

.cancelButton {
    margin-top: 32px;
    width: 98px;
    height: 46px;
    border-radius: 4px;
    border: solid 1px #2a3a8d;
}

.buttonMargin {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    margin-top: 32px;
    width: 130px;
    height: 46px;
    font-size: var(--body1-fontSize);
    font-weight: 500;
}

.position {
    position: relative;
}
.marginTheHeading {
    margin-top: 30px;
}


.otpcontent {
    width: 563px;
    height: 37px;
    font-size: var(--body2-fontSize);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.otpExpire {
    width: 155px;
    height: 16px;
    font-size: var(--body2-fontSize);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-87);
}

.resendOtp {
    width: 77px;
    height: 16px;
    font-size: var(--body2-fontSize);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: var(--cerulean-blue);
}


.attemptsOtp {
    width: 139px;
    height: 16px;
    font-size: var(--body2-fontSize);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.instructionMat {
    max-width: 362px;
    height: 209px;
    border: solid 1px rgba(42, 58, 141, 0.18);
    background-color: #ffffff;
}
.cardWidth {
    max-width: 730px
}

.link1 {
    color: blue;
    cursor: pointer;
}

.buttonPag {
    border: none;
    background-color: white;
    outline: none;
}

.paginationGridStyle {
    border: lightgray 1px solid;
    padding: 16px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.floatButtoncss {
    float: right;
}


.errorSmallPan {
    padding: 3px;
    font-family: Roboto, sans-serif;
    font-size: var(--body2-fontSize);
    color: var(--error-bg);
    border-radius: 4px;
    background-color: rgba(205, 32, 38, 0.05);
    margin-top: -15px;
    margin-bottom: 10px;
    width: 180px;
}

.finalData {
    font-size: var(--body2-fontSize);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-87);
}
.dataHeading {
    font-size: var(--body2-fontSize);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

/* .line{
  height: 251px;
  border-radius: 4px;
  border: solid 1px rgba(42, 58, 141, 0.18);
  background-color: #ffffff;
} */

.marginTopTwentyFour {
    margin-top: 24px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--secondary-color) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: #0875e2;
    background-color: #0875e2;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #0875e2 !important;
    background-color: var(--secondary-color) !important;
}

.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    color: transparent !important;
}

.mat-form-field .mat-select .mat-select-arrow {
    margin-top: 8px !important;
    border-radius: 8px !important;
    /* color:transparent !important; */
}

.mat-card {
    border: 1px solid rgba(42, 58, 141, 0.18);
}

.mat-select-panel mat-option.mat-option {
    padding: 0 12px;
}

.mat-option-text.mat-option-text {
    white-space: normal;
    line-height: 21px;
    padding: 12px 0;
}

.alignError {
    padding: 8px;
    font-size: var(--body2-fontSize);
    color: var(--error-bg);
    border-radius: 4px;
    background-color: rgba(205, 32, 38, 0.05);
    margin-top: -20px;
    margin-bottom: 24px;
    width: 180px;
}

.mandatoryFields {
    height: 16px;
    font-size: var(--body2-fontSize);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 26px;
    margin-bottom: 8px;
    margin-left: 576px;
}

.heightCompDiv {
    height: 0 !important;
}


@media(max-width:823px) {
    .inputWidth {
        width: 264px;
    }
}

@media(min-width:823px) {
    .inputWidth {
        width: 337px;
    }
}
.bgBreadCrumb {
    background: var(--first-color);
}
/* Style the list */
ul.breadcrumb {
    padding: 10px 0;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    color: #f6f7fb;
    color: var(--secondary-color);
    margin-left: 24px;
}

ul.breadcrumb:nth-child(1) {
    margin-left: -24px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 4px;
    position: absolute;
    color: black;
    content: url('assets/breadCrumb.svg');
    margin-left: -22px;
    margin-top: -2px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #0275d8;
    text-decoration: none;
    border-bottom: 2px solid #0275d8;
    cursor: pointer;
}

.breadcrumb {
    background-color: white !important;
    /* background-color: #f6f7fb; */
    /* background-color: var(--first-color); */
}
.currentForm {
    color: rgba(0, 0, 0, 0.6) !important;
    color: var(--secondary-text) !important;
    font-weight: 500;
}

/* for paginator*/

/* .mat-paginator-container {
    justify-content: center;
  } */
.mat-paginator-range-label {
    order: 3;
}
.mat-paginator-navigation-previous {
    order: 2;
}
.mat-paginator-navigation-first {
    order: 1;
}
.mat-paginator-navigation-last {
    order: 5;
}
.mat-paginator-navigation-next {
    order: 4;
}
div.mat-paginator-container {
    justify-content: space-between !important;
}


/* for mat stepper */

.verticalMatStep > .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #218737 !important;
    color: #fff;
}

#discardModal1 .cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 9999 !important;
}


.fileError {
    font-size: var(--body2-fontSize);
    color: var(--error-bg);
    border-radius: 4px;
    background-color: rgba(205, 32, 38, 0.05);
    margin-top: 4px;
    width: 337px;
    height: 35px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('assets/iconFont.woff2') format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.successChangePass {
    width: 417px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-left: 16px;
    color: var(--darkish-green);
}

.transactionId {
    width: 211px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.15px;
    text-align: left;
    color: var(--black-87);
}

.success {
    width: 395px;
    height: 35px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-87);
}

.changePaaword {
    width: 217px;
    height: 35px;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-87);
}

.changePassMandatoryFields {
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
}

.Learn-more {
    width: 72px;
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    margin-left: 16px;
    color: #0875e2;
    cursor: pointer;
}

.fieldLabel {
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: left;
    color: var(--black-87);
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
    width: 310px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.38);
    background-color: #ffffff;
    }/* ========================================== TECHJINI STYLES =============================================*/:root
    {
        --succes-message-bg: #edf6ef;
        --success-message-color: #218737;
        --success-Sub-message-color: #383838;
        --hold-color: #c94d11;
        --hold-bg:#fbf4f1;
        --input-success-bg: #f2f8f4;
        --scrollbarBG: #d8dbea;
        --refund-bg: #2aa764;
        --demand-bg: #e36468;
        --ndnr-bg: #536be6;
        --itr1-bg: #5362ad;
        --itr2-bg: #eb6534;
        --itr3-bg: #028d9d;
        --itr4-bg: #5f94bf;
        --itr5-bg: #ad5d4e;
        --itr6-bg: #aa7166;
        --itr7-bg: #be8679;
        --header-bg: #2a3a8d;
        --body3-fontSize: 0.75rem;
    }

    .attachIcon {
        background: url('/assets/attachIcon.svg') no-repeat;
    }
    .matCard-ctr {
        border-radius: 4px;
        border: solid 1px rgba(42, 58, 141, 0.18);
        background-color: var(--panel-color);
    }

    body {
        background: var(--first-color) !important;
    }

    .cdk-global-overlay-wrapper,
    .cdk-overlay-container {
        z-index: 99999 !important;
    }

    .navbarbg {
        background: var(--header-bg);
    }
    /* BREADCRUMB */
    .breadcrumb {
        background: transparent !important;
        /* padding: 0.75rem 0 !important; */
        padding: 16px !important;
        margin-bottom: 0.25rem !important;
    }

    .breadcrumb li {
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 18px;
        font-weight: 500;
    }

    .breadcrumb li a {
        color: var(--secondary-color);
        font-size: 12px;
    }

    .breadcrumb li a:hover {
        text-decoration: none;
    }
    .breadcrumb-item.active {
        color: var(--secondary-text);
    }

    .bank-img {
        background: url('/assets/Sbi.png') no-repeat;
        width: 30px;
        height: 30px;
        background-size: contain;
    }

    /* Debit or credit Card */
    .mat-card-header .mat-card-title {
        font-size: 14px;
        font-weight: normal;
    }

    .accountDetailCard {
        width: 342px;
        box-shadow: none !important;
        border: 1px solid rgba(42, 58, 141, 0.18);
        padding: 25px !important;
    }
    .card-margin {
        margin-left: 35px;
    }
    .accountDetailCard .mat-card-header .mat-card-title {
        font-size: var(--body2-fontSize);
        font-weight: 500;
    }

    .accountDetailCard .mat-card-header .mat-card-title .mat-card-subtitle {
        font-size: var(--body2-fontSize);
        color: var(--primary-text);
    }

    .position-accountDetailCardMenu {
        position: absolute;
        left: 85%;
        top: 5px;
    }

    .position-accountDetailCardmenupanel {
        position: relative;
        right: 75%;
    }

    /* Card for ERI */
    .card {
        border: 1px solid rgba(42, 58, 141, 0.18) !important;
    }

    .card-header {
        background-color: rgba(42, 58, 141, 0.06) !important;
        border-bottom: 0;
        padding: 1rem 1.25rem !important;
    }

    .card-body {
        border-bottom: 1px solid #d8dbea;
        padding: 0.85rem !important;
    }

    .cardbodyMarginbottom .mat-form-field-wrapper {
        margin-bottom: 8px !important;
    }

    .card-body div:last-child {
        border-bottom: 0;
    }

    /* Material Tab */
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: var(--secondary-color);
    }

    .mat-tab-label {
        color: var(--secondary-text);
        opacity: 1 !important;
        font-weight: 500;
    }

    .mat-tab-label.mat-tab-label-active {
        color: var(--secondary-color);
        font-weight: 500;
    }

    .mat-tab-link {
        color: green;
    }

    .mat-tab-label:hover {
        background: #ebf4fd;
        color: var(--secondary-color);
    }

    .mat-tab-body-content {
        height: inherit !important;
        overflow: inherit !important;
    }


    /* POPUP */
    .popupLabel {
        font-size: var(--body2-fontSize);
        color: var(--secondary-text) !important;
    }

    .popupLabel-small {
        font-size: 0.875rem;
        color: var(--primary-text) !important;
    }

    .confirmpopup-body {
        font-size: 1rem;
    }

    /* ag-grid */
    .ag-theme-balham .ag-root {
        border: none;
    }

    .ag-theme-balham .ag-row {
        border-color: #d8dbea;
    }

    .ag-theme-balham .ag-ltr .ag-cell {
        font-size: 14px;
    }

    .ag-theme-balham .ag-cell {
         line-height: 48px !important;
    }

    .mat-elevation-z8 {
        box-shadow: none;
        border: 1px solid #d8dbea;
    }

    .ag-theme-balham .ag-header-cell::after,
    .ag-theme-balham .ag-header-group-cell::after {
        border-right: 0;
    }

    /* DropDown Styles */
    .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
        background: var(--secondary-color);
        color: var(--panel-color);
    }

    .mat-select-panel .mat-option.mat-selected:hover {
        color: var(--primary-text);
    }

    .mat-select-panel .mat-optgroup-label,
    .mat-select-panel .mat-option {
        height: 43px !important;
    }

    .mat-option:hover {
        background: #f2f2f2 !important;
    }

    .norecords-padding {
        padding: 25px 0 0 100px;
    }

    /* FILTER */
    .mat-menu-panel {
        max-width: 500px !important;
    }

    .custom-matFilter {
        width: 337px;
        padding: 0 !important;
    }

    .custom-matFilter > .mat-card-actions {
        margin: 0 !important;
        background: rgba(42, 58, 141, 0.05);
        padding: 10px !important;
    }

    .mat-menu-content:not(:empty) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .custom-matFilter > .mat-card-header {
        background: #eeeff6;
        padding: 5px;
    }

    .custom-matFilter > .mat-card-header-text {
        margin: 0 !important;
    }

    .mat-elevation-z4 {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16) !important;
    }

    .mat-menu-content > .modal-dialog > .modal-content {
        width: 337px !important;
    }

    .mat-icon {
        color: rgba(0, 0, 0, 0.6);
        color: var(--secondary-text);
    }

    .pipeline {
        border-left: solid 1px rgba(42, 58, 141, 0.18);
    }

    .speech-bubble {
        position: relative;
        background: var(--panel-color);
        border-radius: 4px;
        border: solid 1px rgba(42, 58, 141, 0.18);
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 20%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: var(--panel-color);
        border-left: 0;
        margin-top: -14px;
        margin-left: -10px;
    }

    .speech-bubble:before {
        content: '';
        position: absolute;
        left: -1px;
        top: 20%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: rgba(42, 58, 141, 0.18);
        border-left: 0;
        margin-top: -14px;
        margin-left: -10px;
    }

    .otp-input {
        width: 40px !important;
        height: 40px !important;
        border-radius: 4px;
        border: solid 1px rgba(0, 0, 0, 0.6) !important;
        background-color: #ffffff !important;
        font-size: 16px !important;
        margin-top: 4px !important;
    }

    .wrapper .otp-input:not(:last-child) {
        margin-right: 16px !important;
    }

    ng-otp-input.loginNgOtpInputsmall .wrapper .otp-input {
        margin-right: 0.5rem !important;
    }

    .otp-text {
        font-size: 12px !important;
    }

    .e-verify-rectangle {
        border: solid 1px rgba(42, 58, 141, 0.18);
        width: 100%;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block !important;
        padding-right: 0.5rem !important;
        /* color: #6c757d!important; */
        content: url('../src/assets/nextArrow.svg') !important;
        height: 13px !important;
        vertical-align: middle;
    }

    .breadcrumb {
        background-color: #e9ecef00 !important;
    }

    .errorMessageBold {
        font-weight: 500;
    }

    .hiddeElement {
        display: none !important;
    }

    .inputBottomMargin {
        margin: 0 0 19.5px;
    }

    .filter-button {
        color: var(--secondary-text);
        font-size: var(--body2-fontSize);
        font-weight: 500;
        text-align: center;
        line-height: 1.36;
        padding: 0 20px;
        min-height: 40px;
        min-width: 84px;
        max-height: 40px;
        border: 0 !important;
    }

    .filter-button:focus {
        outline: 0 !important;
    }

    .filter-button:hover {
        background-color: rgba(42, 58, 141, 0.08);
    }

    .filterMiniContainer {
        max-width: 337px;
    }

    .successConatinerWidth {
        max-width: 754px;
    }

    .successMessageWidth {
        background-color: var(--succes-message-bg);
        border: solid 1px rgba(33, 135, 55, 0.18);
        border-radius: 4px;
    }

    .successMessageText {
        color: var(--success-message-color);
        font-weight: 500;
        font-size: var(--heading5-fontSize);
        line-height: 1.5;
    }

    .successMessageSubText {
        color: var(--success-Sub-message-color) !important;
        letter-spacing: normal !important;
    }

    .successIconAlign {
        transform: translateY(-2px);
    }

    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
        transform: translateY(0%) !important;
    }

    .mat-icon.notranslate .material-icons .mat-icon-no-color {
        transform: translate3d(5px, 2.5px, 10px) !important;
    }

    .learnMoreText {
        font-size: var(--body2-fontSize);
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: var(--primary-text);
        letter-spacing: 0.1px;
    }

    .passwordCriteriaText {
        color: var(--secondary-text);
        font-size: var(--body3-fontSize);
        letter-spacing: 0.15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
    }

    .passwordCriteriaPoint {
        font-size: var(--body3-fontSize);
        letter-spacing: 0.4px;
        color: var(--success-message-color);
    }

    .passwordTickIcon {
        transform: translateY(-1px);
    }

    .setpasswordContainer {
        max-width: 362px;
    }

    .resSetpassword {
        padding: 3rem 0 3rem 3rem;
    }

    .errorCriteriaPoint {
        color: var(--error-color);
        font-size: var(--body3-fontSize);
        letter-spacing: 0.4px;
    }

    .resentOtpLink {
        font-size: var(--body2-fontSize);
        color: var(--primary-text) !important;
    }

    .texRemainingCharacters {
        color: var(--secondary-text);
        font-size: var(--body3-fontSize);
    }

    .mat-button-toggle-group-appearance-standard {
        border-radius: 6px !important;
        font-size: 14px;
    }

    .mat-button-toggle-appearance-standard {
        height: 32px;
        margin: 2px;
        border-radius: 4px;
    }

    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
        height: 32px;
        margin: 2px;
        border-radius: 4px;
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
        border-left: solid 1px rgba(255, 248, 248, 0);
    }

    .mat-form-field-prefix .mat-icon,
    .mat-form-field-suffix .mat-icon {
        transform: translate3d(2px, 2px, 10px);
    }

    .mat-button-toggle.mat-button-toggle-appearance-standard.mat-button-toggle-checked button:focus {
        outline: none !important;
    }

    .mat-button-toggle.mat-button-toggle-appearance-standard button:active {
        outline: none !important;
    }

    .selectedContainer {
        background-color: var(--panel-color);
        box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
        width: 100%;
    }

    .selectedContainerPosition {
        position: absolute;
        bottom: 40px;
        z-index: 1;
    }

    .successMessageIcon {
        max-width: 18px;
    }

    .inputSuccessMessagecontainer {
        background-color: var(--input-success-bg);
        font-size: var(--body2-fontSize);
        color: var(--success-message-color) !important;
        border-radius: 4px;
        padding: 8px;
    }

    .textboxPadding .mat-form-field-flex {
        padding-right: 2px !important;
    }

    .removeChiplistMargin .mat-chip-list-wrapper {
        margin: 0 !important;
    }

    .MatChipWidthContainer {
        max-width: 292px;
    }

    .MatChipWidth {
        width: 292px;
    }

    .matcardSmall {
        border-radius: 4px;
        border: solid 1px rgba(42, 58, 141, 0.18);
        background-color: #ffffff;
    }

    .largeSearchInputWidth {
        width: 406px;
    }

    .selectIcon {
        background: url('/assets/select.png') no-repeat;
        /* color: var(--success-message-color); */
        font-size: 0.875rem;
    }

    .selectIcon.iconBefore {
        padding: 0 15px 0 42px;
        background-position: 16px center;
        background-size: 18px 18px;
    }

    .warningIcon {
        background: url('/assets/round-error.png') no-repeat;
    }

    .warningIcon.iconBefore {
        padding: 0 15px 0 42px;
        background-position: 16px center;
        background-size: 18px 18px;
    }
    .warningIcon-flat {
        background: url('/assets/round-warning.png') no-repeat;
    }

    .warningIcon-flat.iconBefore {
        padding: 0 15px 0 42px;
        background-position: 16px center;
        background-size: 18px 18px;
    }
    .removeIconbutton {
        font-size: 0.875rem;
        line-height: 48px;
        color: var(--error-color);
    }

    .removeIcon.iconBefore {
        padding: 0 15px 0 42px;
        background-position: 16px center;
        background-size: 22px 22px;
    }

    /* Toggle Button */
    .mat-button-toggle-checked {
        background-color: var(--secondary-color);
        color: var(--panel-color) !important;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 36px !important;
    }

    .listview-position {
        position: absolute;
        left: 88%;
        top: 20px;
        z-index: 999;
    }

    .horizontal-pipe {
        height: 1px;
        background: #dee2e6;
    }

    .addremark {
        font-size: var(--body2-fontSize);
        font-weight: 500;
        color: var(--secondary-color) !important;
        cursor: pointer;
    }

    .addremark:hover {
        text-decoration: none;
    }

    .card-footer {
        border-top: 0 !important;
    }

    /* ACTION MANAGEMENT */
    .actionManagement-requestSection {
        border: solid 1px rgba(42, 58, 141, 0.18);
        border-top: 0;
    }
    #actionManagement-listSection-customise > .mat-expansion-panel-header {
        min-height: 60px !important;
        height: 60px !important;
    }
    #actionManagement-listSection-customise {
        border-radius: 4px 4px 0 0;
    }
    #actionManagement-listSection-customise > .mat-expansion-panel-content > .mat-expansion-panel-body {
        padding: 12px 12px 0 !important;
    }
    #actionManagement-listSection-customise > .mat-expansion-panel-header > .mat-content > .mat-expansion-panel-header-title {
        margin-right: 0;
    }
    #actionManagement-card {
        border-radius: 0;
        border-top: none !important;
    }
    #actionManagement-requestSection-customise {
        border: none !important;
    }
    #actionManagement-requestSection-customise > .mat-expansion-panel-header {
        background: transparent !important;
        padding: 0 !important;
    }
    #actionManagement-requestSection-customise > .mat-expansion-panel-header > .mat-content > .mat-expansion-panel-header-title {
        display: block !important;
    }
    #actionManagement-requestSection-customise > .mat-expansion-panel-content > .mat-expansion-panel-body {
        padding: 0 12px !important;
    }
    .actionManagement-returnSection {
        /* background: rgba(42, 58, 141, 0.18) */
        background: #eeeff6;
    }

    .holdtext {
        color: var(--hold-color);
    }
    .holdtext-bg
    {
    background: var(--hold-bg);
    padding: 4px;
    border-radius: 4px;
    }
    .filter-section {
        position: absolute;
        z-index: 111;
        right: 0;
    }

    .modalInputWidth {
        width: 218px;
    }

    .prePro-width {
        width: 270px;
    }

    /* ACCORDION ITR*/
    .accordion > .card {
        border: 0 !important;
    }

    .accordion > .card > .card-header {
        border: 0 !important;
        padding: 0.75rem 0.25rem !important;
        text-indent: 15px;
    }

    .accordion > .card > .card-body {
        padding: 0 !important;
        border-bottom: 0 !important;
    }

    .accordion > .card > .card-body > div > .nav-link {
        padding: 0.85rem 0.2rem;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0;
        text-align: left;
        color: rgba(0, 0, 0, 0.6);
        text-indent: 15px;
    }

    .accordion > .card > .card-header {
        background: none !important;
    }

    .accordion > .card > .card-header > .card-title {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0;
        text-align: left;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    .accordion > .card > .card-body > div > .nav-link.active {
        color: var(--header-bg);
        background-color: #eeeff6;
        border-radius: 0;
        border-left: 3px solid var(--header-bg);
        border-top: 1px solid rgba(42, 58, 141, 0.18);
        border-right: 1px solid rgba(42, 58, 141, 0.18);
        border-bottom: 1px solid rgba(42, 58, 141, 0.18);
        text-indent: 15px;
    }

    .border-botton-none {
        border-bottom: 0 !important;
    }

    .border-right-color {
        border-right: 1px solid rgba(42, 58, 141, 0.18);
    }

    .accordion-lg > .card > .card-header {
        background: none !important;
        padding: 1rem !important;
    }

    .accordion-lg > .card {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }

    .accordion-lg > .card > .card-header > .btn-link {
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: var(--primary-text);
        text-decoration: none;
    }

    /* Temporary Storage */
    .storageButton-available {
        width: 48px;
        height: 48px;
        padding: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #6edd80;
        background-color: rgba(110, 221, 128, 0.08);
        border-radius: 4px;
        margin: 0 12px;
        outline: 0 !important;
    }

    .storageavailableBg {
        background-color: rgba(110, 221, 128, 0.08);
    }

    .storageButton-full {
        width: 48px;
        height: 48px;
        padding: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #f7888c;
        background-color: rgba(247, 136, 140, 0.08);
        border-radius: 4px;
        margin: 0 12px;
        outline: 0 !important;
    }

    .storagefullBg {
        background-color: rgba(247, 136, 140, 0.08);
    }

    .storageButton-partial {
        width: 48px;
        height: 48px;
        padding: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #fbbd08;
        background-color: rgba(251, 189, 8, 0.08);
        border-radius: 4px;
        margin: 0 12px;
        outline: 0 !important;
    }

    .storagepartialBg {
        background-color: rgba(251, 189, 8, 0.08);
    }

    .BO-Wrapper {
        padding: 0 2rem;
    }

    .modal-body::-webkit-scrollbar {
        width: 8px;
    }

    .modal-body::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
    }

    .modal-body::-webkit-scrollbar-thumb {
        background-color: var(--secondary-text);
        border-radius: 6px;
        border: 1px solid var(--scrollbarBG);
    }

    .date-picker.mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 0 0 0 0.75em !important;
    }

    /* Progress BAR */
    .progress {
        height: 21px !important;
    }

    .progress-bar {
        background: transparent !important;
        padding: 0 15px 0 10px;
    }

    .refundbg {
        background: var(--refund-bg) !important;
    }

    .demandbg {
        background: var(--demand-bg) !important;
    }

    .ndnrbg {
        background: var(--ndnr-bg) !important;
    }

    .itr1-bg {
        background: var(--itr1-bg) !important;
    }

    .itr2-bg {
        background: var(--itr2-bg) !important;
    }

    .itr3-bg {
        background: var(--itr3-bg) !important;
    }
    .itr4-bg {
        background: var(--itr4-bg) !important;
    }

    .itr5-bg {
        background: var(--itr5-bg) !important;
    }

    .itr6-bg {
        background: var(--itr6-bg) !important;
    }

    .itr7-bg {
        background: var(--itr7-bg) !important;
    }

    .refund-legend {
        width: 16px;
        height: 16px;
        background: var(--refund-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .demand-legend {
        width: 16px;
        height: 16px;
        background: var(--demand-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .ndnr-legend {
        width: 16px;
        height: 16px;
        background: var(--ndnr-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .itr1-legend {
        width: 16px;
        height: 16px;
        background: var(--itr1-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .itr2-legend {
        width: 16px;
        height: 16px;
        background: var(--itr2-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .itr3-legend {
        width: 16px;
        height: 16px;
        background: var(--itr3-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .itr4-legend {
        width: 16px;
        height: 16px;
        background: var(--itr4-bg);
        border-radius: 10px;
        line-height: 18px;
    }
    .itr5-legend {
        width: 16px;
        height: 16px;
        background: var(--itr5-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .itr6-legend {
        width: 16px;
        height: 16px;
        background: var(--itr6-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .itr7-legend {
        width: 16px;
        height: 16px;
        background: var(--itr7-bg);
        border-radius: 10px;
        line-height: 18px;
    }

    .mat-expansion-panel.mat-expansion-panel-header .mat-expansion-header-overwrite {
        background: rgba(255, 255, 255, 1) !important;
    }

    .full_width {
        width: 100%;
    }

    .margin-right-auto {
        margin-right: auto;
    }

    .otp-input:focus {
        box-shadow: 0 0 0 #ffffff00 !important;
        border: 2px solid #007bff !important;
        border-radius: 4px !important;
    }

    .ExtraLargeInputWidth {
        width: 690px;
    }


    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
    }

    .Triangle-Left {
        display: none;
    }

    .itbonav .nav-link.active .Triangle-Left {
        display: inline-block;
        right: 0;
    }

    .itbonav .nav-link.active .Triangle-Left:before {
        content: '';
        position: absolute;
        top: 8px;
        width: 0;
        right: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: rgba(42, 58, 141, 0.18);
        border-left: 0;
    }

    .itbonav .nav-link.active .Triangle-Left:after {
        content: '';
        position: absolute;
        top: 8px;
        width: 0;
        right: -1px;
        height: 0;
        border: 10px solid transparent;
        border-right-color: var(--panel-color);
        border-left: 0;
    }

    .clear-all {
        font-size: var(--body3-fontSize);
        color: var(--primary-text);
    }

    .mat-standard-chip.mat-chip-with-trailing-icon {
        border-radius: 4px;
        background-color: #eeeff6;
    }

    .mat-chip-list-wrapper .mat-standard-chip,
    .mat-chip-list-wrapper input.mat-input-element {
        font-size: var(--body3-fontSize);
        color: var(--primary-text);
    }

    .clear-link-test:hover {
        cursor: pointer;
    }

    .medium-container {
        width: 754px;
    }
    /* ================================================ Media Query ============================================ */
    @media only screen and(min-width: 1024px) and(max-width: 1366px) {
        .wrapper .otp-input:not(:last-child) {
            margin-right: 16px !important;
        }
    }

    @media only screen and(min-width: 576px) {
        .modal-dialog {
            max-width: 558px !important;
            margin: 1.75rem auto;
        }

        .modal-dialog-large {
            max-width: 754px !important;
        }

        .modal-dialog-small {
            max-width: 460px !important;
        }
        .modal-dialog-xl {
            max-width: 1140px !important;
          }


    }

    @media only screen and(max-width: 576px) {

        .secondaryButton {
            color: #2a3a8d;
            border: solid 1px #2a3a8d;
            background-color: #ffffff;
            width: 100%;
            margin-bottom: 10px;
        }
        .primaryButton {
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            background-color: #2a3a8d;
            color: #ffffff !important;
            border: none;
            width: 100%;
        }
        .inputWidth {
            width: 280px !important;
        }

        .flex-col {
            width: 280px;
        }

        .modal-content {
            width: 100% !important;
        }

        .otp-input {
            font-size: 16px;
        }

        .pipeline {
            border: 0;
            margin-top: 24px;
        }

        .accountDetailCard {
            width: 288px;
            box-shadow: none !important;
            border: 1px solid rgba(42, 58, 141, 0.18);
        }

        .position-accountDetailCardmenupanel {
            position: relative;
            right: 0;
        }

        .resSetpassword {
            padding: 0;
            /* display: flex; */
            justify-content: center !important;
        }

        .wrapper .otp-input:not(:last-child) {
            margin-right: 11px !important;
        }

        .flex-col-view {
            width: 210px;
        }

        .ViewItdreinInputWidth {
            width: 219px;
        }

        .listview-position {
            position: absolute !important;
            left: 62% !important;
            top: 30px !important;
            z-index: 999 !important;
        }

        .BO-Wrapper {
            padding: 0 !important;
        }
    }

    @media only screen and(max-width: 390px) {
        .mat-radio-button {
            display: block !important;
        }

        .radio-mar-over-wirte .ml-4 {
            margin-left: 0 !important;
        }

        .flex-col-view {
            width: 192px;
        }

        .ViewItdreinInputWidth {
            width: 200px;
        }

        .MatChipWidth {
            width: 227px;
        }

        .filterMiniContainer {
            width: 328px;
        }

        .modal-radio-align .mat-radio-button {
            display: inline-block !important;
        }

        .largeSearchInputWidth {
            width: 330px;
        }
    }

    /* Response to Outstanding Demand */
    .responsedetail-border {
        border: 1px solid #dee2e6;
        padding: 10px;
    }
    .responsedetail-bg {
        background: #eeeff6;
        border-right: 0;
    }
    .list-group-item {
        padding: 1rem 1.25rem !important;
    }

    /* Timeline */
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding: 0;
    }
    ul.timeline:before {
        content: ' ';
        background: rgba(42, 58, 141, 0.18);
        display: inline-block;
        position: absolute;
        left: 8px;
        top: 17px;
        width: 2px;
        height: calc(100% - 59px);
        z-index: 400;
    }
    ul.timeline > li {
        margin: 12px 0;
        padding-left: 30px;
    }
    .bgsize-small {
        background-size: 16px !important;
    }
    /* Stepper */
    .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {

        background-color: #218737 !important;

    }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
        color: var(--primary-text) !important;
        font-size: 0.875rem !important;
        font-weight: 500 !important;
        text-transform: capitalize !important;
        padding-top: 0 !important;
        text-align: left !important;
    }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li .step-indicator {
        border-radius: 5px !important;
        line-height: 35px !important;
        width: 34px !important;
        height: 37px !important;
        background: #fff !important;
        border: 2px solid rgba(42, 58, 141, 0.18);
        left: calc(13% - 50px / 2) !important;

    }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator {
        /* width: 50%!important; */
        margin: 20px 0 !important;
    }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator li {
        text-align: left !important;
    }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.current .step-indicator {
        background-color: #fff !important;
        border: 2px solid var(--secondary-color);
    }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li:not(:last-child):before {
        width: calc(100% - 30px) !important;
        top: -30px !important;
        left: calc(5% + 50px / 2) !important;
    }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.done .step-indicator {
        background-color: #27833d !important;
        color: #fff !important;
        border: none;
    }

    .awCompleted aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li:first-of-type .step-indicator {
        background-color: #27833d !important;
    }

    /* ITBO */
    .itbonav .nav-link.active {
        color: var(--header-bg) !important;
        background-color: #eeeff6 !important;
        border-radius: 0 !important;
        border-left: 3px solid var(--header-bg) !important;

    }
    .itbonav > div > a {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: 0;
        text-align: left;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    .mat-button-toggle-checked > button > .mat-button-toggle-label-content > .mat-icon {
        color: var(--panel-color)
    }

    .accordion .card-header::before {
        content: url('../src/assets/downarrow.png');
        float: left;

    }
    .accordion .card-header.collapsed::before {
        content: url('../src/assets/nextArrow.svg');
    }
    .mat-checkbox-layout {
        white-space: normal !important;
    }


    /* ALERT */
    .alert-danger {
        color: var(--error-bg) !important;
        background-color: #fef2f3 !important;
        font-weight: 500;
        font-size: 1.25rem !important;
        padding: 1.25rem !important;
    }


    /* TABLE */
    .table thead th {
        border-bottom: 1px solid #dee2e6 !important;
        font-size: var(--body2-fontSize);
        font-weight: 500;
        padding: 1rem;
    }
    .table {
        border: 1px solid #dee2e6;
    }
    .table thead {
        background: #eeeff6;
    }

    .table td {
        font-size: var(--body2-fontSize);
    }
    .regular-title {
        font-size: var(--heading5-fontSize);
        font-style: normal;
        font-stretch: normal;
        color: var(--primary-text);
    }

    .tableAccordion-width {
        width: 10%;
    }
    .table .tableAccordion-width {
        border-top: 0;
    }
    .timeline-incomplete
     {
  background: url("/assets/timeline-incomplete.png");
  background-size: 18px;
  background-repeat: no-repeat;
     }
    .launchIcon {
      background: url(/assets/buttonIcons/launch.svg) no-repeat;
    }
    .bankacc-tablelineheight div .ag-theme-balham .ag-cell
    {
        line-height: 21px!important;
    }

    .tableErrorMessage {
        padding: 8px;
        border-radius: 4px;
        font-size: 12px;
        background-color: rgba(205, 32, 38, 0.05);
        color: #cd2026;
        margin: 5 0 8px;
        width: 337px;
        height: 35px;
    }
    .showAll {
        color: #0875e2;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
    .countInvalidRows {
        margin-right: 16px
    }
    .searchBoxTableInput {
        width: 337px;
        height: 40px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.45px;
        border-radius: 4px;
        border: solid 1px rgba(0, 0, 0, 0.18);
        padding: 12px 12px 9px;
    }
    .searchBoxTableInput:focus {
        border: solid 1px #0875e2;
    }
    .matSearchIcon {
        position: absolute;
        margin-left: -32px;
        padding-top: 10px;
    }
    .tableInfo {
        min-height: 55px;
    }
    mat-card.mat-card-palegrey {
        background-color: #edf6ef !important;
    }
    .modal.fade.show {
        display: flex !important;
        align-items: center !important;
    }
/*CSS for tax credit*/
.ag-theme-balham .ag-header{
    font-size: var(--body2-fontSize) !important;
}

span.ag-header-group-text{
    color: black !important;
  }
  .ag-theme-balham .ag-cell {
    padding-left: 16px;

}
.ag-header-cell,  .ag-header-group-cell {
    border-right: 1px solid black;
  }


.inputBoxWidth {
    width: 21.0625rem;
}

.inputBoxWidthSmall {
    width: 11.25rem;
}

.mat-success {
        padding: 8px;
        font-family: Roboto, sans-serif;
        font-size: var(--body2-fontSize);
        color: #218737;
        border-radius: 4px;
        background-color: #edf6ef;
        margin-top: -20px;
        margin-bottom: 24px;
        /* width: 264px; */
        min-height: 35px;
}

aw-wizard.fixWizard  ul.steps-indicator.steps-2 {
    padding-left: 1% !important;
    width: 50% !important;
}

.ngxIntlInputHuf {
    width: 21.0625rem !important;
}

.hyperlinkPan{
    cursor: pointer;
    color: #0875e2;

}

.iconMat > .mat-icon {
    color: white !important;
}

.noPointerStepper{
    pointer-events: none !important;
}

.noPointerStepper .mat-vertical-stepper-header{
    padding: 2px 24px 24px 24px !important;
}

.noPointerStepper .mat-step-icon .mat-icon, .mat-step-icon-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white !important;
}

.mat-expansion-panel-header:not([aria-disabled=true]):focus{
    background: white !important;
    border:1px solid rgba(8, 117, 226, 0.6);
}

.customLoaderBackdrop {
    opacity: 0;
}
.customLoaderPanel .mat-dialog-container{
    padding: 10px 12px;
    color: var(--dusk-blue);
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-size: var(--body2-fontSize)
}


/* .ngxIntlInputBorder.ng-invalid.ng-touched {
    border: 1px solid var(--field-bg) !important;
} */

ngx-intl-tel-input.ng-invalid.ng-touched.ng-dirty .ngxIntlInputBorder {
    border: 1px solid #cd2026;
    border: 1px solid var(--error-bg);
}


textarea:disabled {
    background-color: rgba(0, 0, 0, 0.00) !important;
    background-color: var(--disabled-input);
    color: rgba(0, 0, 0, 0.6);
}
mat-form-field#userProfile {
    margin-top: 2.5px;
}
#userProfile > div > div > div > mat-select > div > div .mat-select-arrow {
    display: none !important;
}
#userProfile > div > .mat-form-field-underline {
    display: none !important;
}
#userProfile > div > div > div > mat-select > .mat-select-trigger {
    height: 3.125em;
}
.menuLinesIcon > span > mat-icon {
    color: #fff;
}
@media (min-width: 1140px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px !important;
    }
}
@media (max-width: 1139px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 768px !important;
    }
}