<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ITD</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/in10s.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<style>

</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-0">
          <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">Income Tax Returns (Download/Import Pre-filled
              Data)</a></li>
          <li class="breadcrumb-item active"><span>Import ITR Data</span></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-2">
      <!-- <h3>Income Tax Returns</h3> -->
      <div class="mb-5">
        <!-- <div class="row"> -->
          <!-- <div class="col-md-12 mb-3"> -->
            <!-- <p>To import your pre-filled data, please upload the respective json</p> -->
          <!-- </div> -->
        <!-- </div> -->
		
		
		<div class="clearfix"></div>
        <div class="row mt-3">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <div class="">
                 
                  <p>Correct the errors  mentioned below and re-upload the return here</p>
                </div>
				
                <div class="mt-2" id="upload">
                  <button class="attachButton">Attach File</button>
                  <input type="file"
                    value="">
                  <p class="mt-2">Only .json files.</p>
            
                </div>
              
               <div class="bootbox3 mt-3">
			   <div class="row">
			   <div class="col-md-12">
			   <label class="ml-2">Abc-ITR1.Jason:</label><label class="ml-5">23 errors found</label>
			   </div>
			   </div>
    <!-- <div id="uploadcomplete" class="attachBox"> -->
              <!-- <div class="flex-row w-100"> -->
                 <!-- <div class="col-md-12 pl-0"><label class="fRM14" id="filename">Photo Lorem Ipsum.json</label></div> -->
                 <!-- <div class="col-md-12 pl-0 pr-5"> -->
                      <!-- <div class="progress w-100" style="height: 3px;"> -->
                 <!-- <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>  -->
                    <!-- </div> -->
                   <!-- </div>  -->
                 <!-- </div>  -->
                  
               <!-- </div>  -->
              </div>
			  <div class="clearfix"></div>
			  <div class="row">
			  <div class="col-md-12 mt-3">
			  <table class="table table1">
			  <thead>
			  <tr>
			  <th>S.No.</th>
			   <th>Error Description</th>
			   <th>Suggestion</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
			  <td>1.</td>
			   <td><span>Income claimed under the head salaries in Part B TI,but Schedule Salary</span><br>
			   <span>is not filed</span></td>
			   <td><span>Enter salary amount</span><br>
			   <span>in Sehedule Salry</span></td>
			  </tr>
			  	  <tr>
			  <td>2.</td>
			   <td><span>Income claimed under pofit and gain form specified business in Part </span><br>
			   <span>B TI,but Schedule BP is not filed</span></td>
			   <td><span>Enter profit and gains</span><br>
			   <span>amount in Schedule BP</span></td>
			  </tr>
			  <tr>
			  <td>3.</td>
			   <td><span>Donee PAN is same as "assesse PAN" or "PAN at Verification" </span>
			   </td>
			   <td><span>Enter Correct Donee</span>
			  </td>
			  </tr>
			   <tr>
			  <td>4.</td>
			   <td><span>Deduction u/s 80G is claimed but details are not provided Schedule 80G.</span>
			   </td>
			   <td><span>Provide detail in</span><br>
			   <span>schedule 80G</span>
			  </td>
			  </tr>
			   <tr>
			  <td>5.</td>
			   <td><span>Income claimed under the head salaries in Part B TI,but Schedule Salary</span><br>
			   <span>is not filed</span></td>
			   <td><span>Enter salary amount</span><br>
			   <span>in Sehedule Salry</span></td>
			  </tr>
			  </tbody>
			  </table>
			  </table>
			  </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 mt-4">
		<div class="row">
         <div class="col-md-6 pl-0"> 
          <button class="largeButton secondaryButton previousIcon iconBefore" (click)="navigate()"> Back </button> 
         </div> 
         
       </div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery-3.4.1.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap.min.js"></script>

</body>
</html>